
/* ==============================================
   II. PRIMARY COMPONENTS
      A. Header
	  B. Sidebar
	  C. Breadcrumbs/Topbar
=================================================
  A. Header
================================================= */
.navbar {
    z-index: 1030;
    margin-bottom: 0;
    border-radius: 0;
    min-height: 51px;
    background-color: #FFF;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1),0 1px 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1),0 1px 0 0 rgba(0, 0, 0, 0.1);
}
.navbar-brand {
    width: 200px;
    padding: 10px 20px;
}
.navbar-brand .navbar-logo {
    max-width: 125px;
    float: left;
}
/* Header Buttons */
.header-btns { padding: 10px }
.header-btns > div {
    display: inline-block;
    position: relative;
    margin-right: 5px;
}
.header-btns > div > button {
	color: #666;
	border-color: rgb(204,204,204) rgba(0, 0, 0, 0.19) rgba(0, 0, 0, 0.18);
	background-color: #f5f5f4;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, #ffffff 1%,#f5f5f5 100%);
    background-image: linear-gradient(to bottom, #ffffff 1%,#f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.header-btns > div > button:hover { color: #0094d2 }
.header-btns .user-menu > .btn:first-child { border-radius: 3px 0 0 3px }
.header-btns .user-menu > .btn:last-child { border: 0 }
/* Header Button Dropdowns */
.header-btns ul.dropdown-menu {
    margin-top: 17px;
    width: 300px;
    background: #f5f5f5;
    list-style: none;
    left: 0;
    padding: 0;
    border: 0;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
}
/* Positions individual button dropdowns */
.messages-menu ul.dropdown-menu { margin-left: -45px }
.tasks-menu ul.dropdown-menu {
    width: 430px;
    margin-left: -240px;
}
.user-menu ul.dropdown-menu {
    width: 250px;
    margin-left: -120px;
}
.alerts-menu ul.dropdown-menu {
    width: 300px;
    margin-left: -70px;
}
/* Header Menu Dropdown - Header */
.header-btns .dropdown-header {
    padding: 12px 20px;
    margin: 0;
    z-index: 999;
    font-size: 14px;
    font-weight: 700;
    color: #555;
    background: #FFF;
    position: relative;
    border-radius: 3px 3px 0 0;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1),0 2px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1),0 2px 3px rgba(0, 0, 0, 0.05);
}
/* Header Menu Dropdown - Items */
.dropdown-menu ul.dropdown-items {
    padding: 0;
    list-style: none;
}
ul.dropdown-items > li {
    padding: 10px 14px;
    margin: 0;
    border-bottom: 1px solid #DDD;
    z-index: 888;
    position: relative;
    cursor: pointer;
	font-size: 13px;
}
.user-menu ul.dropdown-items > li { padding: 8px 14px }
ul.dropdown-items > li:hover { background: #EEE }
ul.dropdown-items > li:last-child { border-bottom: 0 }
ul.dropdown-items > li a:hover {
    background: transparent;
    text-decoration: none;
	color: #666;
}
/* Header Menu Dropdown - Footer */
.header-btns .dropdown-footer {
    padding: 11px 20px;
    margin: 0;
    z-index: 999;
    font-size: 11px;
    color: #999;
    background: #FFF;
    text-align: center;
    position: relative;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1),0 -2px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1),0 -2px 3px rgba(0, 0, 0, 0.05);
}
.header-btns .dropdown-footer a { color: #428bca }
.header-btns .dropdown-footer a:hover { background: transparent }
.header-btns .dropdown-footer i.fa { padding-left: 3px }
/* Header Menu Dropdown - Top Directional Arrow */
.header-btns .menu-arrow {
    position: absolute;
    top: -12px;
    left: 10%;
    overflow: hidden;
}
.header-btns .menu-arrow .menu-arrow-up {
    background: url(../img/form/menu-arrow-up.png) no-repeat top left;
    width: 25px;
    height: 14px;
    display: block;
}
.messages-menu .menu-arrow { left: 20% }
.alerts-menu .menu-arrow { left: 27% }
.tasks-menu .menu-arrow { left: 59% }
.user-menu .menu-arrow { left: 69% }
/* Header Menu Dropdown - Item contents */
/* Item Avatar */
.header-btns .item-avatar {
    width: 45px;
    margin-right: 12px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #CCC;
}
/* Item Icon */
.header-btns .item-icon {
    width: 40px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
    color: #888;
}
.tasks-menu .item-icon { width: 30px }
/* Item Message */
.header-btns .item-message {
    width: 200px;
    display: inline-block;
    vertical-align: middle;
}
.user-menu .item-message { width: 170px }
.tasks-menu .item-message { width: 215px }
/* Item Label */
.header-btns .item-label {
    width: 80px;
    display: inline-block;
}
/* Item Checkbox */
.header-btns .item-checkbox {
    position: absolute;
    right: 20px;
    top: 14px;
}
/* User Dropdown Menu */
.user-menu .dropdown-lockout {
    width: 50%;
    float: left;
    font-size: 13px;
    padding: 11px 0 11px 15px;
    background: #fff;
    border-top: 1px solid #bbb;
}
.user-menu .dropdown-signout {
    width: 50%;
    float: left;
    padding: 11px 5px 11px 15px;
    background: #fff;
    border-left: 1px dashed #ccc;
    border-top: 1px solid #bbb;
}
/* User Dropdown Menu - Signout Buttons */
.user-menu .dropdown-lockout .fa, .user-menu .dropdown-signout .fa {
    padding-right: 7px;
    font-size: 20px;
    color: #888;
    vertical-align: top;
}
/* Dropdown Checklist Toggle - The Task menu is a clickable checklist */
.task-checked > div:not(.item-checkbox) { opacity: 0.4 }
/* add a text line through effect on any clickable checklist by adding ".text-slash" */
.task-checked .text-slash { text-decoration: line-through }

/*===============================================
   B. SideMenu
================================================= */
/* SIDEBAR ALTERNATE STYLES */
/* Flat White */
#sidebar.sidebar-alt-white ul.sidebar-nav > li > a {
    background: #FFF;
    border-color: #ddd;
}
#sidebar.sidebar-alt-white ul.sub-nav {
    background: #f8f8f8;
    border-color: #ddd;
}
/* Flat Grey */
#sidebar.sidebar-alt-grey:before { background: #f2f2f2 }
#sidebar.sidebar-alt-grey ul.sidebar-nav > li > a {
    background: #f2f2f2;
    border-color: #ddd;
}
#sidebar.sidebar-alt-grey ul.sub-nav {
    background: #f8f8f8;
    border-color: #ddd;
}

/*===============================================
   C. Topbar/Breadcrumbs
================================================= */
#topbar {
    z-index: 1023;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 52px;
    max-height: 52px;
    padding-left: 20px;
    border-left: 1px solid #d2d2d2;
    border-bottom: 1px solid #CCC;
    background: url(../img/patterns/8.png) repeat top left;
}
.breadcrumb {
    float: left;
    padding: 0;
    padding-top: 16px;
    margin-bottom: 0;
    border-radius: 0;
    font-size: 14px;
    background-color: transparent;
}