
/* ==============================================
   IV. THEME ELEMENTS
	  A. Icons
	  B. Labels
	  C. Badges
	  D. Alerts
	  E. Buttons
	  F. Progress Bars
	  G. Sliders
	  H. Field Elements
      I. Tables
	  J. Pricing Tables
	  K. Tabs
	  L. Paginations
	  M. Bootstrap Modals
	  N. Custom Modals
	  O. Boostrap Popover
=================================================
  A. ICONS - See Documentation For More Info
================================================= */

/* Some font libraries have large file sizes. 
* We optionally can attach .wf-loading to the 
* body tag and have the fonts only visible after 
* they are fully loaded or cached. Prevents rough
* icon flash and is currently used only on index.html */
.wf-loading .glyphicons,
.wf-loading .glyphicon,
.wf-loading .imoon,
.wf-loading .fa,
.wf-loading .iconsweets { 
	opacity: 0 !important;
}
/* Icon Transitions */ 
.glyphicon, .glyphicons,
.imoon, .fa, .iconsweets { 
	opacity: 1;
	transition: opacity 0.3s ease-in;
   -moz-transition: opacity 0.3s ease-in;
   -webkit-transition: opacity 0.3s ease-in;
}
/* Glyphicon Pro and Halfling */
.glyphicons-2x, .glyphicon-2x { font-size: 2em }
.glyphicons-3x, .glyphicon-3x { font-size: 3em }
.glyphicons-4x, .glyphicon-4x { font-size: 4em }
.glyphicons-5x, .glyphicon-5x { font-size: 5em }
/* Icomoon Font Icons */
.imoon-2x { font-size: 2em }
.imoon-3x { font-size: 3em }
.imoon-4x { font-size: 4em }
.imoon-5x { font-size: 5em }
/* IconSweets2 Font Icons */
.iconsweets-2x { font-size: 2em }
.iconsweets-3x { font-size: 3em }
.iconsweets-4x { font-size: 4em }
.iconsweets-5x { font-size: 5em }

/* Buttons with Icons 
* Cross browser problems were creating problems when
* an icon was given a larger font size than its sibling
* text. To fix Line height, vertical align, and top
* positioning have been redefined */
.btn .glyphicon, .btn .glyphicons { 
	top: -1px;
	vertical-align: middle;
	line-height: 0;
	font-size: 1.1em;
}
/* A Helper Class to Align Icons Right in Control-forms */
span.field-icon-right,
i.field-icon-right {
    position: absolute;
    right: 10px;
    top: 8px;
}

/* Widget Specific Icon Styling 
* ALL elements which use icons have been
* moved from their respective positions
* and placed here for easy icon styling */

/* Header Button Icons */
.header-btns > div > button > .glyphicon,
.header-btns > div > button > .glyphicons,
.header-btns > div > button > .fa,
.header-btns > div > button > .imoon,
.header-btns > div > button > .iconsweets {
		font-size: 1.25em;
}
/* Special on-hover styles for user dropdown menu */
.user-menu ul.dropdown-items > li:hover .glyphicon { color: #d9534f; }
.user-menu ul.dropdown-items > li:last-child:hover .glyphicon { color: #888; }
.user-menu ul.dropdown-items > li:last-child > div:hover .glyphicon { color: #d9534f; }
/* Panel Heading Icon */
.panel-heading .panel-title .glyphicon {
    padding-right: 8px;
    font-size: 17px;
    top: 2px;
}
/* Sidebar Toggle Icon */
.sidebar-toggle .glyphicon { top: 2px; }
/* Breadcrumb "Home" Icon */
.breadcrumb .glyphicon {
	color: #777;
    font-size: 12px;
    top: 0;
}
/* Panel Sidemenu Icons */
.panel-sidemenu ul.nav li a:hover { background: none }
.panel-sidemenu ul.nav li .fa {
    width: 28px;
    color: #BBB;
    font-size: 18px;
}
.panel-sidemenu ul.nav li:hover, .panel-sidemenu ul.nav li:hover .fa { Color: #5bc0de }
.panel-sidemenu ul.nav li.active, .panel-sidemenu ul.nav li.active .fa { color: #5bc0de }
/* Panel Tabs Icons */
.panel-tabs li .glyphicon,
.panel-tabs li .glyphicons,
.panel-tabs li .fa { 
	font-size: 14px 
}
.panel-tabs .imoon,
.panel-tabs .iconsweets {
    font-size: 14px;
    vertical-align: middle;
}
/* Mildly styles a font awesome based icon group
 * used in occasionaly in panel heading. Look at 
 * message widget on index.html for example */
.mini-action-icons .fa {
    position: relative;
    top: 2px;
    padding-right: 10px;
    color: #777;
    font-size: 16px;
    cursor: pointer;
}
/* Pricing Table Icons */
.pricing-tables .pricing-icons li .fa-times { color: #e74a4a }
.pricing-tables .pricing-icons li .fa-ellipsis-h { color: #555 }
/* Tab Navigation Icons */
.nav-tabs li .fa { font-size: 14px }
.nav-tabs li .fa.fa-caret-down { font-size: 12px }
/* Accordion Widget Toggle Arrows */
.accordion .accordion-toggle-icon i.fa {
    float: left;
    line-height: 36px;
    min-width: 31px;
    padding-right: 5px;
    font-size: 18px;
}
/* Timeline Widget Icons */
.timeline-widget span.glyphicons {
    z-index: 11;
    position: relative;
	top: 2px;
    width: auto;
    padding: 6px;
    font-size: 18px;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 2px #AAA;
    box-shadow: 1px 1px 2px #AAA;
    @include light-gradient($light2-color);
}

/*===============================================
  B. Labels
================================================= */
.label {
    padding: .3em .7em .4em;
    font-size: 84%;
    font-weight: 600;
}
/* Label Shapes - ".label" required */
.label.label-rounded {
    padding: .2em 0.85em .3em;
    border-radius: 1em;
}
/* Label Sizes - ".label" required */
.label-sm {
    padding: .2em .6em .3em;
    font-size: 75%;
}
.label-lg {
    padding: .4em .9em .5em;
    font-size: 95%;
}
label.error {
    color: #d9534f;
    font-size: 12px;
    font-weight: 600;
}

/*===============================================
  C. Badges
================================================= */
.badge {
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 600;
}
/* Badge Sizes - ".badge" required */
.badge-sm {
    padding: 2px 6px;
    font-size: 11px;
}
.badge-lg { padding: 4px 8px }

/*===============================================
  D. Alerts
================================================= */
/* Alert Sizes */
.alert { font-size: 14px }
.alert-sm { padding: 8px 35px 8px 15px }
.alert-lg {
    padding: 25px 35px 25px 15px;
    font-size: 16px;
}
/* Alert Dismiss Icon */
.alert-dismissable .close { color: #666 }

/*===============================================
  E. Buttons
================================================= */
/* Button Settings */
.btn {
    color: $light-color;
    outline: none;
	line-height: 1.47;
}
.btn:focus { color: $light-color; }
.btn-link { color: #444 }
.btn-link:hover { color: #444 }
/* Button Sizes */
.btn-sm { line-height: 1.5; }
.btn-lg { line-height: 1.33;}
/* Button Shapes */
.btn-square { border-radius: 0; }

/* Button Colors 
* These are only colors that follow Bootstraps
* color scheme. Stardom includes many more colors
* are at end of this doc or in the SASS Partials */
.btn-success.btn-gradient {
    border-color: #3f9d00;
    background-color: $success-alt-color;
}
.btn-info.btn-gradient {
    border-color: #269abc;
    background-color: $info-alt-color;
}
.btn-primary.btn-gradient { background-color: $primary-alt-color; }
.btn-warning.btn-gradient { background-color: $warning-alt-color; }
.btn-danger.btn-gradient { background-color: $danger-alt-color; }
.btn-default.btn-gradient { background-color: $default-alt-color; }

/* Adds a custom "Alert"(purple) button to 
 * the Bootstrap button lineup */
.btn-alert { background-color: $alert-color; }
.btn-alert.btn-gradient { background-color: $alert-alt-color; }

.btn-alert .caret { border-top-color: $light-color; }
/* Button Hover effect */
.btn:hover {
	@include light-gradient-hover;
}
.btn-gradient:hover {
	@include gradient-hover;
}
/* Button Gradients 
 * Gradients are created using a transparent gradient 
 * overlay. This way you can transform any element 
 * with a background color into a gradient without 
 * having to use additional colors */
.btn-gradient {
    @include gradient("");
}

/*===============================================
  F. Progress Bars
================================================= */
.progress {
    height: 18px;
    background-color: #f1f1f1;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}
.progress-bar { line-height: 18px }
/* Progress Bar Sizes - ".progress" always required */
.progress.progress-sm { height: 12px }
.progress.progress-sm .progress-bar { line-height: 12px }
.progress.progress-lg { height: 28px }
.progress.progress-lg .progress-bar { line-height: 28px }

/*===============================================
  G. Sliders
================================================= */
/* Slider Container */
.ui-rangeSlider .ui-rangeSlider-bar {
    margin: 5px 0;
    height: 20px;
    background-color: #6390a7;
}
/* Slider Inner bar */
.ui-rangeSlider .ui-rangeSlider-innerBar {
    height: 24px;
    margin: 3px 0;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0, 0.10) inset, 0 -1px 0 rgba(255,255,255, 0.65) inset;
    box-shadow: 0 1px 2px rgba(0,0,0, 0.10) inset, 0 -1px 0 rgba(255,255,255, 0.65) inset;
}
/* Slider Label */
.ui-rangeSlider-label {
    border: 0;
    box-shadow: none;
    background: none;
    background-image: none;
}
.ui-rangeSlider-label-value {
    position: relative;
    top: -8px;
    min-width: 40px;
    min-height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
    background: #fafafa;
    background-image: none;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0, 0.25);
    box-shadow: 0 1px 2px rgba(0,0,0, 0.25);
}
.ui-rangeSlider-label:after {
    content: "\f0d7";
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0 -6px;
    color: #f8f8f8;
    font-family: FontAwesome;
    font-size: 18px;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0, 0.25);
}
/* Slider Input Label */
input.ui-editRangeSlider-inputValue {
    border: 1px solid #DDD;
    width: 2.2em;
}
/* Slider Handles */
.ui-rangeSlider .ui-rangeSlider-handle { background: none }
.ui-rangeSlider .ui-rangeSlider-handle-inner {
    background: url(../img/form/slider-knob.png) no-repeat center top;
    width: 22px;
    height: 24px;
}
.ui-rangeSlider-leftHandle .ui-rangeSlider-handle-inner { margin-left: -10px }
.ui-rangeSlider-rightHandle .ui-rangeSlider-handle-inner { margin-left: -4px }
/* Slider Arrows */
.ui-rangeSlider-arrow { margin: 6px 0 }
.ui-rangeSlider-arrow.ui-rangeSlider-leftArrow { left: -13px !important }
.ui-rangeSlider-arrow.ui-rangeSlider-rightArrow { right: -13px !important }

/*===============================================
  H. Field Elements
================================================= */
/* Alternate Text Field Style - Gradient */
.text-field-alt {
	@include light-gradient($light2-color);
    min-height: 40px;
    border-radius: 1px;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* Default Select List */
select { cursor: pointer; }

/* Boostrap Input Groups */
.input-group-addon { min-width: 40px }
/* Bootstrap Help Block */
.help-block {
    margin-top: 7px;
    color: #888;
}
/* Checkboxes and Radios */
div.checker, div.checker span, div.checker input { cursor: pointer }
div.checker, div.radio { margin-right: 3px }
label .checker, label .radio, .form-horizontal label .checker, .form-horizontal label .radio { padding-top: 0 }
.radio-inline, .checkbox-inline {
    padding-left: 5px;
    vertical-align: top;
}

/* JQuery UI Spinner */
.ui-spinner-input {
    color: inherit;
    min-height: 36px;
}
.ui-spinner-button {
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 16px;
    height: 50%;
    padding: 0;
    margin: 0;
    font-size: .5em;
    text-align: center;
}
.input-group .ui-spinner .form-control:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.ui-spinner .ui-icon {
    position: absolute;
    margin-top: -2px;
    top: 50%;
    left: 0;
    text-indent: 0;
}
.ui-spinner-up .ui-icon { margin-top: -6px }
.ui-spinner-up { top: 0 }
.ui-spinner-down { bottom: 0 }
/* TR overrides */
.ui-spinner .ui-icon-triangle-1-s {
    /* needed to correct false icon sprite pos */
    background-position: -65px -16px;
}

/*===============================================
  I. Tables
================================================= */
/* Table first item changes */
.table tbody > tr:first-child > td { border-top: 0 }
/* Table-striped item changes */
.table-striped > tbody > tr:nth-child(even) > td {
    background-color: #f8f8f8;
    border-bottom: 1px dashed #c9c9c9;
    padding: 13px 8px;
}
.table-striped > tbody > tr:nth-child(odd) > td {
    background-color: #FFF;
    border-bottom: 1px dashed #c9c9c9;
    padding: 13px 8px;
}

/*===============================================
  J. Pricing Tables
================================================= */
/* Regular Pricing Plan */
.pricing-tables .pricing-plan {
    padding: 0 0 20px 0;
    margin: 30px -16px 20px -16px;
    border: 1px solid #CCC;
    background-color: #f6f6f6;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
/* Pricing Table Title */
.pricing-tables .pricing-title {
    padding: 25px 5px 20px;
    border-bottom: 1px solid #DDD;
}
.pricing-tables .pricing-title h3 {
    margin-bottom: 0;
    font-weight: 200;
    text-transform: none;
    font-size: 26px;
    color: #555;
}
/* Pricing Table Cost Figure */
.pricing-info { margin: 20px 0 }
.pricing-info .currency-sign {
    color: #333;
    font-size: 26px;
    font-weight: 200;
    display: inline-block;
    vertical-align: top;
    margin-left: -20px;
    padding-left: 5px;
    padding-top: 6px;
}
.pricing-info h2 {
    display: inline-block;
    margin-bottom: 0;
    color: #444;
    font-size: 54px;
    font-weight: 600;
}
.pricing-info h6 {
    color: #888;
    font-weight: 200;
    margin: 4px 0 0;
}
/* Pricing Table Item Features */
.pricing-features ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px solid #DDD;
}
.pricing-features li {
    padding: 10px 0;
    border-bottom: 1px solid #DDD;
    background-color: #FFF;
    color: #999;
    margin: 0;
}
.pricing-tables .pricing-features li b { font-weight: 600 }
.pricing-tables .pricing-features li i.fa {
    font-size: 15px;
    color: #777;
    padding-right: 8px;
}
/* Pricing Table Icons */
.pricing-tables .pricing-icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.pricing-tables .pricing-icons li {
    padding: 10px 0;
    border-bottom: 1px solid #DDD;
    background-color: #FFF;
    font-size: 18px;
    margin: 0;
}

/* Pricing Table Sign Up Button*/
.pricing-tables a.btn {
    margin-top: 25px;
    padding: 8px 26px;
}
/* Hero Pricing Plan Modifications */
.hero-plan { z-index: 10 }
.hero-plan .pricing-plan {
    background-color: #f6f6f6;
    padding: 0 0 20px 0;
    margin: 0 -17px 20px -17px;
    border-bottom: 1px solid #BBB;
    -webkit-box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
    box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
}
.hero-plan .pricing-plan .pricing-title {
    color: #FFF;
    margin: -1px -1px 0 -1px;
}
.hero-plan .pricing-plan .pricing-title h3 {
    color: #FFF;
    font-weight: 600;
}
.hero-plan .pricing-plan .pricing-subtitle {
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 4px;
    font-weight: 600;
}
.hero-plan .pricing-plan a.btn { margin: 40px 0 20px }

/*===============================================
  K. Tabs
================================================= */
/* TAB CONTAINER */
.tab-block { position: relative }
.tab-block .tab-content {
    overflow: auto;
    background-color: #FFF;
}
/* TAB CONTENT PANEL */
.tab-content {
    position: relative;
    z-index: 10;
    min-height: 170px;
    padding: 16px 12px;
    border: 1px solid #CCC;
}
/* TAB NAVIGATION */
.nav-tabs {
    position: relative;
    top: 1px;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav-tabs > li > a {
	@include light-gradient($light2-color);
    position: relative;
    z-index: 9;
    padding: 12px 16px;
    margin-right: -1px;
    font-weight: 700;
    color: #777;
    font-size: 12px;
    text-shadow: 0 1px #ffffff;
    border-color: #CFCFCF;
    border-radius: 0;
}
.nav-tabs > li:first-child > a { margin-left: 0 }
/* TAB NAVIGATION STATES */
.nav-tabs > li > a:hover {
    color: #428bca;
    border-color: #CFCFCF;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    cursor: default;
    position: relative;
    z-index: 12;
    color: #555555;
    background: #FFF;
    border-color: #CFCFCF;
    border-bottom: 1px solid #FFF;
}

/* open state for dropdown menus in nav 
 * containers. Also a direct bootstrap override */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    color: #428bca;
    border-color: #CFCFCF;
}
/* TAB NAVIGATION - ALT STYLE: BORDER */
.tabs-border.nav-tabs > li.active > a, .tabs-border .nav-tabs > li.active > a {
    margin-top: -1px;
    border-top: 2px solid #428bca;
}
/* TAB NAVIGATION - ALT STYLE: BACKGROUND */
.tabs-bg.nav {
    background: #f5f5f5;
    border: 1px solid #CCC;
    padding: 10px 10px 0;
}
/* TABS - NAVIGATION BELOW */
.tabs-below {
    position: relative;
    top: -1px;
}
.tabs-below > li {
    float: left;
    margin-top: -1px;
}
.tabs-below > li > a {
	@include light-gradient($light2-color);
    position: relative;
    z-index: 9;
    margin-right: -1px;
    padding: 12px 16px;
    font-size: 12px;
    color: #777;
    font-weight: 700;
    border: 1px solid #CFCFCF;
    text-shadow: 0 1px #ffffff;
}
/* TAB NAVIGATION STATES */
.tabs-below > li > a:hover { }
.tabs-below > li.active > a, .tabs-below > li.active > a:hover, .tabs-below > li.active > a:focus {
    cursor: default;
    position: relative;
    z-index: 12;
    color: #555555;
    background: #FFF;
    border-color: #CFCFCF;
    border-top: 1px solid #FFF;
}
/* TAB NAVIGATION - ALT STYLE: BORDER */
.tabs-border.tabs-below > li.active > a, .tabs-border .tabs-below > li.active > a {
    margin-bottom: -1px;
    border-bottom: 2px solid #428bca;
}
/* TAB NAVIGATION - ALT STYLE: BACKGROUND */
.tabs-bg.tabs-below {
    background: #f5f5f5;
    border: 1px solid #CCC;
    padding: 0 10px 10px;
}
/* TABS - NAVIGATION LEFT */
.tabs-left { float: left }
.tabs-left > li {
    float: none;
    margin: 0 -1px -1px 0;
}
.tabs-left > li > a {
	@include light-gradient($light2-color);
    padding: 12px 16px;
    color: #777;
    font-size: 12px;
    font-weight: 700;
    text-shadow: 0 1px #ffffff;
    border: 1px solid transparent;
    border-color: #CFCFCF;
}
/* TAB NAVIGATION STATES */
.tabs-left > li > a:hover { }
.tabs-left > li.active > a, .tabs-left > li.active > a:hover, .tabs-left > li.active > a:focus {
    color: #555;
    border-color: #CCC #FFF #CCC #CCC;
    cursor: default;
    position: relative;
    z-index: 12;
    background: #FFF;
}
/* TAB NAVIGATION - ALT STYLE: BORDER */
.tabs-border.tabs-left > li.active > a, .tabs-border .tabs-left > li.active > a {
    margin-left: -1px;
    border-left: 2px solid #428bca;
}

/* WELL TABS - GREY MICRO NAV TABS */
.well-tabs { position:relative; }
.well-tabs li {
	float: left;
	margin: 4px 6px;
}
.well-tabs li:first-child {	margin-left: 0; }
.well-tabs li a { 
	background: #f0f0f0;
	border-radius: 4px;
	border: 1px solid #DDD;
	font-size: 11px;
	font-weight: 600;
	color: #888;
	padding: 6px 8px;
	line-height: 15px;
}
.well-tabs li a:hover,.well-tabs li.active a {	background-color: #FFF; }
/* Same style but inversed colors */
.well-tabs-inverse li a { 
	background: transparent;
	border-radius: 4px;
	border: 1px solid #ddd;
	font-size: 11px;
	font-weight: 600;
	color: #888;
	padding: 6px 8px;
	line-height: 15px;
}
.well-tabs-inverse li a:hover,.well-tabs-inverse li.active a {
	background-color: #f0f0f0;
	border: 1px solid #ddd;
}

/*===============================================
  L. Paginations
================================================= */
/* MINI PAGERS */
.pager {
    margin: 5px 0;
    cursor: pointer;
}
.pager li > a, .pager li > span { font-size: 14px }
.pager.pager-sm li > a, .pager.pager-sm li > span { font-size: 12px }
.pager.pager-lg li > a, .pager.pager-lg li > span { font-size: 16px }
/* PAGINATIONS */
.pagination {
    margin: 5px 0;
    cursor: pointer;
}
/* ROUNDED PAGINATION */
.pagination-rounded > li:first-child > a { border-radius: 50% 0 0 50% }
.pagination-rounded > li:last-child > a { border-radius: 0 50% 50% 0 }
/* ALT STYLE */
.pagination-alt > li > a {
    margin: 0 4px;
    border-radius: 2px;
    font-weight: 600;
    color: #666;
    text-shadow: 0 1px #FFF;
    padding: 4px 11px;
    border-color: #ccc;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0, 0.1);
    box-shadow: 0 1px 2px rgba(0,0,0, 0.1);
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, #ffffff 1%,#f1f1f1 100%);
    background-image: linear-gradient(to bottom, #ffffff 1%,#f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.pagination-alt > li.active > a {
    background-color: #555;
    background-image: none;
    border-color: #444;
}
/* SIZES FOR ALT STYLE */
.pagination-alt.pagination-sm > li > a {
    margin: 0 3px;
    font-weight: 700;
    padding: 4px 9px;
}
.pagination-alt.pagination-lg > li > a {
    margin: 0 5px;
    padding: 4px 13px;
}
/* pagination-alt fixes */
.pagination-alt.pagination-sm > li:first-child > a, .pagination-alt.pagination-lg > li:first-child > a { margin-left: 0 }

/*===============================================
  M. Bootstrap Modals
================================================= */
/* Modal sizes - element always requires
 * default ".modal-dialog" class */
.modal-dialog-sm { width: auto }
@media screen and (min-width: 768px) { 
    .modal-dialog { padding-top: 50px }
    .modal-dialog-sm { width: 425px }
}
/* Modal Header */
.modal-header {
    position: relative;
    height: 52px;
    padding: 10px 20px 9px;
    color: #666;
    font-size: 14px;
    font-weight: 700;
    text-shadow: 0 1px #ffffff;
    line-height: 31px;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #c9c9c9;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15),0 -1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15),0 -1px 1px rgba(0, 0, 0, 0.05);
	
	@include light-gradient($light2-color);
}
.modal-header .modal-title { line-height: 31px }
.modal-header .close { margin-top: 6px }
/* Modal Body */
.modal-body { }
/* Modal Footer */
.modal-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

/*===============================================
  N. Custom Modals
================================================= */
/* Login Form Modal */
#formModal .modal-content {
	width: 400px;
	margin: 0 auto;
	position: relative;
}
#formModal .modal-header .modal-title {
	line-height: 35px;
}
#formModal .modal-header button {
	margin-top: 6px;
}
#formModal .modal-footer button {
	margin-top: 0;
}
#formModal .modal-body {
	padding: 15px 20px 0 20px;
}
#formModal #login-avatar {
	margin: 15px 20px 25px;
	padding-bottom: 25px;
	border-bottom: 1px dashed #DDD;
}
#formModal #login-avatar img {
	display: block;
	margin: 0 auto;
	padding: 5px;
	border: 2px solid #DDD;
}
#formModal .login-alert {
	font-size: 13px;
	padding: 9px 13px;
}

/*===============================================
  O. Boostrap Popover
================================================= */
.popover { z-index: 1100 }
