
/* ================================================
   III. PANELS
	  A. Heading
	  B. Titles
	  C. Panel Addon - Menu
	  D. Panel Addon - Sidemenu
	  E. Panel Addon - Body Searchbar
	  F. Panel Tabs
	  G. Panel Accordion 
	  H. Alternate Styles
===================================================
  A. Heading - Bootstrap Panels are a vital element
  in thisheme. Reading the Stardom Docs to better 
  understand this component is recommended
=================================================== */
/* Overflow is hidden by default. Helper class to reverse */
.panel.panel-visible, .panel-heading.panel-visible { overflow: visible !important }
.panel {
    position: relative;
    margin-bottom: 35px;
    overflow: hidden;
    border-color: #c9c9c9;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.33);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.33);
}
.panel-heading {
    overflow: hidden;
    position: relative;
    height: 57px;
    padding: 10px 20px 9px;
    color: #666;
    border-bottom: 1px solid #c9c9c9;
    font-size: 14px;
    font-weight: 700;
    line-height: 33px;
    border-radius: 3px 3px 0 0;
	@include light-gradient($light2-color);
}
.panel-title {
    float: left;
    padding-top: 1px;
    font-size: 14px;
    text-shadow: 0 1px #ffffff;
}
/* Helpful for wrapping form components in
 * when placing them in the header. Otherwise
 * they can break the title with their width */
.panel-heading .panel-field { max-width: 140px }

/*===============================================
  B. Titles
================================================= */
/* Used as a divider between panel content */
.panel-body-title {
    margin-bottom: 20px;
    padding: 10px 0 15px;
    color: #666;
    border-bottom: 1px solid #DDD;
    line-height: 18px;
}
/* Used as small text in panel header and footers */
.panel-title-sm {
    padding-right: 5px;
    color: #888;
    font-size: 12px;
    font-weight: 700;
    text-shadow: 0 1px #ffffff;
}

/*===============================================
  C. Panel Addon - Menu
  -----------------------------------------------
  Typically placed under the panel header 
  and used to hold buttons or menus 
================================================= */
.panel-menu {
    padding: 10px 13px;
    background-color: #eee;
    border-bottom: 1px solid #C9c9c9;
}
.panel-heading + .panel-menu {
    -webkit-box-shadow: 0 5px 5px -4px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 5px 5px -4px rgba(0, 0, 0, 0.15) inset;
}
.panel-menu .btn-default.btn-gradient.active {
    background-color: #FFF;
    color: #39b1d5;
    box-shadow: none;
}

/*===============================================
  D. Panel Addon - Sidemenu
  -----------------------------------------------
  A side column great for housing an
  extra nav list. When used its sibling
  panel body (content) is modified 
================================================= */
.panel-sidemenu + .panel-body {
    position: relative;
    float: left;
    width: 70%;
    margin: 40px 3.5% 100px;
    padding: 0;
}
/* Sidemenu and content are both floated. 
 * to create equal heights we expand the sidemenu 
 * with padding and allow its parent container 
 * to catch the overflow */
.panel-sidemenu {
    position: relative;
    float: left;
    width: 23%;
    height: 100%;
    padding: 5px;
    background-color: #f6f6f6;
    border-right: 1px solid #CCC;
    margin-bottom: -2000px;
    padding-bottom: 2000px;
}
.panel-sidemenu ul.nav {
    margin-top: 30px;
    padding-left: 30px;
}
.panel-sidemenu ul.nav li {
    margin-bottom: 4px;
    list-style: none;
}
.panel-sidemenu ul.nav li.nav-title {
    padding: 10px 0;
    color: #777;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0 1px #FFF;
}
.panel-sidemenu ul.nav li.nav-title:hover { color: #777 }
.panel-sidemenu ul.nav li a {
    padding: 5px 0;
    color: #888;
}
.panel-sidemenu ul.nav .divider {
    width: 80%;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background: #e2e2e2;
}
/* Sidemenu is hidden on small devices */
@media (max-width: 1000px) { 
    .panel-sidemenu { display: none }
    .panel-sidemenu + .panel-body {
        width: 93%;
        margin: 40px 3.5% 100px;
    }
}

/*===============================================
  E. Panel Addon - Body Searchbar
  -----------------------------------------------
  Useful anywhere but in this theme it is 
  only used or seen inside a panel body 
================================================= */
.search-widget { position: relative }
#search-widget {
    height: 85px;
    margin-bottom: 50px;
    padding: 20px 25px;
    background: #f4f7fa;
    border: 1px solid #d8dee6;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0, 0.05) inset;
    box-shadow: 0 0 3px rgba(0,0,0, 0.05) inset;
}
.search-bar-widget {
    float: left;
    width: 82%;
    min-height: 43px;
    padding: 9px 12px 9px 40px;
}
#search-widget .search-widget-icon {
    position: absolute;
    top: 14px;
    left: 15px;
    color: #999;
    font-size: 16px;
}
#search-widget button {
    float: left;
    width: 16%;
    margin-left: 2%;
    padding: 10px;
    font-weight: 600;
}
/* PANEL TAB CORRECTION */
/* If you want a panel-like footer inside a tababble
 * area you need to wrap the content in a ".tab-body"
 * class. See timeline.html for an example(event panel) */
.tab-body { padding: 20px 20px 15px }
.tab-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

/*===============================================
  F. PANEL TABS
  -----------------------------------------------
  Panel Tab Navigation must be placed inside
  ".panel-heading" see Stardom Docs for example 
================================================= */
.panel-tabs {
    float: right;
    margin-top: -10px;
}
.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.panel-tabs > li > a {
    line-height: 1.428571429;
    border-radius: 0;
    padding: 19px 15px 17px;
    border: 1px solid transparent;
    border-right: 1px solid #DDD;
    font-size: 12px;
    color: #777;
}
.panel-tabs > li > a:hover {
    background-color: transparent;
}
.panel-tabs > li:first-child > a { border-left: 1px solid #DDD }
/* hover and active states */
.panel-tabs > li.active > a, .panel-tabs > li.active > a:hover, .panel-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    background: #ffffff;
    padding: 19px 15px 21px;
}

/*===============================================
  G. Panel Accordion 
  -----------------------------------------------
  Created with Bootstrap Panels
================================================= */
.accordion.panel-group .panel {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.accordion.panel-group .panel + .panel { margin-top: 10px }
/* Accordion Header */
.accordion .panel-heading a {
    text-decoration: none;
    display: block;
}
/* Accordion Toggle Arrow States */
.accordion .accordion-toggle-icon i:first-child { display: block }
.accordion .accordion-toggle-icon i:last-child { display: none }
.accordion .collapsed .accordion-toggle-icon i:first-child { display: none }
.accordion .collapsed .accordion-toggle-icon i:last-child { display: block }
/* Accordion Widget - Alt Size, Small */
.accordion.accordion-sm .panel-heading {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
}
.accordion.accordion-sm .accordion-toggle-icon i:first-child, .accordion.accordion-sm .accordion-toggle-icon i:last-child { line-height: 40px }
/* Accordion Widget - Alt Style, White */
.accordion.accordion-alt.panel-group .panel {
    border-color: #DDD;
    box-shadow: none;
}
.accordion.accordion-alt.panel-group .panel > .panel-heading {
    background-color: #FFF;
    padding: 0 20px;
    height: 45px;
    line-height: 43px;
    font-size: 14px;
    box-shadow: none;
}
.accordion.accordion-alt.panel-group .panel > .panel-heading > a {
    color: #444;
    font-weight: 400;
}
.accordion.accordion-alt.panel-group .panel > .panel-heading > a.collapsed { color: #888 }
.accordion.accordion-alt.panel-group .panel > .panel-heading > a.collapsed:hover { color: #444 }
.accordion.accordion-alt .accordion-toggle-icon i:first-child, .accordion.accordion-alt .accordion-toggle-icon i:last-child {
    color: #BBB;
    line-height: 45px;
    font-size: 15px;
    min-width: 26px;
}
.accordion.accordion-alt.panel-group .panel .panel-body {
    background-color: #fcfcfc;
    padding: 20px 30px;
    line-height: 22px;
}

/*===============================================
  H. Alternate Styles
================================================= */
/* Minimal - Style */
.panel.panel-alt {
    border-color: #DDD;
    box-shadow: none;
    background: #FFF;
}
.panel.panel-alt > .panel-heading {
    height: 45px;
    padding: 0 20px;
    background-color: #FFF;
    font-size: 14px;
    line-height: 43px;
    box-shadow: none;
}
.panel.panel-alt .panel-body {
    padding: 20px 30px;
    background-color: #fcfcfc;
    line-height: 22px;
}