
/*=================================================
  I. SHARED STYLES
	 A. Global
	 B. Helper Classes
	 C. Typography
	 D. Animations
===================================================
  A. Global
=================================================== */
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',Helvetica, Arial, sans-serif;
    color: #666666;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    font-size-adjust: 100%;
    font-weight: 400;
    font-size: 13px;
	line-height: 1.475;
    background-color: #FFF;
}
#main {
    width: 100%;
    position: relative;
}
#content {
    margin-left: 240px;
    display: block;
    min-height: 100%;
	position: relative;
}
#content:after {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    display: block;
    z-index: -2;
    background-color: #e8e8e8;
    -webkit-box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.33) inset;
    box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.33) inset;
}
/* Bootstraps ".container" class has been changed to a fluid full 
 * width container. It's also used as the primary wrapper for 
 * our page content. To maintain typical bootstrap usability 
 * we apply the wrapper styles only to the direct child of #content. 
 * This insures it's only used once and can again be used elsewhere */
.container { width: 100% }
#content > .container {
    max-width: 1665px !important;
    padding: 35px 35px 50px 45px;
}

/*===============================================
  B. Class Helpers
================================================= */
.padding-none { padding: 0 !important }
.padding { padding: 10px !important }
.padding-sm { padding: 5px !important }
.padding-lg { padding: 22px !important }
.padding-top-none { padding-top: 0 !important }
.padding-top { padding-top: 14px !important }
.padding-top-sm { padding-top: 5px !important }
.padding-top-lg { padding-top: 22px !important }
.padding-right-none { padding-right: 0 !important }
.padding-right { padding-right: 14px !important }
.padding-right-sm { padding-right: 5px !important }
.padding-right-lg { padding-right: 22px !important }
.padding-bottom-none { padding-bottom: 0 !important }
.padding-bottom { padding-bottom: 14px !important }
.padding-bottom-sm { padding-bottom: 5px !important }
.padding-bottom-lg { padding-bottom: 22px !important }
.padding-left-none { padding-left: 0 !important }
.padding-left { padding-left: 14px !important }
.padding-left-sm { padding-left: 5px !important }
.padding-left-lg { padding-left: 22px !important }
.margin-none { margin: 0 !important }
.margin { margin: 14px !important }
.margin-sm { margin: 5px !important }
.margin-lg { margin: 22px !important }
.margin-top-none { margin-top: 0 !important }
.margin-top { margin-top: 14px !important }
.margin-top-lg { margin-top: 22px !important }
.margin-top-sm { margin-top: 5px !important }
.margin-right-none { margin-right: 0 !important }
.margin-right { margin-right: 14px !important }
.margin-right-lg { margin-right: 22px !important }
.margin-right-sm { margin-right: 5px !important }
.margin-bottom-none { margin-bottom: 0 !important }
.margin-bottom { margin-bottom: 14px !important }
.margin-bottom-lg { margin-bottom: 22px !important }
.margin-bottom-sm { margin-bottom: 5px !important }
.margin-left-none { margin-left: 0 !important }
.margin-left { margin-left: 14px !important }
.margin-left-lg { margin-left: 22px !important }
.margin-left-sm { margin-left: 5px !important }
.border-left-none { border-left: none !important }
.border-right-none { border-right: none !important }
.border-bottom-none { border-bottom: none !important }
.border-top-none { border-top: none !important }
.border-none { border: none !important }
.inline-object { display: inline-block !important }
/* Useful for centering columns that don't
 * occupy an entire body/container */
.center-column {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* Useful for emphasizing a disabled input */
.option-disabled { opacity: 0.6 }

/*===============================================
  C. Typography
================================================= */
ul, ol { padding-left: 30px }
li { margin-bottom: 7px }
a { color: #666 }
a:hover { color: #d9534f }
a:focus { outline: none }
p {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    line-height: 22px;
    font-weight: 400;
}
p.small, p small { font-size: 13px }
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: inherit;
    text-rendering: optimizelegibility;
    margin-bottom: 10px;
}
h1 {
    font-size: 30px;
    line-height: 45px;
}
h2 {
    font-size: 24px;
    line-height: 36px;
}
h3 {
    font-size: 18px;
    line-height: 27px;
}
h4, h5, h6 { line-height: 18px }
h4 { font-size: 14px }
h5 { font-size: 12px }
h6 {
    font-size: 11px;
    color: #999999;
    text-transform: uppercase;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    color: #999999;
}
.semi-bold { font-weight: 600 }
/* Dividers */
hr {
    margin: 35px 0;
    border-top: 1px solid #DDD;
}
hr.alt { border-top: 1px dashed #CCC }
hr.short { margin: 20px 0 }
hr.tall { margin: 55px 0 }
/* Specialty Header - Also a Divider */
.page-header {
    text-shadow: 0 1px #FFF;
    border-bottom: 1px solid #c9c9c9;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}

/*===============================================
  D. Animations
================================================= */
/* used in conjuction with "data-animate" 
 * attr to create a delayed page animation
 * read docs for more info on proper use*/
.animated-delay { opacity: 0 }
.sparkline-delay {
	height: 0;
	display: block;
	line-height: 40px;
}