/* ==============================================
  * All color variables used in this stylesheet
  * are stored in modules/_colors.scss	  
  
   VI. STARDOM COLOR SYSTEM
      A. Badges
	  B. Progress Bars
	  C. Slider Bars
	  D. Text
	  E. Buttons 
  
  * The Stardom Color System has two variations
  * of every color. A Light shade and a dark
  * shade. To create a gradient we set the 
  * elements background-color to the dark shade
  * and then apply a gradient overlay via 
  * the "gradient" mixin. 
================================================= 
  A. Badges
================================================= */
/* COLORS FOR BADGES - BOOTSTRAP THEMED */
.badge-default { background-color: $default-color; }
.badge-primary { background-color: $primary-color; }
.badge-success { background-color: $success-color; }
.badge-info { background-color: $info-color; }
.badge-warning { background-color: $warning-color; }
.badge-danger { background-color: $danger-color; }
.badge-alert { background-color: $alert-color; }
.badge-inverse, .label-inverse { background-color: $inverse-color; }
/* COLORS FOR BADGES - CUSTOM THEMED */
.badge-grey { background-color: $grey-color; }
.badge-dark { background-color: $dark-color; }
.badge-blue { background-color: $blue-color; }
.badge-teal { background-color: $teal-color; }
.badge-green { background-color: $green-color; }
.badge-purple { background-color: $purple-color; }
.badge-maroon { background-color: $maroon-color; }
.badge-pink { background-color: $pink-color; }
.badge-ruby { background-color: $ruby-color; }
.badge-red { background-color: $red-color; }
.badge-orange { background-color: $orange-color; }
.badge-yellow { background-color: $yellow-color; }

/*===============================================
  B. Progress Bars
================================================= */
.progress-bar-alert { background-color: $alert-color; }
.progress-bar-grey { background-color: $grey-color; }
.progress-bar-dark { background-color: $dark-color; }
.progress-bar-blue { background-color: $blue-color; }
.progress-bar-teal { background-color: $teal-color; }
.progress-bar-green { background-color: $green-color; }
.progress-bar-purple { background-color: $purple-color; }
.progress-bar-maroon { background-color: $maroon-color; }
.progress-bar-pink { background-color: $pink-color; }
.progress-bar-ruby { background-color: $ruby-color; }
.progress-bar-red { background-color: $red-color; }
.progress-bar-orange { background-color: $orange-color; }
.progress-bar-yellow { background-color: $yellow-color; }

/*===============================================
  C. Slider Bars
================================================= */
/* take note of where color class is applied */
.ui-rangeSlider.slider-alert .ui-rangeSlider-bar { background-color: $alert-color; }
.ui-rangeSlider.slider-grey .ui-rangeSlider-bar { background-color: $grey-color; }
.ui-rangeSlider.slider-dark .ui-rangeSlider-bar { background-color: $dark-color; }
.ui-rangeSlider.slider-blue .ui-rangeSlider-bar { background-color: $blue-color; }
.ui-rangeSlider.slider-teal .ui-rangeSlider-bar { background-color: $teal-color; }
.ui-rangeSlider.slider-green .ui-rangeSlider-bar { background-color: $green-color; }
.ui-rangeSlider.slider-purple .ui-rangeSlider-bar { background-color: $purple-color; }
.ui-rangeSlider.slider-maroon .ui-rangeSlider-bar { background-color: $maroon-color; }
.ui-rangeSlider.slider-pink .ui-rangeSlider-bar { background-color: $pink-color; }
.ui-rangeSlider.slider-ruby .ui-rangeSlider-bar { background-color: $ruby-color; }
.ui-rangeSlider.slider-red .ui-rangeSlider-bar { background-color: $red-color; }
.ui-rangeSlider.slider-orange .ui-rangeSlider-bar { background-color: $orange-color; }
.ui-rangeSlider.slider-yellow .ui-rangeSlider-bar { background-color: $yellow-color; }

/*======================================================
  D. Text
========================================================
* NOTE: Colors past this point use a much larger and 
* different naming system. These colors are only used on 
* vital theme elements to prevent unnecessary CSS bloat.
* But they still allow for unparralleled customization.
--------------------------------------------------------*/
.text-blue { color: $blue-color; }
.text-blue2 { color: $blue2-color; }
.text-blue3 { color: $blue3-color; }
.text-blue4 { color: $blue4-color; }
.text-blue5 { color: $blue5-color; }
.text-blue6 { color: $blue6-color; }
.text-blue7 { color: $blue7-color; }
.text-green { color: $green-color; }
.text-green2 { color: $green-color; }
.text-green3 { color: $green2-color; }
.text-green4 { color: $green3-color; }
.text-green5 { color: $green4-color; }
.text-red { color: $red-color; }
.text-red2 { color: $red2-color; }
.text-red3 { color: $red3-color; }
.text-red4 { color: $red4-color; }
.text-purple { color: $purple-color; }
.text-purple2 { color: $purple2-color; }
.text-purple3 { color: $purple3-color; }
.text-purple4 { color: $purple4-color; }
.text-orange { color: $orange-color; }
.text-orange2 { color: $orange2-color; }
.text-orange3 { color: $orange3-color; }
.text-orange4 { color: $orange4-color; }
.text-yellow { color: $yellow-color; }
.text-yellow2 { color: $yellow2-color; }
.text-creme { color: $creme-color; }
.text-creme2 { color: $creme2-color; }
.text-creme3 { color: $creme3-color; }
.text-brown { color: $brown-color; }
.text-brown2 { color: $brown2-color; }
.text-brown3 { color: $brown3-color; }
.text-dark5 { color: $dark5-color; }
.text-dark4 { color: $dark4-color; }
.text-dark3 { color: $dark3-color; }
.text-dark2 { color: $dark2-color; }
.text-dark { color: $dark-color; }
.text-light7 { color: $light7-color; }
.text-light6 { color: $light6-color; }
.text-light5 { color: $light5-color; }
.text-light4 { color: $light4-color; }
.text-light3 { color: $light3-color; }
.text-light2 { color: $light2-color; }
.text-light { color: $light-color; }
.text-alert { color: $alert-color; }

/*==========================================================
  E. Buttons
============================================================
* These elements were designed to function using only the 
* background-color style which makes it perfectly acceptable 
* to use them on any element which requires a background.
* They have only been given "btn" names to conform to typical
* bootstrap html styling. Feel free to change them!
------------------------------------------------------------*/
.btn-blue { background-color: $blue-color; }
.btn-blue2 { background-color: $blue2-color; }
.btn-blue3 { background-color: $blue3-color; }
.btn-blue4 { background-color: $blue4-color; }
.btn-blue5 { background-color: $blue5-color; }
.btn-blue6 { background-color: $blue6-color; }
.btn-blue7 { background-color: $blue7-color; }
.btn-green { background-color: $green-color; }
.btn-green2 { background-color: $green-color; }
.btn-green3 { background-color: $green2-color; }
.btn-green4 { background-color: $green3-color; }
.btn-green5 { background-color: $green4-color; }
.btn-red { background-color: $red-color; }
.btn-red2 { background-color: $red2-color; }
.btn-red3 { background-color: $red3-color; }
.btn-red4 { background-color: $red4-color; }
.btn-purple { background-color: $purple-color; }
.btn-purple2 { background-color: $purple2-color; }
.btn-purple3 { background-color: $purple3-color; }
.btn-purple4 { background-color: $purple4-color; }
.btn-orange { background-color: $orange-color; }
.btn-orange2 { background-color: $orange2-color; }
.btn-orange3 { background-color: $orange3-color; }
.btn-yellow { background-color: $yellow-color; }
.btn-yellow2 { background-color: $yellow2-color; }
.btn-creme { background-color: $creme-color; }
.btn-creme2 { background-color: $creme2-color; }
.btn-creme3 { background-color: $creme3-color; }
.btn-brown { background-color: $brown-color; }
.btn-brown2 { background-color: $brown2-color; }
.btn-brown3 { background-color: $brown3-color; }
.btn-dark5 { background-color: $dark5-color; }
.btn-dark4 { background-color: $dark4-color; }
.btn-dark3 { background-color: $dark3-color; }
.btn-dark2 { background-color: $dark2-color; }
.btn-dark { background-color: $dark-color; }
.btn-light7 { background-color: $light7-color; }
.btn-light6 { background-color: $light6-color; }
.btn-light5 { background-color: $light5-color; }
.btn-light4 { background-color: $light4-color; }
.btn-light3 { background-color: $light3-color; }
.btn-light2 { background-color: $light2-color; }
.btn-light { background-color: $light-color; }

/* BUTTONS - GRADIENT FORM
* These elements were designed to function using only the
* background-color style which makes it perfectly acceptable 
* to use them on any element which requires a background.
* They have only been given "btn" names to conform to typical
* bootstrap html styling. Feel free to change them!
----------------------------------------------------------*/
.btn-blue.btn-gradient { background-color: $blue-alt-color; }
.btn-blue2.btn-gradient { background-color: $blue2-alt-color; }
.btn-blue3.btn-gradient { background-color: $blue3-alt-color; }
.btn-blue4.btn-gradient { background-color: $blue4-alt-color; }
.btn-blue5.btn-gradient { background-color: $blue5-alt-color; }
.btn-blue6.btn-gradient { background-color: $blue6-alt-color; }
.btn-blue7.btn-gradient { background-color: $blue7-alt-color; }
.btn-green.btn-gradient { background-color: $green-alt-color; }
.btn-green2.btn-gradient { background-color: $green-alt-color; }
.btn-green3.btn-gradient { background-color: $green2-alt-color; }
.btn-green4.btn-gradient { background-color: $green3-alt-color; }
.btn-green5.btn-gradient { background-color: $green4-alt-color; }
.btn-red.btn-gradient { background-color: $red-alt-color; }
.btn-red2.btn-gradient { background-color: $red2-alt-color; }
.btn-red3.btn-gradient { background-color: $red3-alt-color; }
.btn-red4.btn-gradient { background-color: $red4-alt-color; }
.btn-purple.btn-gradient { background-color: $purple-alt-color; }
.btn-purple2.btn-gradient { background-color: $purple2-alt-color; }
.btn-purple3.btn-gradient { background-color: $purple3-alt-color; }
.btn-purple4.btn-gradient { background-color: $purple4-alt-color; }
.btn-orange.btn-gradient { background-color: $orange-alt-color; }
.btn-orange2.btn-gradient { background-color: $orange2-alt-color; }
.btn-orange3.btn-gradient { background-color: $orange3-alt-color; }
.btn-yellow.btn-gradient { background-color: $yellow-alt-color; }
.btn-yellow2.btn-gradient { background-color: $yellow2-alt-color; }
.btn-creme.btn-gradient { background-color: $creme-alt-color; }
.btn-creme2.btn-gradient { background-color: $creme2-alt-color; }
.btn-creme3.btn-gradient { background-color: $creme3-alt-color; }
.btn-brown.btn-gradient { background-color: $brown-alt-color; }
.btn-brown2.btn-gradient { background-color: $brown2-alt-color; }
.btn-brown3.btn-gradient { background-color: $brown3-alt-color; }
.btn-dark5.btn-gradient { background-color: $dark5-alt-color; }
.btn-dark4.btn-gradient { background-color: $dark4-alt-color; }
.btn-dark3.btn-gradient { background-color: $dark3-alt-color; }
.btn-dark2.btn-gradient { background-color: $dark2-alt-color; }
.btn-dark.btn-gradient { background-color: $dark-alt-color; }

/* COLOR MODIFICATIONS SPECIFICALLY FOR BUTTONS
* Any variations to buttons were placed below so that
* the above classes contain only color styles. This
* allows the styles to be used on any element rather 
* than just "Text" or "Buttons" as their name suggest
----------------------------------------------------------*/
.btn-creme { border-color: #f5c348 }
.btn-creme2 { border-color: #f7ca5c }
.btn-light6 { border-color: #e5e5e5 }
.btn-light7 { border-color: #eee }
.btn-light, .btn-light2, .btn-light3, .btn-light4, .btn-light5, .btn-light6, .btn-light7, .btn-default { color: #555 }
.btn-light:focus, .btn-light2:focus, .btn-light3:focus, .btn-light4:focus, .btn-light5:focus, .btn-light6:focus, .btn-light7:focus, .btn-default:focus { color: #555 }
.btn-light.btn-gradient, .btn-light2.btn-gradient, .btn-light3.btn-gradient, .btn-light4.btn-gradient, .btn-light5.btn-gradient, .btn-light6.btn-gradient, .btn-light7.btn-gradient, .btn-default.btn-gradient {
   @include light-gradient("");
}
.btn-creme:focus, .btn-creme2:focus, .btn-yellow:focus, .btn-yellow2:focus { color: #ca8f00 }
.btn-creme, .btn-creme2, .btn-yellow, .btn-yellow2 {
    color: #ca8f00;
    font-weight: 600;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.55);
}
.btn-yellow:hover, .btn-yellow2:hover, .btn-creme:hover, .btn-creme2:hover, .btn-creme3:hover, .btn-light:hover, .btn-light2:hover, .btn-light3:hover, .btn-light4:hover, .btn-light5:hover, .btn-light6:hover, .btn-light7:hover, .btn-default:hover { color: #555 }
