
/* ================================================
   V. WIDGETS
	  A. Table Widget
	  B. Chat Widget
	  C. Messenger Widget
	  D. Calendar Widget
	  E. Timeline Widget
===================================================
  A. Table Widget
  -------------------------------------------------
  This is a multi-purpose widget. Apply it to
  any table to access table  styles. Commonly
  inside a panel.
=================================================== */
.table-checklist td { cursor: pointer }
.table-widget .tab-content {
    padding: 0;
    border: 0;
    overflow: hidden;
}
/* Table items (labels, badges, progress bars etc) */
.table-widget .progress {
    width: 80%;
    height: 13px;
    margin: 0;
}
.table-widget .label, .table-widget .badge { margin-right: 7px }
/* Tables with the .table-checklist class become clickable
 * if you want text to have a line-through effect on click
 * add the .text-slash class to the element */
.table-checklist tr.task-checked { color: #BBB }
.table-checklist tr.task-checked .text-slash { text-decoration: line-through }
/* Table item checked state - class added via JS */
.table-checklist tr.task-checked .label, .table-checklist tr.task-checked .progress { opacity: 0.3 }

/*===============================================
  B. Chat Widget
  -----------------------------------------------
  Created with Panels. Activate by adding
  ".chat-panel" to panel wrapper (".panel")
================================================= */
.chat-panel .media-img img {
    max-width: 70px;
    margin-right: 8px;
    border: 1px solid #CCC;
}
.chat-panel .media-heading {
    color: #777;
    font-weight: 600;
}
.chat-panel .media-timestamp {
    color: #999;
    font-size: 11px;
    font-weight: 400;
    line-height: 10px;
}
.chat-panel .media-content {
    padding: 10px 15px;
    color: #777;
    line-height: 25px;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, #ffffff 1%,#f3f3f3 100%);
    background-image: linear-gradient(to bottom, #ffffff 1%,#f3f3f3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.media, .media .media { margin-top: 20px }


/*===============================================
  C. Messenger Widget
  -----------------------------------------------
   Not to be confused with the comments widget. 
   unlike the comments Widget this has a listing 
   of online and offline site users.
================================================= */
/* Messenger user list table */
.message-widget .table tbody > tr > td {
    padding: 10px 8px;
    border-top: 1px dashed #c9c9c9;
    vertical-align: middle;
}
.message-widget .table tbody > tr:first-child > td { border-top: 0 }
.message-widget .avatar { width: 15% }
.message-widget .avatar img {
    min-width: 50px;
    max-width: 50px;
}

/*===============================================
  D. Calendar Widget
================================================= */
#calendar { position: relative }
.external-event {
    margin: 10px 0;
    padding: 7px;
    color: #FFF;
    cursor: pointer;
    border-radius: 3px;
    background-color: #368d0d;
    background-repeat: repeat-x;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.40);
	border: 1px solid #CCC;
    border-color: rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    background-image: -webkit-linear-gradient(top, rgba(255,255,255, 0.30) 1%,rgba(255,255,255,0.15) 100%);
    background-image: linear-gradient(to bottom, rgba(255,255,255, 0.30) 1%,rgba(255,255,255,0.15) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff',endColorstr='#00ffffff',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.fc-header .fc-button {
    height: 35px;
    padding: 5px 10px;
    background-color: #f7f7f7;
    color: #666;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    border: 1px solid #CCC;
    text-shadow: 0 1px #ffffff;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, #ffffff 1%,#f1f1f1 100%);
    background-image: linear-gradient(to bottom, #ffffff 1%,#f1f1f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.fc-header-left {
    position: absolute;
    top: -61px;
    right: 167px;
    width: auto;
}
.fc-header-right {
    position: absolute;
    top: -61px;
    right: 0;
    width: auto;
}
.fc-button.fc-state-down, .fc-button.fc-state-active {
    background-color: #EEE;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.fc-event {
    margin: 4px;
    background-color: #368d0d;
    background-repeat: repeat-x;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.40);
    border-color: rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    background-image: -webkit-linear-gradient(top, rgba(255,255,255, 0.30) 1%,rgba(255,255,255,0.15) 100%);
    background-image: linear-gradient(to bottom, rgba(255,255,255, 0.30) 1%,rgba(255,255,255,0.15) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff',endColorstr='#00ffffff',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.fc-header-left .fc-button, .fc-header-right .fc-button { margin-left: 0 }
.fc-header-title { margin: 10px 0 20px }
.fc-grid .fc-day-header {
    border: 0;
    border-bottom: 1px solid #DDD;
}
.fc-grid .fc-day-number {
    font-size: 14px;
    font-weight: 600;
}
.fc-state-highlight { background-color: #f8f8f8 }
.fc-event-inner { padding: 7px }

/*===============================================
  E. Timeline Widget - Not Timeline Page
================================================= */
.timeline-widget {
    position: relative;
    margin: 4px 0 0;
    padding: 0;
    list-style: none;
}
.timeline-icon {
    z-index: 11;
    position: relative;
    float: left;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin-right: 10px;
    padding-top: 1px;
    padding-right: 1px;
    border-radius: 50%;
    background: #DDD;
    -webkit-box-shadow: 1px 0 1px #AAA inset,-1px 0 1px #ffffff inset;
    box-shadow: 1px 0 1px #AAA inset,-1px 0 1px #ffffff inset;
}
.timeline-widget .media {
    position: relative;
    font-size: 14px;
    min-height: 60px;
    padding-bottom: 15px;
    margin: 0;
}
.timeline-widget .media:after {
    position: absolute;
    top: 0;
    left: 20px;
    width: 8px;
    height: 100%;
    content: "";
    z-index: 10;
    background: #DDD;
    -webkit-box-shadow: 1px 0 1px #AAA inset,-1px 0 1px #f5f5f5 inset;
    box-shadow: 1px 0 1px #AAA inset,-1px 0 1px #f5f5f5 inset;
}
.timeline-widget .media:last-child:after {
    display: none;
    content: "";
}
.timeline-widget .date {
    padding-left: 5px;
    color: #888;
    font-size: 12px;
}
.timeline-widget .media-body { padding-top: 10px }
