{% load c_filters %}


<form  id="migration_form" class="flip-confirmation ajax-submit" role="form" action="{% url "tenant_delete_gs" %}" method="post">
{% csrf_token %}

	<div class="modal-dialog">
		<div class="modal-content">
		
			<div class="modal-header">
				<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
				<h4 class="modal-title"><i class="glyphicons glyphicons-share"></i>Delete golden state</h4>
			</div>
			
			<div class="modal-body">

				{% if form.non_field_errors %}
				<div name="non_form_error" class="has-error">
				{% for error in form.non_field_errors %}
					<small style="" class="help-block">{{error|escape }}</small>
				{% endfor %}
				</div>
				{% endif %}
				{% if state_info %}
				<h4 class="text-danger" style="text-align:center;"><b>Delete</b> golden state for <b>{{state_info.cluster_version}}</b> software version, created <b>{{state_info.utc_timestamp | epoch_to_datetime:"America/Los_Angeles"}}</b> by <b>{{state_info.user_id | user_name}}</b>?</h4>
				
				<input type="text" class="hidden" name="tenant_id" value="{{form.tenant_id.value}}">
				<input type="text" class="hidden" name="export_id" value="{{form.export_id.value}}">
				
				<div class="confirmation" data-confText="Delete golden state?">
					<button type="submit" class="btn btn-primary btn-gradient pull-right show-confirmation">Delete</button>
					<button type="button" class="btn btn-default btn-gradient" data-dismiss="modal">Close</button>
				</div>
				{% else %}
				<h4 style="text-align:center;">Golden state not fount. Deletion has been canceled.</h4>
				{% endif %}
			</div>
		</div>
	</div>
</form>

