{% if restore_type == 'golden_state' %}
<form  id="tenant_restore_form" class="flip-confirmation ajax-submit" role="form" action="{% url 'tenant_download_gs' %}" method="post">
{% else %}
<form  id="tenant_restore_form" class="flip-confirmation ajax-submit" role="form" action="{% url 'cm_tenant_restore' %}" method="post">
{% endif %}
	{% csrf_token %}
	<div class="modal-dialog" data-test="{{test_url}}">
		<div class="modal-content">
			{% if restore_type == 'golden_state' %}
				<div class="modal-header">
					<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
					<h4 class="modal-title"><i class="glyphicons glyphicons-upload"></i>Download golden state</h4>
				</div>
			{% else %}
				<div class="modal-header">
					<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
					<h4 class="modal-title"><i class="glyphicons glyphicons-upload"></i> Tenant restore</h4>
				</div>
			{% endif %}
			
			<div class="modal-body">
				{% if form.non_field_errors %}
				<div name="non_form_error" class="has-error">
				{% for error in form.non_field_errors %}
					<small style="" class="help-block">{{error|escape }}</small>
				{% endfor %}
				</div>
				{% endif %}
				
				<input type="text" class="hidden" name="export_id">
				<input type="text" class="hidden" name="tenant_id" value="{{form.tenant_id.value}}">
			
				<div class="form-group {% if form.source_cluster.errors %}has-error{% endif %}">
					<label for="restore_sourceClusterList" class="control-label">{{ form.source_cluster.label }}</label>
					<select id="restore_sourceClusterList" data-clusters-url="{% url 'clusters_ajax' %}" class="form-control cm-chosen"  name="source_cluster" data-placeholder="Choose a cluster to restore to..." >
						<option value=""></option>
					{% for s_cluster in form.source_cluster.field.choices %}
						{% comment %} We have to add "0" because form.data.source_cluster is string and tenant_name.0 is integer {% endcomment %}
						<option value="{{s_cluster.0}}" {% if form.data.source_cluster|add:"0" == s_cluster.0 %} selected {% endif %} >{{s_cluster.1}}</option>
					{% endfor %}
					</select>
					{% comment %} errors {% endcomment %}
					{% if form.source_cluster.errors %}
						{% for error in form.source_cluster.errors %}
							<small style="" class="help-block">{{error|escape }}</small>
						{% endfor %}
					{% endif %}
				</div>
	
				<div>
					<button class="btn btn-blue3 btn-gradient btn-xs coming-soon" type="button">
						<i class="glyphicons glyphicons-pencil"></i> Add comment
					</button>
				</div>
				{% if restore_type == 'golden_state' %}
					<div class="confirmation" data-confText="Please, confirm download golden state.">
						<button type="submit" class="btn btn-primary btn-gradient pull-right show-confirmation">Download</button>
						<button type="button" class="btn btn-default btn-gradient" data-dismiss="modal">Close</button>
					</div>
				{% else %}
					<div class="confirmation" data-confText="Please, confirm tenant restoring.">
						<button type="submit" class="btn btn-primary btn-gradient pull-right show-confirmation">Restore</button>
						<button type="button" class="btn btn-default btn-gradient" data-dismiss="modal">Close</button>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</form>
