<form  id="cloning_form" class="flip-confirmation ajax-submit" role="form" action="{% url "cm_clone" %}" method="post">{% csrf_token %}
	<div class="modal-dialog">
		<div class="modal-content">
		
			<div class="modal-header">
				<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
				<h4 class="modal-title"><i class="fa fa-cogs"></i> Tenant Clone</h4>
			</div>
			
			<div class="modal-body">
			
				{% if form.non_field_errors %}
				<div name="non_form_error" class="has-error">
				{% for error in form.non_field_errors %}
					<small class="help-block">{{error|escape }}</small>
				{% endfor %}
				</div>
				{% endif %}
				
				<input type="text" class="hidden" name="tenant_id" value="{{form.tenant_id.value}}">
				
				<div class="form-group {% if form.source_cluster.errors %}has-error{% endif %}">
					<label for="cl_sourceClusterList" class="control-label">{{ form.source_cluster.label }}</label>
					<select id="cl_sourceClusterList" class="form-control cm-chosen" name="source_cluster" data-clusters-url="{% url 'clusters_ajax' %}" data-placeholder="Choose source cluster..."  >
						<option value=""></option>
					{% for s_cluster in form.source_cluster.field.choices %}
						{% comment %} We have to add "0" because form.data.source_cluster is string and tenant_name.0 is integer {% endcomment %}
						<option value="{{s_cluster.0}}" {% if form.data.source_cluster|add:"0" == s_cluster.0 %} selected {% endif %} >{{s_cluster.1}}</option>
					{% endfor %}
					</select>
					{% comment %} errors {% endcomment %}
					{% if form.source_cluster.errors %}
						{% for error in form.source_cluster.errors %}
							<small class="help-block">{{error|escape }}</small>
						{% endfor %}
					{% endif %}
				</div>
				
				<div class="form-group  {% if form.destination_cluster.errors %}has-error{% endif %}">
					<label for="cl_destClusterList" class="control-label">{{ form.destination_cluster.label }}</label>
					<select id="cl_destClusterList" class="form-control cm-chosen " name="destination_cluster" data-placeholder="Choose destination cluster..."  >
						<option value=""></option>
					{% for d_cluster in form.destination_cluster.field.choices %}
						{% comment %} We have to add "0" because form.data.destination_cluster is string and tenant_name.0 is integer {% endcomment %}
						<option value="{{d_cluster.0}}" {% if form.data.destination_cluster|add:"0" == d_cluster.0 %} selected {% endif %} >{{d_cluster.1}}</option>
					{% endfor %}
					</select>
					{% comment %} errors {% endcomment %}
					{% if form.destination_cluster.errors %}
						{% for error in form.destination_cluster.errors %}
							<small class="help-block">{{error|escape }}</small>
						{% endfor %}
					{% endif %}
				</div>
				  
				<div class="form-group  {% if form.new_tenant_id.errors %}has-error{% endif %}">
					<label for="cl_newTenantId" class="control-label">{{ form.new_tenant_id.label }}</label>
					<input id="cl_newTenantId" type="text" placeholder="New tenant's id" class="form-control" name="new_tenant_id" {% if form.data.new_tenant_id %} value="{{ form.data.new_tenant_id }}" {% endif %}  >
					{% comment %} errors {% endcomment %}
					{% if form.new_tenant_id.errors %}
						{% for error in form.new_tenant_id.errors %}
							<small class="help-block">{{error|escape }}</small>
						{% endfor %}
					{% endif %}
				</div>
				  
				<div class="form-group  {% if form.new_tenant_name.errors %}has-error{% endif %}">
					<label for="cl_newTenantName" class="control-label">{{ form.new_tenant_name.label }}</label>
					<input id="cl_newTenantName" type="text" placeholder="New tenant's name" class="form-control" name="new_tenant_name" {% if form.data.new_tenant_name %} value="{{ form.data.new_tenant_name }}" {% endif %}  >
					{% comment %} errors {% endcomment %}
					{% if form.new_tenant_name.errors %}
						{% for error in form.new_tenant_name.errors %}
							<small class="help-block">{{error|escape }}</small>
						{% endfor %}
					{% endif %}
				</div>
				<div class="confirmation" data-confText="Please, confirm Tenant Cloning">
					<button type="submit" class="btn btn-primary btn-gradient pull-right show-confirmation">Clone</button>
					<button type="button" class="btn btn-default btn-gradient" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</form>


