<form  id="migration_form" class="flip-confirmation ajax-submit" role="form" action="{% url "cm_migration" %}" method="post">{% csrf_token %}

	<div class="modal-dialog">
		<div class="modal-content">
		
			<div class="modal-header">
				<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
				<h4 class="modal-title"><i class="glyphicons glyphicons-share"></i> Tenant migration</h4>
			</div>
			
			<div class="modal-body">

				{% if form.non_field_errors %}
				<div name="non_form_error" class="has-error">
				{% for error in form.non_field_errors %}
					<small style="" class="help-block">{{error|escape }}</small>
				{% endfor %}
				</div>
				{% endif %}
	
				<div class="form-group {% if form.migration_type.errors %}has-error{% endif %}" >
					<label for="migration_list" class="control-label">{{ form.migration_type.label }}</label>
					<select id="migration_list" class="form-control cm-chosen" name="migration_type">
					{% for migration in form.migration_type.field.choices %}
						{% comment %} Have to add "0" because form.data.tenant_name is string and tenant_name.0 is integer {% endcomment %}
						<option value="{{migration.0}}" {% if form.data.migration|add:"0" == migration.0 %} selected {% endif %}>{{migration.1}}</option>
					{% endfor %}
					</select>
					{% comment %} errors {% endcomment %}
					{% if form.migration_type.errors %}
						{% for error in form.migration_type.errors %}
						<small style="" class="help-block">{{error|escape }}</small>
						{% endfor %}
					{% endif %}
					</div>
			
				<input type="text" class="hidden" name="tenant_id" value="{{form.tenant_id.value}}">
			
				<div class="form-group {% if form.source_cluster.errors %}has-error{% endif %}">
					<label for="sourceClusterList" class="control-label">{{ form.source_cluster.label }}</label>
					<select id="sourceClusterList" data-clusters-url="{% url 'clusters_ajax' %}" class="form-control cm-chosen"  name="source_cluster" data-placeholder="Choose source cluster..." >
						<option value=""></option>
					{% for s_cluster in form.source_cluster.field.choices %}
						{% comment %} We have to add "0" because form.data.source_cluster is string and tenant_name.0 is integer {% endcomment %}
						<option value="{{s_cluster.0}}" {% if form.data.source_cluster|add:"0" == s_cluster.0 %} selected {% endif %} >{{s_cluster.1}}</option>
					{% endfor %}
					</select>
					{% comment %} errors {% endcomment %}
					{% if form.source_cluster.errors %}
						{% for error in form.source_cluster.errors %}
						<small style="" class="help-block">{{error|escape }}</small>
						{% endfor %}
					{% endif %}
				</div>
			
				<div class="form-group  {% if form.destination_cluster.errors %}has-error{% endif %}">
					<label for="destClusterList" class="control-label">{{ form.destination_cluster.label }}</label>
					<select id="destClusterList" class="form-control cm-chosen"  name="destination_cluster" data-placeholder="Choose destination cluster...">
						<option value=""></option>
					{% for d_cluster in form.destination_cluster.field.choices %}
						{% comment %} We have to add "0" because form.data.source_cluster is string and tenant_name.0 is integer {% endcomment %}
						<option value="{{d_cluster.0}}" {% if form.data.destination_cluster|add:"0" == d_cluster.0 %} selected {% endif %} >{{d_cluster.1}}</option>
					{% endfor %}
					</select>
					{% comment %} errors {% endcomment %}
					{% if form.destination_cluster.errors %}
						{% for error in form.destination_cluster.errors %}
						<small style="" class="help-block">{{error|escape }}</small>
						{% endfor %}
					{% endif %}
				</div>
				<div class="confirmation" data-confText="Please, confirm Tenant Migration">
					<button type="submit" class="btn btn-primary btn-gradient pull-right show-confirmation">Migrate</button>
					<button type="button" class="btn btn-default btn-gradient" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</form>

