{% extends "theme_base.html" %}

{% block extra_body %}
<div tabindex="-1" class="modal fade" id="ajax-modal"></div>
<div tabindex="-1" id="message-modal" style="display: none;">
{% if messages %}
	    {% for message in messages %}
	    <div>{{ message }}</div>
	    {% endfor %}
{% endif %}
</div>
{% endblock extra_body %}

