{% extends "cloudmanager/base.html" %}


	{% block breadcrumb %}
		<ol class="breadcrumb">
			<li><a href="{% url "cm_dashboard" %}"><span class="glyphicon glyphicon-home"></span></a></li>
			<li><a href="{% url "cm_dashboard" %}">Home</a></li>
			<li class="active">Builds</li>
		</ol>
	{% endblock breadcrumb %}


{% block body %}


{% endblock body %}


