
{% extends "cloudmanager/base.html" %}
{% load staticfiles %}

	{% block breadcrumb %}
		<ol class="breadcrumb">
			<li><a href="{% url "cm_dashboard" %}"><span class="glyphicon glyphicon-home"></span></a></li>
			<li><a href="{% url "cm_dashboard" %}">Home</a></li>
			<li class="active">Clusters</li>
		</ol>
	{% endblock breadcrumb %}


{% block body %}

<div  class="row ">
	<div class="col-md-12" data-url="{% url 'get_cluster_service_data' %}" id="cluster_service_status">

	<div  class="cluster_view" data-url="{% url 'get_firstrun_data' %}" id="accordion">
		{% for cluster in cluster_list %}
			<div  class="panel-group">

		<div class="panel panel-default " data-url="{% url 'cluster_service_action' %}" id="cluster_service_action">
			<div class="panel-heading">                
				<a id="#{{ cluster.tmid }}" style="text-decoration: none;" class="cluster_item" data-toggle="collapse" data-parent="#accordion" href="#{{ cluster.tmid }}_cluster">
				{{cluster.name}}
				</a>
				 
				
			</div>

	
		<div class="row" >		
		<div id="{{ cluster.tmid }}_cluster"  class="panel-collapse  collapse" >
		
			<div class="col-md-12 ">

	<div class="panel">
	<div class="panel-heading">
		<div class="panel-title"></div>
		<div  class=" btn-group">

					<button id="tm_deploy_button_{{cluster.tmid}}"  class="btn  btn-xs btn-green label  ladda-button dropdown-toggle "  data-style="expand-right" data-toggle="dropdown" type="button" >
					<span class="ladda-label">Cloud wide operation</span>
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a id="cluster_start" class="cluster_wide_operation" href="#">Start</a></li>
						<li><a id="cluster_stop" class="cluster_wide_operation" href="#">Stop</a></li>
						<li><a id="cluster_deploy" class="cluster_wide_operation" data-cluster="{{ cluster.tmid }}" data-toggle="modal" data-url="{% url "deployer_modal" %}" href="#">Deploy</a></li>
						<li><a id="cluster_undeploy" class="cluster_wide_operation" href="#">Undeploy</a></li>
					</ul>
		 </div>
			<ul class="nav panel-tabs">
				<li class="active"><a href="#tab1_{{ cluster.tmid }}" data-toggle="tab">Platform</a></li>
				<li class=""><a href="#tab2_{{ cluster.tmid }}" data-toggle="tab">Admintool</a></li>
				<li class=""><a class="system_service_status" id="system_service_status_{{ cluster.tmid }}" data-url="{% url 'get_system_service_status' %}" href="#tab3_{{ cluster.tmid }}" data-toggle="tab">System</a></li>
			</ul>
		</div>
	<div class="panel-body">
		<div class="tab-content padding-none border-none">
			<div id="tab1_{{ cluster.tmid }}" class="tab-pane active">
				<table class="table  table-hover table-striped table-condensed " >
					<colgroup>
						<col span="1" style="width: 25%;">
						<col span="1" style="width: 25%;">
						<col span="1" style="width: 25%;">
						<col span="1" style="width: 25%;">

					</colgroup>
					<thead>
						<tr role="row">
							<th class="" role="columnheader" tabindex="0"  rowspan="1" colspan="1" ><b>Service</b></th>
							<th class="" role="columnheader" tabindex="0"  rowspan="1" colspan="1" ><b>Status</b></th>
							<th class="" role="columnheader" tabindex="0"  rowspan="1" colspan="1" ><b>Action</b></th>
							<th class="" role="columnheader" tabindex="0"  rowspan="1" colspan="1" ><b>Config</b></th>
						</tr>
					</thead>

	<tbody >
		<tr class="even">
			<td>Compiler</td> 
			<td><span  id="{{cluster.tmid}}_compiler" class="label btn-red">{{cluster.state|upper}}</span></td>
			<td>
				<button  id="{{cluster.tmid}}_compiler_ss" class=" ss_button btn btn-xs btn-red">{{cluster.state|upper}}</button>				
				
			</td> 
			<td class=" ">
				<div class="btn-group">
					<button type="button" class="btn btn-primary btn-xs btn-gradient dropdown-toggle" data-toggle="dropdown"> <span class="glyphicons glyphicons-cogwheel"></span> 
					</button>
					<ul class="dropdown-menu checkbox-persist pull-right text-left" role="menu">
						<li><a id="compiler_jvmExtraOptions" class="jvmExtraOptions" data-cluster="{{ cluster.tmid }}" data-service="compiler" data-toggle="modal" data-url="{% url "jvmExtraOptions_modal" %}" href="#">jvmExtraOptions</a></li>
						<li><a id="compiler_loggerLevels" class="loggerLevels" data-cluster="{{ cluster.tmid }}" data-service="compiler" data-toggle="modal" data-url="{% url "loggerLevels_modal" %}" href="#">loggerLevels</a></li>
					</ul>
				</div>
			</td>
		</tr>
		<tr class="odd">
			<td>Dataio</td> 
			<td><span  id="{{cluster.tmid}}_dataio" class="label btn-red">{{cluster.state|upper}}</span></td>
			<td>
			<button  id="{{cluster.tmid}}_dataio_ss" class="ss_button btn btn-xs btn-red">{{cluster.state|upper}}</button>
			
			</td>
			<td class=" ">
				<div class="btn-group">
					<button type="button" class="btn btn-primary btn-xs btn-gradient dropdown-toggle" data-toggle="dropdown"> <span class="glyphicons glyphicons-cogwheel"></span> 
					</button>
					<ul class="dropdown-menu checkbox-persist pull-right text-left" role="menu">
						<li><a id="dataio_jvmExtraOptions" class="jvmExtraOptions" data-cluster="{{ cluster.tmid }}" data-service="dataio" data-toggle="modal" data-url="{% url "jvmExtraOptions_modal" %}" href="#">jvmExtraOptions</a></li>
						<li><a id="dataio_loggerLevels" class="loggerLevels" data-cluster="{{ cluster.tmid }}" data-service="dataio" data-toggle="modal" data-url="{% url "loggerLevels_modal" %}" href="#">loggerLevels</a></li>
					</ul>
				</div>
			</td>
		</tr>
		<tr class="even">
			<td>Processflow</td> 
			<td><span  id="{{cluster.tmid}}_processflow" class="label btn-red">{{cluster.state|upper}}</span></td>
			<td>
			<button  id="{{cluster.tmid}}_processflow_ss" class="ss_button btn btn-xs btn-red">{{cluster.state|upper}}</button>
			
			</td>
			<td class=" ">
				<div class="btn-group">
					<button type="button" class="btn btn-primary btn-xs  btn-gradient dropdown-toggle" data-toggle="dropdown"> <span class="glyphicons glyphicons-cogwheel"></span> 
					</button>
					<ul class="dropdown-menu checkbox-persist pull-right text-left" role="menu">
						<li><a id="pf_jvmExtraOptions" class="jvmExtraOptions" data-cluster="{{ cluster.tmid }}" data-service="pf" data-toggle="modal" data-url="{% url "jvmExtraOptions_modal" %}" href="#">jvmExtraOptions</a></li>
						<li><a id="pf_loggerLevels" class="loggerLevels" data-cluster="{{ cluster.tmid }}" data-service="pf" data-toggle="modal" data-url="{% url "loggerLevels_modal" %}" href="#">loggerLevels</a></li>
					</ul>
				</div>
			</td>
		</tr>
		<tr class="odd">
			<td>Gridslave</td> 
			<td><span  id="{{cluster.tmid}}_gridslave" class="label btn-red">{{cluster.state|upper}}</span></td>
			<td>
			<button  id="{{cluster.tmid}}_gridslave_ss" class="ss_button btn btn-xs btn-red">{{cluster.state|upper}}</button>
			
			</td> 
			<td class=" ">
				<div class="btn-group">
					<button type="button" class="btn btn-primary btn-xs btn-gradient dropdown-toggle" data-toggle="dropdown"> <span class="glyphicons glyphicons-cogwheel"></span> 
					</button>
					<ul class="dropdown-menu checkbox-persist pull-right text-left" role="menu">
						<li><a id="grid_jvmExtraOptions" class="jvmExtraOptions" data-cluster="{{ cluster.tmid }}" data-service="grid" data-toggle="modal" data-url="{% url "jvmExtraOptions_modal" %}" href="#">jvmExtraOptions</a></li>
						<li><a id="grid_loggerLevels" class="loggerLevels" data-cluster="{{ cluster.tmid }}" data-service="grid" data-toggle="modal" data-url="{% url "loggerLevels_modal" %}" href="#">loggerLevels</a></li>
					</ul>
				</div>
			</td>
		</tr>
		<tr class="even">
			<td>Resultsetmanager</td> 
			<td><span  id="{{cluster.tmid}}_resultsetmanager" class="label btn-red">{{cluster.state|upper}}</span></td>
			<td>
				<button  id="{{cluster.tmid}}_resultsetmanager_ss" class="ss_button btn btn-xs btn-red">{{cluster.state|upper}}</button>
				
			</td>
			<td class=" ">
				<div class="btn-group">
					<button type="button" class="btn btn-primary btn-xs  btn-gradient dropdown-toggle" data-toggle="dropdown"> <span class="glyphicons glyphicons-cogwheel"></span> 
					</button>
					<ul class="dropdown-menu checkbox-persist pull-right text-left" role="menu">
						<li><a id="rsm_jvmExtraOptions" class="jvmExtraOptions" data-cluster="{{ cluster.tmid }}" data-service="rsm" data-toggle="modal" data-url="{% url "jvmExtraOptions_modal" %}" href="#">jvmExtraOptions</a></li>
						<li><a id="rsm_loggerLevels" class="loggerLevels" data-cluster="{{ cluster.tmid }}" data-service="rsm" data-toggle="modal" data-url="{% url "loggerLevels_modal" %}" href="#">loggerLevels</a></li>
					</ul>
				</div>
			</td>
		</tr>
		<tr class="even">
			<td>Search</td> 
			<td><span  id="{{cluster.tmid}}_search" class="label btn-red">{{cluster.state|upper}}</span></td>
			<td>
				<button  id="{{cluster.tmid}}_search_ss" class="ss_button btn btn-xs btn-red">{{cluster.state|upper}}</button>
				
			</td>
			<td class=" ">
				<div class="btn-group">
					<button type="button" class="btn btn-primary  btn-xs btn-gradient dropdown-toggle" data-toggle="dropdown"> <span class="glyphicons glyphicons-cogwheel"></span> 
					</button>
					<ul class="dropdown-menu checkbox-persist pull-right text-left" role="menu">
						<li><a><i class="fa fa-user"></i> View Profile </a></li>
						<li><a><i class="fa fa-envelope-o"></i> Message </a></li>
					</ul>
				</div>
			</td>
			</tr>
		
		<tr class="odd">
			<td>tomcat</td> 
			<td><span  id="{{cluster.tmid}}_tomcat" class="label btn-red">{{cluster.state|upper}}</span></td>
			<td>
				<button  type="button" id="{{cluster.tmid}}_tomcat_ss" class="ss_button btn btn-xs  btn-red">{{cluster.state|upper}}</button>
				
			</td> 
			<td class=" ">
				<div class="btn-group">
					<button type="button" class="btn btn-primary btn-xs  btn-gradient dropdown-toggle" data-toggle="dropdown"> <span class="glyphicons glyphicons-cogwheel"></span> 
					</button>
					<ul class="dropdown-menu checkbox-persist pull-right text-left" role="menu">
						<li><a><i class="fa fa-user"></i> View Profile </a></li>
						<li><a><i class="fa fa-envelope-o"></i> Message </a></li>
					</ul>
				</div>
			</td>
			</tr>
		<tr class="even">
			<td>nginx</td> 
			<td><span  id="{{cluster.tmid}}_nginx" class="label btn-red">{{cluster.state|upper}}</span></td>
			<td>
				<button  id="{{cluster.tmid}}_nginx_ss" class="ss_button btn btn-xs btn-red">{{cluster.state|upper}}</button>
				
			</td> 
			<td class=" ">
				<div class="btn-group">
					<button type="button" class="btn btn-primary btn-xs  btn-gradient dropdown-toggle" data-toggle="dropdown"> <span class="glyphicons glyphicons-cogwheel"></span> 
					</button>
					<ul style="position: relative;" class="dropdown-menu checkbox-persist pull-right text-left" role="menu">
						<li><a><i class="fa fa-user"></i> View Profile </a></li>
						<li><a><i class="fa fa-envelope-o"></i> Message </a></li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>    
</div>
	<div id="tab2_{{ cluster.tmid }}" class="tab-pane">
		<table class="table  table-hover table-striped table-condensed "  >
			<colgroup>
				<col span="1" style="width: 33%;">
				<col span="1" style="width: 33%;">
				<col span="1" style="width: 34%;">
			</colgroup>
			<thead>
				<tr role="row">
					<th class="" role="columnheader" tabindex="0"  rowspan="1" colspan="1" ><b>Artifact</b></th>
					<th class="" role="columnheader" tabindex="0"  rowspan="1" colspan="1" ><b>Status</b></th>
					<th class="" role="columnheader" tabindex="0"  rowspan="1" colspan="1" ><b>Action</b></th>
				</tr>
			</thead>
			<tbody >
				<tr class="even">
					<td>Admintool</td> 
					<td><span  id="{{ cluster.tmid }}_admintool" class="label btn-red">{{cluster.state|upper}}</span></td>
					<td>
					<button  id="{{cluster.tmid}}_admintool_ss" class="ss_button btn btn-xs btn-red">Redeploy</button>
					</td>  
				</tr>
				<tr class="odd">
					<td>Presentation</td> 
					<td><span  id="{{cluster.tmid}}_presentation" class="label btn-red">{{cluster.state|upper}}</span></td>
					<td>
					<button  id="{{cluster.tmid}}_presentation_ss" class="ss_button btn btn-xs btn-red">Redeploy</button>
					</td>  
				</tr>
				
			</tbody>
		</table>    									
	</div>
	<div id="tab3_{{ cluster.tmid }}" class="tab-pane">
		<table id="system_service_action" data-url="{% url 'system_service_action' %}" class="table table-striped  table-condensed "  >
			<colgroup>
				<col span="1" style="width: 33%;">
				<col span="1" style="width: 33%;">
				<col span="1" style="width: 34%;">
			</colgroup>
			<thead>
				<tr role="row">
					<th class="" role="columnheader" tabindex="0"  rowspan="1" colspan="1" ><b>Service</b></th>
					<th class="" role="columnheader" tabindex="0"  rowspan="1" colspan="1" ><b>Status</b></th>
					<th class="" role="columnheader" tabindex="0"  rowspan="1" colspan="1" ><b>Action</b></th>
				</tr>
			</thead>
			<tbody >
				
				
			
				<tr class="odd">
					<td>Postgresql</td> 
					<td><span  id="{{cluster.tmid}}_postgresql" class="label btn-red">{{cluster.state|upper}}</span></td>
					<td>
						<button  id="{{cluster.tmid}}_postgresql_ss" class="system_ss_button btn btn-xs btn-red">Pending</button>
						
					</td>  
				</tr>
				<tr class="even">
					<td>HDFS-Namenode</td> 
					<td><span  id="{{cluster.tmid}}_namenode" class="label btn-red">{{cluster.state|upper}}</span></td>
					<td>
						<button  id="{{cluster.tmid}}_namenode_ss" class="system_ss_button btn btn-xs btn-red">Pending</button>
						
					</td>  
				</tr>
				<tr class="odd">
					<td>HDFS-Datanode</td> 
					<td><span  id="{{cluster.tmid}}_datanode" class="label btn-red">{{cluster.state|upper}}</span></td>
					<td>
						<button  id="{{cluster.tmid}}_datanode_ss" class="system_ss_button btn btn-xs btn-red">Pending</button>
						
					</td>  
				</tr>
				<tr class="even">
					<td>Zookeeper</td> 
					<td><span  id="{{cluster.tmid}}_zookeeper" class="label btn-red">{{cluster.state|upper}}</span></td>
					<td>
						<button  id="{{cluster.tmid}}_zookeeper_ss" class="system_ss_button btn btn-xs btn-red">Pending</button>
					</td>  
				</tr>
			</tbody>
		</table>    
	</div>

	</div>
</div>
</div>
</div>
</div>

	
		</div>	
		</div>	
	{% endfor %}
</div>
</div>
</div>




<div id="pleaseWait" class="modal">
	<div  class="modal-header">
		<h4 class="modal-title text-center">Processing request</h4>
	</div>
	<div class="modal-body" >
		<div class="progress progress-striped active">
			<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
				<span class="sr-only">100% Complete</span>
			</div>
		</div>
	</div>
</div>
<div id="confirmation" class="modal fade" data-keyboard="false" data-backdrop="static"  tabindex="-1" >
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Confirmation</h3>
	</div>
	<div class="modal-body">
		<center><h4>Are you sure?</h4></center>
	</div>
	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn btn-default btn-gradient pull-left" >No</button>
		<button type="button" data-dismiss="modal" class="btn btn-default btn-gradient modal-submit" data-form-id="#migration_form">Yes</button>
	</div>
</div>



{% endblock body %}




{% block extra_js %}
<script type="text/javascript" src="{% static "js/cluster_view.js" %}"></script>

{% endblock extra_js %}