{% extends "cloudmanager/base.html" %}

{% block body_class %}dashboard index-load{% endblock body_class %}


{% block body %}
	<div class="row">
		<div class="col-md-12">
			<div id="console-btns">
				<div class="row">
					<div class="col-sm-6 col-md-3">
						<div class="console-btn">
							<a href="{% url "cm_clusters" %}">
								<div class="console-icon divider-right"> <span class="glyphicons glyphicons-cardio"></span> </div>
								<div class="console-text">
									<div class="console-title">Clusters <span id='cluster_badge' class="badge btn-red"></span></div>
									<div class="console-subtitle">View More <i class="fa fa-caret-right"></i> </div>	
								</div>
							</a> 
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="console-btn">
							<a href="{% url "cm_tenants" %}">
								<div class="console-icon divider-right"> <span class="glyphicons glyphicons glyphicons-hdd"></span> </div>
								<div class="console-text">
									<div class="console-title">Tenants <span id='tenant_badge' class="badge btn-red" data-url="{% url "dt_tenant_and_cluster_cnt" %}"></span></div>
									<div class="console-subtitle">View More <i class="fa fa-caret-right"></i> </div>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="console-btn">
							<div class="console-icon divider-right"> <span class="glyphicons glyphicons-print"></span> </div>
							<div class="console-text">
								<div class="console-title">Reports</div>
								<div class="console-subtitle">View More <i class="fa fa-caret-right"></i> </div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="console-btn">
							<div class="console-icon divider-right"> <span class="glyphicons glyphicons-security_camera"></span> </div>
							<div class="console-text">
								<div class="console-title">Logs</div>
								<div class="console-subtitle">View More <i class="fa fa-caret-right"></i> </div>
							</div>
						</div>
					</div>
					<div class="col-lg-4" id="console-search-btn">
						<div class="console-btn">
							<div class="console-icon divider-right"> <span class="glyphicons glyphicons-search"></span> </div>
							<div class="console-filter">
								<input type="text" id="filterSearch" class="search-bar form-control" placeholder="Filter Events Below...">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr class="short margin-top-none">
	<div class="row">
	{% for x in servers %}
		{{x}} <br>
	{% endfor %}
	</div>
{% endblock body %}


{% block extra_js %}

{% endblock extra_js %}
