{% extends "cloudmanager/base.html" %}



	{% block breadcrumb %}
		<ol class="breadcrumb">
			<li><a href="{% url "cm_dashboard" %}"><span class="glyphicon glyphicon-home"></span></a></li>
			<li><a href="{% url "cm_dashboard" %}">Home</a></li>
			<li class="active">Deployer</li>
		</ol>
	{% endblock breadcrumb %}

{% block body_class %}deployer{% endblock body_class %}
{% block body %}

<div class="row">
<div class="col-md-6 col-lg-5">
	<div class="panel">
		<div class="panel-heading">
			<div class="panel-title"> <span class="glyphicon glyphicon-pencil"></span> Deployer Form</div>
		</div>
		<div class="panel-body">
			<form class="cmxform" id="deployerform" method="post" action="{% url 'cm_deployer' %}" > {% csrf_token %}
				<div class="form-group">
					<label for="clustername">Cluster Name</label>
					<input id="clustername" name="cluster_name" type="text" class="form-control" placeholder="Name of your cloud" required="">
				</div>
				<div class="form-group">
					<label for="clustertype">Cluster Type</label>
					<select id="clustertype" name="cluster_type"  class="form-control" required="">
						<option value="SN">Single Node</option>
						<option value="MN">Multi Node</option>
					</select>
				</div>
				<div class="form-group">
					<label for="platformversion">Platform version</label>
					<select id="platformversion" name="platform_version"  class="form-control" required="">
						{% for version in form.platform_version.field.choices %}						
							<option value="{{ version.0 }}">{{ version.1 }}</option>
						{% endfor %}
					</select>
				</div>		
				<div class="form-group">
					<input class="submit btn btn-blue" type="submit" value="Submit">
				</div>
			</form>
		</div>
	</div>
</div>
</div>










{% endblock body %}


