<form id="sendLogEntryForm" class="form-horizontal" action="#">
    {% csrf_token %}
    {{ emailForm.clusterhash }}
    {{ emailForm.timestamp }}
    <div class="form-group {% if emailForm.emails.errors %}has-error{% endif %}">
        <label for="select_component" class="control-label col-md-2">Email</label>

        <div class="col-md-9">
            {{ emailForm.emails }}
            {% if emailForm.emails.errors %}
                {% for error in emailForm.emails.errors %}
                    <small class="help-block">{{ error|escape }}</small>
                {% endfor %}
            {% endif %}
        </div>

    </div>

    <div class="form-group">
        <label for="select_component" class="control-label col-md-2">Extra Message</label>

        <div class="col-md-9">
            {{ emailForm.message }}
        </div>
    </div>

    <div class="form-group">
        <label for="sendLogEntry" class="control-label col-md-2"> </label>

        <div class="col-md-9 text-left">
            <button id="sendLogEntry" class="btn btn-md btn-primary ladda-button progress-button btn-gradient"
                    data-style="expand-right">Send
            </button>
            <span id="emailResult" class="alert alert-sm"> BLAG </span>
        </div>

    </div>
</form>