{% extends "cloudmanager/emailBase.html" %}

{% block extra_styles %}

    .resultsTable{
{#        border: 1px solid black;#}
    }

    .contextRow{
        color: #AFAFAF;
        font-size: 0.5em;
    }

    .entryRow{
        background-color: blue;
        color: white;
        font-size: 1em;
    }

    p{
        padding: 0px;
        margin: 0px;
    }

{% endblock %}

{% block email_preview %}

{% endblock email_preview %}

{% block email_body %}

    <h4>
        {{ sendername }} sent you a log entry message.
    </h4>
    <h5>
        View online <a href="{{ snippet_url }}">here</a>.
    </h5>
    <p>
        {{ extra_message|linebreaksbr }}
    </p>
    <p>
        <p>
            <span style="font-weight: bold;">Cluster: </span> {{ clusterName }}
        </p>

        <p>
            <span style="font-weight: bold;">Component: </span> {{ component }}
        </p>
    </p>



    <table class="resultsTable" style="border: 0px; border-collapse: collapse">
        {% for e in after %}
            <tr class="contextRow" >
                <td style=" padding: 0px 30px; border-top: 1px solid white;">
                    <div style="background-color: {{ e.bgcolor }}; color: #7a7a7a; font-size: 0.9em; padding: 5px;">
                            {{ e.payload.all|escape|linebreaksbr }}
                    </div>
                </td>
            </tr>
        {% endfor %}

            <tr class="entryRow" style="background-color: {{ log_message.bgcolor }}; color: #F2F2F2; font-size: 1.0em; padding:5px">
                <td>
                    <div style="padding: 5px">
                        {{ log_message.payload.all|escape|linebreaksbr }}
                    </div>
                </td>
            </tr>


        {% for e in before %}
            <tr class="contextRow" >
                <tr class="contextRow" >
                    <td style=" padding: 0px 30px; border-bottom: 1px solid white;">
                        <div style="background-color: {{ e.bgcolor }}; color: #7a7a7a; font-size: 0.75em; padding: 5px;">

                                {{ e.payload.all|escape|linebreaksbr }}

                        </div>
                    </td>
                </tr>
            </tr>
        {% endfor %}
    </table>



{% endblock email_body %}