{% extends "cloudmanager/base.html" %}
{% load staticfiles %}

{% block head_title_base %}
    Tidemark CM2: Logs
{% endblock %}


{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url "cm_dashboard" %}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="{% url "cm_dashboard" %}">Home</a></li>
        <li class="active">Logs</li>
    </ol>
{% endblock breadcrumb %}



{% block body %}





    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    Log Watcher
                </div>
                <div class="panel-body">



                        <form class="form-horizontal col-md-8">

                            <div class="form-group">

                                <label for="select_cluster" class="control-label col-md-3">Cluster</label>

                                <div class="col-md-9">
                                    <select class="form-control" id="select_cluster" data-placeholder="Select a cluster">
                                        <option data-tmid=""></option>
                                        {% for cluster in clusters %}
                                            <option data-tmid="{{ cluster.tmid }}">{{ cluster }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="select_component" class="control-label col-md-3">Component</label>

                                <div class="col-md-9">
                                    <select class="form-control" id="select_component">

                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="select_subcomponent"
                                       class="control-label col-md-3">Sub-component</label>

                                <div class="col-md-9">
                                    <select class="form-control" id="select_subcomponent">
                                        <option data-subcomponent="main">main</option>
                                        <option data-subcomponent="stderr">stderr</option>
                                        <option data-subcomponent="stdout">stdout</option>
                                        <option data-subcomponent="access">access</option>
                                        <option data-subcomponent="error">error</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="select_level" class="control-label col-md-3">Level at least</label>

                                <div class="col-md-9">
                                    <select class="form-control" id="select_level">
                                        <option data-level="-1">ALL</option>
                                        <option data-level="0">ERROR</option>
                                        <option data-level="1">WARN</option>
                                        <option data-level="2">INFO</option>
                                        <option data-level="3">DEBUG</option>
                                        <option data-level="4">TRACE</option>
                                    </select>
                                </div>
                            </div>

{#                            <div class="form-group">#}
{#                                <label for="daterangepicker" class="control-label col-md-3">Search Range</label>#}
{##}
{#                                <div class="col-md-9">#}
{#                                    <div class="input-group"><span class="input-group-addon"><i#}
{#                                            class="fa fa-calendar "></i> </span>#}
{#                                        <input type="text" id="daterangepicker" class="form-control margin-top-none"#}
{#                                               placeholder="" name="daterange">#}
{#                                        <label for="useRange" class="control-label">Use Range</label>#}
{#                                        <input id="useRange" type="checkbox" checked>#}
{#                                    </div>#}
{##}
{#                                </div>#}
{#                            </div>#}

                            <div class="form-group">
                                <label for="go_button" class=" control-label col-md-3"></label>

                                <div class="col-md-9">
                                    <div class="text-right">
                                        <button id="go_button" type="button" class="btn btn-primary btn-block">Go</button>
                                    </div>
                                </div>
                            </div>
                        </form>


                </div>


                <div class="row">
                    <div class="col-md-12">

                        <div>
                            <button id="load_newer_button"
                                    class="btn btn-primary btn-block ladda-button progress-button btn-gradient btn-square"
                                    data-style="expand-right">

                                <span class="ladda-label"><i class="fa fa-arrow-up"> </i> Newer </span>
                            </button>
                        </div>

                        <table class="table table-hover table-condensed table-borders">
                            <thead>
                            <tr class="active">
                                {#                                    <th ></th>#}
                                {#                                    <th></th>#}
                                <th colspan="3">
                                    <div class="col-md-8">
                                        <div id="extraInfoHeader">
                                            Search range: <span class="endRange"></span> -- <span
                                                class="startRange"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="text-right" data-on="info" data-off="success">
                                            <label for="autoload"
                                                   class=" control-label text-right">Auto-refresh</label>

                                            <input id="autoload" type="checkbox">
                                        </div>
                                    </div>
                                </th>

                            </tr>
                            </thead>

                            <tbody id="results_body">
                            <tr id="newer_holder" colspan="3" class="hidden">
                                <td></td>
                            </tr>

                            <tr id="older_holder" class="hidden">
                                <td></td>
                            </tr>
                            <th colspan="3">
                                <div class="col-md-8">
                                    <div id="extraInfoFooter">
                                        Search range: <span class="endRange"></span> -- <span
                                            class="startRange"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                </div>
                            </th>
                            </tbody>
                        </table>

                        <div>
                            <button id="load_older_button"
                                    class="btn btn-primary btn-block ladda-button progress-button btn-gradient btn-square"
                                    data-style="expand-right">

                                <span class="ladda-label"><i class="fa fa-arrow-down"> </i> Older </span>
                            </button>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>
    </div>




    <!-- Modal -->
    <div id="rowModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Log Entry Details</h4>
                </div>
                <div class="modal-body">
                    <div class="h4">Cluster:</div>
                    <div id="modalCluster" class="break-words"></div>
                    <div class="h4">Component:</div>
                    <div id="modalComponent" class="break-words"></div>
                    <div class="h4">Original Message:</div>
                    <div id="modalOriginalEntry" class="break-words"></div>

                <div class="logShareSection">
                    <span id="shareViaEmail" class="label label-rounded label-info cur-pointer" data-toggle="collapse" data-target="#emailFormContainer" aria-expanded="false" aria-controls="emailFormContainer">
                        <span class="glyphicons glyphicons-e-mail"> Email</span>
                    </span>
                </div>

                    <div class="row">
                        <div id="emailFormContainer" class="collapse">
                            {% include "cloudmanager/logEmailForm.html" %}
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
{#                    <button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>

    </div>

    <a href="#0" class="logs-cd-top">Top</a>

{% endblock body %}



{% block extra_js %}
    <script type="text/javascript" src="{% static "js/logs.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.dotdotdot.min.js" %}"></script>
    <script type="text/javascript" src="{% static "vendor/plugins/daterange/moment.js" %}"></script>
    <script type="text/javascript" src="{% static "vendor/plugins/daterange/daterangepicker.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "vendor/plugins/daterange/daterangepicker.css" %}">

    <script type="text/javascript">

        $(document).ready(function () {
            {% for cluster in clusters %}
                clusterMap["{{ cluster.tmid }}"]="{{ cluster }}";
            {% endfor %}
            logsInit();
        });

    </script>



{% endblock extra_js %}


