{% extends "cloudmanager/base.html" %}
{% load staticfiles %}

{% block head_title_base %}
    Tidemark CM2: Logs
{% endblock %}


{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url "cm_dashboard" %}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="{% url "cm_dashboard" %}">Home</a></li>
        <li><a href="{% url "cm_logs" %}">Logs</a></li>
        <li class="active">Log Snippet</li>
    </ol>
{% endblock breadcrumb %}



{% block body %}





    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    Log Snippet
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-9">
                            <dl class="dl-horizontal">
                                <dt>Cluster</dt>
                                <dd id="cluster_name">LOADING...</dd>
                                <dt>Component</dt>
                                <dd id="component_name">LOADING...</dd>
                            </dl>
                        </div>

                </div>


                <div class="row">
                    <div class="col-md-12">

                        <table class="table table-hover table-condensed table-borders">
                            <thead>
                            <tr class="active">
                                {#                                    <th ></th>#}
                                {#                                    <th></th>#}
                                <th colspan="3">
                                    <div class="col-md-8">
                                        <div id="extraInfoHeader">

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="text-right" data-on="info" data-off="success">

                                        </div>
                                    </div>
                                </th>

                            </tr>
                            </thead>

                            <tbody id="results_body">
                            <tr id="newer_holder" colspan="3" class="hidden">
                                <td></td>
                            </tr>

                            <tr id="older_holder" class="hidden">
                                <td></td>
                            </tr>
                            <th colspan="3">
                                <div class="col-md-8">
                                    <div id="extraInfoFooter">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                </div>
                            </th>
                            </tbody>
                        </table>

                        <div>

                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>
    </div>

    <a href="#0" class="logs-cd-top">Top</a>

{% endblock body %}



{% block extra_js %}
    <script type="text/javascript" src="{% static "js/logs.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.dotdotdot.min.js" %}"></script>
    <script type="text/javascript" src="{% static "vendor/plugins/daterange/moment.js" %}"></script>
    <script type="text/javascript" src="{% static "vendor/plugins/daterange/daterangepicker.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "vendor/plugins/daterange/daterangepicker.css" %}">

    <script type="text/javascript">

        $(document).ready(function () {
            logSnippetInit("{{ snippethash }}");
        });

    </script>



{% endblock extra_js %}


