{% extends "theme_base.html" %}


{% load i18n %}

{% block nav %}
	{% if user.is_authenticated %}
		<ul>{% spaceless %}
			<li id="tab_profile"><a href="{% url "profile_detail" user.username %}">{% trans "Profile" %}</a></li>
			{% comment %}<li id="tab_notices"><a href="{% url "notification_notices" %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></li> {% endcomment %}
		{% endspaceless %}</ul>
	{% endif %}
{% endblock %}

{% block footer %}
	{% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
	{% block extra_body %}{% endblock %}
{% endblock %}
