{% load tz %}
{% load staticfiles %}


<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="{{ LANGUAGE_CODE }}">
<!--<![endif]-->

<head>
<meta charset="utf-8">

<title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}"  />

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="description" content="">
<meta name="author" content="">

<!-- styles -->

<!--<link href="{% static "vendor/bootstrap/css/bootstrap.css" %}" rel="stylesheet">-->


<meta charset="utf-8">
<title>Tidemark CloudManager V2</title>
<meta name="keywords" content="Tidemark Cloud Manager" />
<meta name="description" content="Tidemark Cloud Manager V2">
<meta name="author" content="Tidemark DevOps">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Font CSS  -->
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700">

<!-- Core CSS  -->
<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static "fonts/glyphicons_pro/glyphicons.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "fonts/icomoon/style.min.css" %}">

<!-- Plugin CSS -->
<link rel="stylesheet" type="text/css" href="{% static "vendor/plugins/calendar/fullcalendar.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "vendor/plugins/datatables/css/datatables.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "vendor/plugins/ladda/ladda.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "vendor/plugins/chosen/chosen.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/animate.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "vendor/plugins/gritter/css/jquery.gritter.css" %}">

<!-- Theme CSS -->
<link rel="stylesheet" type="text/css" href="{% static "css/theme.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/pages.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/plugins.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}">

<!-- Boxed-Layout CSS -->
<link rel="stylesheet" type="text/css" href="{% static "css/boxed.css" %}">

<!-- Demonstration CSS -->
<link rel="stylesheet" type="text/css" href="{% static "css/demo.css" %}">

<!-- bootstrap-switch CSS -->
<link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/css/bootstrap-switch.min.css" %}">


<!-- Your Custom CSS -->
<link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}">

<!-- Favicon -->
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">



</head>


<body class="{% block body_class %}{% endblock body_class %}"> 


<!-- Start: Header -->
{% block main_container %}

<header class="navbar navbar-fixed-top">

	<div class="tidemark-logo pull-left navbar-brand navbar-logo" >    
	<img src="{% static "img/tidemark-logo-135x30.png"%}" height="30" ></img></div>
	<div class="pull-left"> 
		<a class="navbar-brand" href="{% url "cm_dashboard" %}">
			<div class="navbar-logo">CloudManager V2</div>
		</a> 
	</div>
<div class="pull-right header-btns">
	<div class="alerts-menu">
		<button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"> <span class="glyphicons glyphicons-bell"></span> <b>3</b> </button>
		<ul class="dropdown-menu checkbox-persist" role="menu">
			<li class="menu-arrow">
				<div class="menu-arrow-up"></div>
			</li>
			<li class="dropdown-header">Recent Alerts <span class="pull-right glyphicons glyphicons-bell"></span></li>
			<li>
				<ul class="dropdown-items">
					<li>
						<div class="item-icon"><i style="color: #0066ad;" class="fa fa-facebook"></i> </div>
						<div class="item-message"><a href="#">Facebook likes reached <b>8,200</b></a></div>
					</li>
					<li>
						<div class="item-icon"><i style="color: #5cb85c;" class="fa fa-check"></i> </div>
						<div class="item-message"><a href="#">Robert <b>completed task</b> - Client SEO Revamp</a></div>
					</li>
					<li>
						<div class="item-icon"><i style="color: #f0ad4e" class="fa fa-user"></i> </div>
						<div class="item-message"><a href="#"><b>Marko</b> logged 12 hours</a></div>
					</li>
				</ul>
			</li>
			<li class="dropdown-footer"><a href="#">View All Alerts <i class="fa fa-caret-right"></i> </a></li>
		</ul>
	</div>
	<div class="tasks-menu">
		<button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"> <span class="glyphicons glyphicons-tag"></span> <b>7</b> </button>
		<ul class="dropdown-menu dropdown-checklist checkbox-persist" role="menu">
			<li class="menu-arrow">
				<div class="menu-arrow-up"></div>
			</li>
			<li class="dropdown-header">Recent Tasks <span class="pull-right glyphicons glyphicons-tag"></span></li>
			<li>
				<ul class="dropdown-items">
					<li>
						<div class="item-icon"><i class="fa fa-pencil"></i> </div>
						<div class="item-message text-slash"><a>Try Clicking me!</a></div>
						<div class="item-label"><span class="label label-danger">Urgent</span></div>
						<div class="item-checkbox">
							<input class="checkbox row-checkbox" type="checkbox">
						</div>
					</li>
					<li>
						<div class="item-icon"><i class="fa fa-phone"></i> </div>
						<div class="item-message text-slash"><a>Contact Client and request Approval</a></div>
						<div class="item-label"><span class="label label-info">Normal</span></div>
						<div class="item-checkbox">
							<input class="checkbox row-checkbox" type="checkbox">
						</div>
					</li>
					<li>
						<div class="item-icon"><i class="fa fa-flask"></i> </div>
						<div class="item-message text-slash"><a>Find new Python Developer </a></div>
						<div class="item-label"><span class="label label-success">Completed</span></div>
						<div class="item-checkbox">
							<input class="checkbox row-checkbox" type="checkbox">
						</div>
					</li>
					<li>
						<div class="item-icon"><i class="fa fa-facebook"></i> </div>
						<div class="item-message text-slash"><a>Update Facebook Page with Halloween Pictures</a></div>
						<div class="item-label"><span class="label label-primary">In Progress</span></div>
						<div class="item-checkbox">
							<input class="checkbox row-checkbox" type="checkbox">
						</div>
					</li>
					<li>
						<div class="item-icon"><i class="fa fa-group"></i> </div>
						<div class="item-message text-slash"><a>Organize next Staff Meeting</a></div>
						<div class="item-label"><span class="label label-success">Completed</span></div>
						<div class="item-checkbox">
							<input class="checkbox row-checkbox" type="checkbox">
						</div>
					</li>
					<li>
						<div class="item-icon"><i class="fa fa-plane"></i> </div>
						<div class="item-message text-slash"><a>Interview new applicant</a></div>
						<div class="item-label"><span class="label label-warning">Moderate</span></div>
						<div class="item-checkbox">
							<input class="checkbox row-checkbox" type="checkbox">
						</div>
					</li>
				</ul>
			</li>
			<li class="dropdown-footer"><a href="#">View All Tasks <i class="fa fa-caret-right"></i> </a></li>
		</ul>
	</div>
	<div class="btn-group user-menu">
		<button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"> <span class="glyphicons glyphicons-user"></span> <b> {{ user.get_full_name }}</b> </button>
		<ul class="dropdown-menu checkbox-persist" role="menu">
			<li class="menu-arrow">
				<div class="menu-arrow-up"></div>
			</li>
			<li class="dropdown-header">Your Account <span class="pull-right glyphicons glyphicons-user"></span></li>
			<li>
				<ul class="dropdown-items">
					<li>
						<a class="dropdown-item-link" href="#">
							<div class="item-icon"><i class="fa fa-calendar"></i></div>
							Calendar
						</a>
					</li>
					<li>
						<a class="dropdown-item-link" href="{% url "account_password_reset" %}">
							<div class="item-icon"><i class="fa fa-envelope-o"></i></div>
							Reset Password
						</a>
					</li>
					<li>
						<a class="dropdown-item-link" href="{% url "account_password" %}">
							<div class="item-icon"><i class="fa fa-key"></i></div>
							Change Password
						</a>
					</li>
					<li class="border-bottom-none">
						<a class="dropdown-item-link" href="{% url "account_settings" %}">
							<div class="item-icon"><i class="fa fa-cog"></i></div>
							Settings
						</a>
					</li>
					<li class="padding-none">
						<a class="dropdown-lockout" href="#"><i class="fa fa-lock"></i>Screen Lock</a>
						<a class="dropdown-signout" href="{% url "account_logout" %}"><i class="fa fa-sign-out"></i>Sign Out</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
</header>
<!-- End: Header --> 
<!-- Start: Main -->
<div id="main"> 
	<!-- Start: Sidebar -->
	<aside id="sidebar">
		<div id="sidebar-search">
			<form role="search">
				<input type="text" class="search-bar form-control" placeholder="Search">
				<i class="fa fa-search field-icon-right"></i>
				<button type="submit" class="btn btn-default hidden"></button>
			</form>
			<div class="sidebar-toggle"> <span class="glyphicon glyphicon-resize-horizontal"></span> </div>
		</div>
		<div id="sidebar-menu">
			<ul class="nav sidebar-nav">
				<ul id="sideEight" class="nav sub-nav">
					<li><a href="#"><span class="glyphicons glyphicons-ok_2"></span> Item #1</a></li>
					<li><a href="#"><span class="glyphicons glyphicons-ok_2"></span> Item #2</a></li>
					<li><a class="accordion-toggle" href="#sideEight-sub"><span class="glyphicons glyphicons-show_lines"></span>2nd Level Nav<span class="caret"></span></a>
						<ul id="sideEight-sub" class="nav sub-nav">
							<li><a href="#"><span class="glyphicons glyphicons-ok_2"></span> Item #1</a></li>
							<li><a href="#"><span class="glyphicons glyphicons-ok_2"></span> Item #2</a></li>
							<li><a class="accordion-toggle" href="#sideEight-sub-2"><span class="glyphicons glyphicons-show_lines"></span>3rd Level Nav<span class="caret"></span></a>
								<ul id="sideEight-sub-2" class="nav sub-nav">
									<li><a href="#"><span class="glyphicons glyphicons-ok_2"></span> Item #1</a></li>
									<li><a href="#"><span class="glyphicons glyphicons-ok_2"></span> Item #2</a></li>
									<li><a class="accordion-toggle" href="#sideEight-sub-2"><span class="glyphicons glyphicons-show_lines"></span>4th Level Nav<span class="caret"></span></a>
										<ul id="sideEight-sub-2" class="nav sub-nav">
											<li><a href="#"><span class="glyphicons glyphicons-ok_2"></span> Item #1</a></li>
											<li><a href="#"><span class="glyphicons glyphicons-ok_2"></span> Item #2</a></li>
											<li><a href="#"><span class="glyphicons glyphicons-ok_2"></span> Item #3</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li> <a href="{% url "cm_dashboard" %}"><span class="glyphicons glyphicons-star"></span><span class="sidebar-title">Dashboard</span></a> </li>
			<li> <a class="accordion-toggle" href="{% url "cm_clusters" %}"><span class="glyphicons glyphicons-settings"></span><span class="sidebar-title">Clusters</span><span class="caret"></span></a>
				<ul id="resources" class="nav sub-nav">
					<li><a href="{% url "cm_clusters" %}"><span style="width: 15px;" class="glyphicons glyphicons-edit"></span> My Clusters </a></li>
					<li><a href="{% url "cm_deployer" %}"><span class="glyphicons glyphicons-magic"></span> Deployer </a></li>

	</ul>
</li>
<li> <a class="accordion-toggle" href="{% url "cm_logs" %}"><span class="glyphicons glyphicons-adjust_alt"></span><span class="sidebar-title">Logs</span><span class="caret"></span></a>
	<ul id="sideOne" class="nav sub-nav">
		<li><a href="{% url "cm_logs" %}"><span class="glyphicons glyphicons-sort"></span> All Logs</a></li>
{#		<li><a href="{% url "cm_logs" "web" %}"><span class="glyphicons glyphicons-macbook"></span> Web Logs</a></li>#}
{#		<li><a href="{% url "cm_logs" "grid" %}"><span class="glyphicons glyphicons-font"></span> GridSlave Logs</a></li>#}
{#		<li><a href="{% url "cm_logs" "pfm" %}"><span class="glyphicons glyphicons-paperclip"></span> Process Flow Logs</a></li>#}
	</ul>
</li>
<li> <a class="accordion-toggle" href="{% url "cm_tenants" %}"><span class="glyphicons glyphicons-vcard"></span><span class="sidebar-title">Tenants</span><span class="caret"></span></a>
	<ul id="sideTwo" class="nav sub-nav">
		<li><a href="{% url "cm_tenants" %}"><span class="glyphicons glyphicons-show_thumbnails"></span> Dashboard</a></li>
	</ul>
</li>
<li> <a class="accordion-toggle" href="#sideThree"><span class="glyphicons glyphicons-table"></span><span class="sidebar-title">Repositories</span><span class="caret"></span></a>
	<ul id="sideThree" class="nav sub-nav">
		<li><a href="{% url "cm_repositories" %}"><span class="glyphicons glyphicons-justify"></span> Software Version</a></li>
	</ul>
</li>
<li> <a class="accordion-toggle" href="#sideFour"><span class="glyphicons glyphicons-cargo"></span><span class="sidebar-title">Reports</span><span class="caret"></span></a>
	<ul id="sideFour" class="nav sub-nav">
		<li><a href="{% url "cm_reports" %}"><span class="glyphicons glyphicons-tree_conifer"></span> DevOps Financials</a></li>
	</ul>
</li>
<li> <a class="accordion-toggle" href="#sideFive"><span class="glyphicons glyphicons-magic"></span><span class="sidebar-title">Builds/Releases</span><span class="caret"></span></a>
	<ul id="sideFive" class="nav sub-nav">
		<li><a href="{% url "cm_builds" %}"><span class="glyphicons glyphicons-flash"></span> Releases</a></li>
		<li><a href="{% url "cm_builds" %}"><span class="glyphicons glyphicons-fire"></span> Builds</a></li>
	</ul>
</li>
<li> <a class="accordion-toggle" href="#sideFive"><span class="glyphicons glyphicons-magic"></span><span class="sidebar-title">Testing</span><span class="caret"></span></a>
	<ul id="sideFive" class="nav sub-nav">
		<li><a href="{% url "cm_testing" %}"><span class="glyphicons glyphicons-flash"></span> Run Tests</a></li>
		<li><a href="{% url "cm_testing" %}"><span class="glyphicons glyphicons-fire"></span> Test Results</a></li>
	</ul>
</li>
	</ul>
</div>
</aside>
<!-- End: Sidebar --> 
<!-- Start: Content -->
<section id="content" style='min-height:900px;'>
	<div id="topbar">
		{% block breadcrumb %}
			<ol class="breadcrumb">
				<li><a href="{% url "cm_dashboard" %}"><span class="glyphicon glyphicon-home"></span></a></li>
				<li><a href="{% url "cm_dashboard" %}">Home</a></li>
				<li class="active">Dashboard</li>
			</ol>
	{% endblock breadcrumb %}
	</div>
	<div class="container" >
		{% block body %}
		{% endblock body %}
		
		{% block extra_body %}
		{% endblock extra_body %}
	</div>
</section>
<!-- End: Content --> 
</div>
<!-- End: Main -->




{% endblock main_container %}

<!-- Begin: Front Page Loading Animation --> 
<div id="page-loader"><span class="glyphicon glyphicon-cog fa-spin cog-1"></span></div>
<!-- End: Front Page Loading Animation --> 

<!-- Core Javascript - via CDN -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script> <!-- Plugins - Via CDN -->
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.8.1/jquery.flot.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js"></script>


<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.1.0/spin.min.js"></script>


<!-- Plugins - Via Local Storage
<script type="text/javascript" src="vendor/plugins/jqueryflot/jquery.flot.min"></script>
<script type="text/javascript" src="vendor/plugins/sparkline/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="vendor/plugins/datatables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="vendor/plugins/calendar/fullcalendar.min.js"></script>
-->

<!-- Plugins -->
<script type="text/javascript" src="{% static "vendor/plugins/calendar/gcal.js" %}"></script><!-- Calendar Addon -->
<script type="text/javascript" src="{% static "vendor/plugins/jqueryflot/jquery.flot.resize.min.js" %}"></script><!-- Flot Charts Addon -->
<script type="text/javascript" src="{% static "vendor/plugins/datatables/js/datatables.js" %}"></script><!-- Datatable Bootstrap Addon -->
<script type="text/javascript" src="{% static "vendor/plugins/ladda/ladda.min.js" %}"></script><!-- Datatable Bootstrap Addon -->
<script type="text/javascript" src="{% static "vendor/plugins/ladda/spin.min.js" %}"></script><!-- Datatable Bootstrap Addon -->
<script type="text/javascript" src="{% static "vendor/plugins/chosen/chosen.jquery.min.js" %}"></script><!-- Chosen Addon -->
<script type="text/javascript" src="{% static "vendor/plugins/gritter/js/jquery.gritter.min.js" %}"></script> 
<script type="text/javascript" src="{% static "vendor/bootstrap/js/bootstrap-switch.min.js" %}"></script><!-- Bootstrap-switch Addon -->


<!-- Theme Javascript -->
<script type="text/javascript" src="{% static "js/uniform.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/main.js" %}"></script>
<!--<script type="text/javascript" src="js/plugins.js"></script>-->
<script type="text/javascript" src="{% static "js/custom.js" %}"></script>

<script type="text/javascript" src="{% static "js/cm2_app.js" %}"></script>
<script type="text/javascript" src="{% static "js/tenant_app.js" %}"></script>


<script src="http://malsup.github.com/jquery.form.js"></script>


{% block extra_js %}{% endblock extra_js %}




</body>




</html>
