<div class="panel-btns pull-right">
	<div class="btn-group margin-right"  data-url="{{ url }}">
		{% comment %} previous button {% endcomment %}
		<button class="ajax-pgn btn btn-sm btn-default" {% if cur_page.has_previous %} data-page="{{ cur_page.previous_page_number }}" {% else %} disabled="disabled"{% endif %}><i class="fa fa-caret-left"></i> </button>
		
		{% comment %} link to the first page with separator {% endcomment %}
		{% if 1 not in pages %}
			<button class="ajax-pgn btn btn btn-sm btn-default" type="button" data-page="1">1</button>
			<button class="ajax-pgn btn btn btn-sm btn-default" type="button" data-page="{{ prev_jump }}">...</button>
		{% endif %}
		
		{% comment %} pages {% endcomment %}
		{% for page in pages %}
			<button class="ajax-pgn btn btn btn-sm btn-default {% if cur_page.number == page %}active{% endif %}" type="button" data-page="{{ page }}">{{ page }}</button>
		{% endfor %} 
		
		{% comment %} link to the last page with separator {% endcomment %}
		{% if cur_page.paginator.num_pages not in pages %}
			<button class="ajax-pgn btn btn btn-sm btn-default" type="button" data-page="{{ next_jump }}">...</button>
			<button class="ajax-pgn btn btn btn-sm btn-default" type="button" data-page="{{cur_page.paginator.num_pages}}">{{cur_page.paginator.num_pages}}</button>
		{% endif %}
		
		{% comment %} next button {% endcomment %}
		<button class="ajax-pgn btn btn btn-sm btn-default" {% if cur_page.has_next %}  data-page="{{ cur_page.next_page_number }}" {% else %} disabled="disabled" {% endif %}><i class="fa fa-caret-right"></i></button>
	</div>
</div>    