{% load staticfiles %}
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
			<h4 class="modal-title text-center">Subtask information</h4>
		</div>
		<div class="modal-body" >
			{% if subtask %}
				{% if subtask.error_message %}
				<div class="alert alert-danger alert-dismissable">
			        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
			        <strong>Error occurred while executing task. </strong> {{subtask.error_message}}
		        </div>
				{% endif %}
				<ul class="timeline-widget list">
					{% for step in subtask.subtaskstep_set.all %}
		            <li class="media">
		              <div class="timeline-icon">
		              	{% if step.status == 'PN' %}
		              		<span class="glyphicons glyphicons-clock text-yellow"></span>
		              	{% elif step.status == 'ST'%}
		              		 <span class="glyphicons fa-spin glyphicons-cogwheel text-blue"></span>
		              	{% elif step.status == 'SU'%}
		              		<span class="glyphicons glyphicons-ok text-green"></span>
		              	{% elif step.status == 'FA'%}
		              		<span class="glyphicons glyphicons-remove text-red"></span>
		              	{% elif step.status == 'SK'%}
		              		<span class="glyphicons glyphicons-share text-blue"></span>
		              	{% endif %}
		              </div>
		              <div class="media-body"> {{step.comment}}</div>
		            </li>
		            {% endfor %}
				</ul>
			{% else %}
				<p class="margin-bottom-lg">No information!</p>
			{% endif %}
		</div>
		<div class="modal-footer">
			<button type="button" data-dismiss="modal" class="btn btn-info">Close</button>
		</div>
	</div>
</div>
