/* Author: Louis Holladay
 * Website: AdminDesigns.com
 * Last Updated: 02/01/14 
 * Copyright 2014 Admin Designs
=================================================
 * This file is reserved for changes made by 
 * the user. It's often times a good idea to 
 * seperate your changes from the themes core.
 * It makes modifications, and future theme
 * updates much easier to apply.
================================================= */

/* These styles have been placed here for as 
 * they have a high chance of needing to be
 * changed if one decides to modify the header
-----------------------------------------------*/

/* Navbar bottom border disabled by default */
.navbar {
	border-bottom: 1px solid transparent;
}
/* Header button states - text colors */
.header-btns > div > button:focus {
	color: #666;
}
.header-btns > div > button:hover {
	color: #0094d2;
}
/* Sidebar menu item states - background colors */
ul.sidebar-nav > li > a:hover {}/* top level*/
ul.sidebar-nav ul.sub-nav > li > a:hover {}/* Submenu item level */


/* Place your custom styles or styles which 
 * have been generated with the customization 
 * tool below this line. 
-----------------------------------------------*/
