@import "modules/all";
/* Author: Louis Holladay
 * Website: AdminDesigns.com
 * Last Updated: 02/01/14 
 * Copyright 2014 Admin Designs
=================================================
   VI. DEMO PAGES
	 A. Markitup
	 B. Jvector Maps
	 C. Flot Charts
	 D. Form Switch
	 E. Tags Manager
	 F. Ckeditor
	 G. Mixitup
	 H. Colorpicker/Datepicker
	 I. Dropzone
	 J. Gmap
	 K. Chosen
	 L. Elfinder
	 M. Form Wizard
	 N. DataTables
	 O. TreeView
	 P. Nestable
	 Q. Uniform (includes ALL plugin styles)
	  
 * This file contains small changes EXCEPT
 * for the UNIFORM Plugin. All of the plugins
 * styles have been placed in this stylesheet 
 * as the plugin is used sitewide.
================================================= 
 A. Markitup Editor
================================================= */
/* Container */
.markItUp {
	width: 100%;
	margin: 0;
}
/* Header */
.markItUpHeader {
	min-height: 43px;
	padding: 8px 20px 0px;
	background: #eee;
	border: 1px solid #CCC;
	border-bottom: 0;
}
.markItUpButton {
	padding: 4px;
	background: #FFF;
	border: 1px solid #CCC;
}
.markItUpHeader ul .markItUpSeparator {
	height: 25px;
}
/* Textarea */
.markItUpEditor {
	border-color: #ccc;
	width: 100%;
	height: 250px;
}
/* Footer */
.markItUpFooter {
	height: 15px;
}

/*===============================================
  B. Jvector Maps
================================================= */ 
.jvectormap-label {
    position: absolute;
    display: none;
    border: solid 1px #CDCDCD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    color: white;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    padding: 3px;
}
.jvectormap-zoomin, .jvectormap-zoomout {
	@include gradient($blue4-color);
    cursor: pointer;
    position: absolute;
    left: 15px;
    padding: 3px;
    width: 30px;
    height: 25px;
    color: #fff;
    line-height: 18px;
    text-align: center;
	font-weight: 400;
	font-size: 20px;		
	border: 1px solid transparent;
    border-color: rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.18);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.40);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
}
.jvectormap-zoomin {
	top: 10px;
	left: auto;
	right: 20px;
}
.jvectormap-zoomout {
	top: 10px;
	left: auto;
	right: 60px;
}

/*===============================================
  C. Flot Charts
================================================= */ 
/* Shared Flot and Sparkline tooltip */
.jqstooltip, #flotTip {
    color: #fff;
    width: auto !important;
    height: auto !important;
    padding: 2px 6px !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
    border: 0 !important;
    border-radius: 3px;
}

/*===============================================
  D. Formswitch
================================================= */ 
.has-switch {
    border-radius: 0;
    border-color: #c9c9c9;
}
.has-switch span.switch-left, .has-switch span.switch-right {
    border: 2px solid #FFF;
    border-radius: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}
.has-switch label {
    width: 32%;
    margin-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: url(../vendor/plugins/uniform/themes/default/images/grip.png) center center no-repeat, -webkit-linear-gradient(top,  #fcfcfc 0%,#dddddd 100%);
    background: url(../vendor/plugins/uniform/themes/default/images/grip.png) center center no-repeat, linear-gradient(to bottom,  #fcfcfc 0%,#dddddd 100%);
}

/*===============================================
  E. Tags Manager
================================================= */ 
.tm-tag { margin-right: 8px }
.tag-container { margin-top: 15px }

/*===============================================
  F. Ckeditor 
================================================= */ 
/* fixes Bootstrap style confliction */
.cke_toolbar_break {
	clear: none !important;
	display: block !important;
}        

/*===============================================
  G. Mixitup
================================================= */ 
#Grid {
    position: relative;
    padding-left: 0;
    margin: 0;
    font-size: 0.1px;
    text-align: justify;
    overflow: hidden;
}
#Grid:after {
    display: inline-block;
    width: 100%;
    content: '';
}
#Grid .mix {
    position: relative;
    display: none;
    width: 19%;
    margin-bottom: 20px;
    padding: 0;
    opacity: 0;
    overflow: hidden;
}
#Grid li a { display: block }
#Grid li a img {
    max-width: 100%;
    border: 1px solid #DDD;
}
#Grid .gap {
    display: inline-block;
    width: 19%;
}
/* jQuery UI placeholder */
#Grid .placeholder {
    position: relative;
    display: inline-block;
    width: 19%;
    height: 161px;
    vertical-align: top;
    background: #DDD;
}
#Grid .placeholder::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    border: 1px solid #BBB;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px #BBB inset, 1px 1px 0 #FFF;
    box-shadow: 0 1px 3px #BBB inset, 1px 1px 0 #FFF;
}

/*===============================================
  H. Colorpicker/Datepicker
================================================= */ 
.colorpicker {
	padding: 6px 12px;
	min-width: 0;
}
.datepicker {
	padding: 6px 12px;
}

/*===============================================
  I. Dropzone
================================================= */ 
.dropzone {min-height: 405px;}
.dropzone .dz-default.dz-message {
	background-image: none;
	width: 100%;
	height: 100%;
	top: 23%;
	margin-left: 0px;
	margin-top: -23px;
	text-align: center;
	left: 0;
}
.dropzone .dz-default.dz-message span {
	display: inline-block;
	text-align: center;
}
.dropzone .dz-default.dz-message span.main-text {
	font-size: 28px;
	font-weight: 400;
	color: #666;
}
.dropzone .dz-default.dz-message span.main-text b {
	font-size: 40px;
	color: #444;
}
.dropzone .dz-default.dz-message span.sub-text {
	font-size: 20px;
	color: #888;
}
.dropzone .dz-default.dz-message i.fa {
	font-size: 100px;
	display: block;
	color: #428bca;
	margin-bottom: 15px;
}
.dropzone a.dz-remove,
.dropzone-previews a.dz-remove {
	cursor: pointer;
}
/* Demonstration Purposes ONLY */
.dropzone .dz-preview .dz-error-message,
.dropzone-previews .dz-preview .dz-error-message {
	display: none !important;
}

/*===============================================
  J. Gmap
================================================= */ 
/* Inline Map Pagination Styles */
.map .pagination {
	@include light-gradient($light2-color);
    width: 96%;
    margin: 11px;
    -webkit-box-shadow: 0 2px 4px #999;
    box-shadow: 0 2px 4px #999;
}
.map .pagination .display {
    display: inline-block;
    width: 84%;
    height: 40px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    text-align: center;
    line-height: 40px;
    text-shadow: 0 1px #FFF;
}
.map .pagination .btn {
    width: 8%;
    height: 40px;
    cursor: pointer;
    border-radius: 0;
    vertical-align: top;
    border: 0;
}
.map .pagination .back-btn {
    float: left;
    border-right: 1px solid #ccc;
    background: url("../vendor/plugins/gmap/images/arrow_left_12x12.png") no-repeat 50% 50%;
}
.map .pagination .fwd-btn {
    float: right;
    border-left: 1px solid #ccc;
    background: url("../vendor/plugins/gmap/images/arrow_right_12x12.png") no-repeat 50% 50%;
}
.map .checker { margin-right: 8px }
/* Map Styling Helper Classes */
.map-shadow {
    -webkit-box-shadow: 0 2px 3px #999;
    box-shadow: 0 2px 3px #999;
}
.map-gradient {
	@include light-gradient($light2-color);
}
.map-rounded { border-radius: 4px }

/*===============================================
  K. Chosen
================================================= */ 
/* Single Select List */
.chosen-container-single .chosen-single {
    border-color: #c9c9c9;
    box-shadow: none;
    height: 35px;
    line-height: 32px;
}
.chosen-container-single .chosen-drop { padding: 5px }
/* Multi Select List */
.chosen-container-multi .chosen-choices {
    cursor: pointer;
    border-radius: 4px;
    border-color: #c9c9c9;
    background-clip: padding-box;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, #ffffff 1%,#f0f0f0 100%);
    background-image: linear-gradient(to bottom, #ffffff 1%,#f0f0f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    cursor: pointer;
    height: 35px;
    line-height: 32px;
}
.chosen-container-multi.chosen-container-active .chosen-choices {
    box-shadow: none;
    background-repeat: repeat-x;
    background-clip: padding-box;
    background-image: -webkit-linear-gradient(top, #eeeeee 1%,#ffffff 100%);
    background-image: linear-gradient(to bottom, #eeeeee 1%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.chosen-container-multi.chosen-container-active .chosen-drop {
    padding: 8px 5px;
    -webkit-box-shadow: 0 0 8px #999;
    box-shadow: 0 0 8px #999;
}

/*===============================================
  L. Elfinder
================================================= */ 
/* fixes a compatability problem with Jquery
 * and Bootstrap CSS libraries */
.elfinder .elfinder-button { box-sizing: content-box; }
/* wrapper */
.ui-widget-content { border-color: #BBB; }
/* header */
.elfinder-toolbar {
	@include light-gradient($light2-color);
	padding: 15px 10px 14px;
	border-bottom: 1px solid #BBB;
}
/* header search */
.elfinder .elfinder-button-search {	margin: 0px 4px; }
.elfinder-button-search input {
	border-radius: 4px;
	padding: 4px 20px;
	border-color: #ccc;
	height: 29px;
	width: 202px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.elfinder-rtl .elfinder-button-search .ui-icon-search, .elfinder-ltr .elfinder-button-search .ui-icon-close {
	right: 3px;
}

/* side menu */
.elfinder .elfinder-navbar {
	padding: 15px 10px;
	background: #f6f6f6;
}
/* menu list */
.elfinder-navbar .ui-state-active,
.elfinder-disabled .elfinder-navbar .ui-state-active,
.elfinder-ltr .elfinder-navbar-subtree  {
	padding-top: 6px;
	padding-bottom: 6px;
	margin-bottom: 5px;
	cursor: pointer;
}
/* content */
.elfinder-cwd-wrapper {
	padding-top: 10px;
}
/* footer */
.elfinder .elfinder-statusbar {
	background: #f5f5f5;
	padding: 13px 10px;
	border-top: 1px solid #BBB;
}
/* preview modal */
.elfinder-quicklook {
	padding: 15px;	
	border: 1px solid #bbb;
	border-radius: 0;
}
.elfinder-quicklook-titlebar {
	@include light-gradient($light2-color);
	padding: 8px;
	font-size: 13px;
	color: #666;
	height: 35px;
	border-bottom: 1px solid #BBB;
	border-radius: 0;
}
.elfinder-quicklook-title {
	color: #666;
}

/*===============================================
  M. Form Wizard
================================================= */ 
.wizard-wrapper {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 40px;
    padding-left: 50px;
    border-bottom: 1px dashed #c9c9c9;
}
ul.wizard-steps {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
ul.wizard-steps li {
    position: relative;
    display: inline-block;
    width: 32%;
    text-align: center;
}
ul.wizard-steps li a {
    position: relative;
    top: 15px;
    color: #888;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 0 1px #ffffff;
}
ul.wizard-steps li .wizard-icon {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    padding: 5px;
    background: #DDD;
    border-radius: 50%;
    z-index: 11;
    -webkit-box-shadow: 1px 0 1px #AAA inset;
    box-shadow: 1px 0 1px #AAA inset;
}
ul.wizard-steps li .wizard-icon .fa {
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    background: #fff;
    border: 1px solid #CCC;
    border-radius: 50%;
    line-height: 38px;
    z-index: 11;
    -webkit-box-shadow: 1px 0 0 rgba(0,0,0, .1);
    box-shadow: 1px 0 0 rgba(0,0,0, .1);
}
ul.wizard-steps li:after {
    position: absolute;
    top: 36%;
    left: 50%;
    width: 100%;
    height: 8px;
    background-color: #DDD;
    content: "";
    z-index: 10;
    -webkit-box-shadow: 0 1px 1px #AAA inset, 0 -1px 1px rgba(255,255,255, 0.8) inset;
    box-shadow: 0 1px 1px #AAA inset, 0 -1px 1px #f5f5f5 inset;
}
ul.wizard-steps li:last-child:after {
    display: none;
    content: "";
}
/* Wizard Step States */
ul.wizard-steps li.active .wizard-icon i {
    color: #0094d2;
    transition: all ease-in-out 2s;
}
ul.wizard-steps li.passed .wizard-icon i {
    color: #fff;
    background: #0094d2;
    transition: all ease-in-out 2s;
}
ul.wizard-steps li.passed.active .wizard-icon i {
    background-color: #0094d2;
    color: #fff;
}

/*===============================================
  N. DataTables
================================================= */ 
table.dataTable { 
	font-size: 13px; 
	margin-top: 15px;
}
/* Datatable Header */
table.dataTable thead th { border-bottom: 1px solid #DDD }
/* Datatable Sorted Rows */
table.dataTable tr.odd td.sorting_1 { background-color: #FFF }
table.dataTable tr.even td.sorting_1 { background-color: #f8f8f8 }
/* Datatable Filters Menu Container */
.dt-panelmenu { 
    min-height: 52px;
	margin: -15px -15px 10px;
}
/* DataTables Search Bar Filter */
div.dataTables_filter input {
	width: 270px;
	line-height: 1.428571429;
	padding: 3px 8px;
	color: #999;
	outline: none;
	background: #FFF;
	max-height: 30px;
	height: 29px;
	border-radius: 4px;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
div.dataTables_filter input[placeholder] {
   font-weight: 400;
}
/* DataTables Dropdown Filter */
.dataTables_length { display: none; }
@media (min-width: 768px) { .dataTables_length { display: block; } }
.dataTables_length .chosen-container { margin: 0 5px; }
div.dataTables_length label {
	color: #999;
	font-weight: 600;
}
.dataTables_length .chosen-container-single .chosen-single {
	height: 30px;
	line-height: 28px;
    color: #888;
	background: #FFF;
}
/* DataTables Dropdown Filter Arrow Icon */
.dataTables_length .chosen-container-single .chosen-single div {
	top: 3px
}
/* Datatable Result Counter */
div.dataTables_info {
    padding-top: 10px;
    color: #999;
}
/* Datatable Footer */
.datatables-footer { margin-top: 10px }
/* Datatable Pagination */
.datatables-footer .pagination { margin: 0 }
.datatables-footer .pagination { padding-top: 2px }
table.dataTable > thead > tr > th, table.dataTable > tbody > tr > th, table.dataTable > tfoot > tr > th, table.dataTable > thead > tr > td, table.dataTable > tbody > tr > td, table.dataTable > tfoot > tr > td { vertical-align: middle }

/* DATATABLES PLUGIN STYLES - TABLETOOLS */
/* TableTools Container */
div.DTTT_container {
	position: absolute;
	float: none;
	right: 0;
	top: -45px;
}
/* TableTools Buttons */
div.DTTT_container .DTTT_button {
	font-size: 1em;
	color: #777 !important;
	padding: 5px 10px;
	margin-right: 5px;
	border-radius: 3px;
	border: 1px solid #CCC;
	box-shadow: none;
}
div.DTTT_container .DTTT_button:last-child { margin-right: 0px; }
div.DTTT_container .DTTT_button:hover {
	color: #333;
	border-color: #AAA;
	box-shadow: none;
}

/*===============================================
  O. TreeView
================================================= */ 
ul.dynatree-container {
    font-family: 'Open Sans',Helvetica, Arial, sans-serif;
	border: none;
	background-color: transparent;
}
ul.dynatree-container ul {
	margin-left: 20px;
}
span.dynatree-folder {
	position: relative;
	margin: 5px;	
	padding: 8px 5px 8px 8px;
	border-radius: 6px;
	border: 1px solid #CCC;
	@include light-gradient($light2-color);
}
span.dynatree-folder + ul .dynatree-node {
	margin: 7px 5px;	
	padding: 8px 5px 8px 12px;
}
span.dynatree-folder + ul li {position: relative;}
span.dynatree-folder + ul li:before {
	content: "";
	position: absolute;	
	left: -20px;
	top: 49%;
	height: 1px;
	width: 22px;
	border-bottom: 1px solid #CCC;
}
span.dynatree-folder + ul li:after {
	content: "";
	position: absolute;	
	left: -20px;
	top: 0;
	height: 100%;
	width: 1px;
	border-left: 1px solid #CCC;
}
span.dynatree-folder + ul li:last-child:after {
	height: 53%;
}
ul.dynatree-container a {
	font-weight: 600;
	color: #666;
	text-shadow: 0 1px #FFF;	
	outline: none;
	border: none;
}
ul.dynatree-container a:hover,
ul.dynatree-container .dynatree-active a {
	outline: none;
	border: none;
	background: transparent;
}
span.dynatree-connector {
	display: none;
}

/* Alternate Tree Style - Minimal. Uses class "tree-alt" */
.tree-alt span.dynatree-folder {
	position: relative;
	margin: 5px;	
	padding: 5px 3px 5px 5px;
	border: none;
    background: none;
}
.tree-alt ul.dynatree-container ul {
	margin-left: 30px;
}
.tree-alt span.dynatree-folder + ul .dynatree-node {
	margin: 5px 3px;
	padding: 6px 3px 6px 9px;
}

/* Modifies size of alt style when in Panel Side Menu */
.panel-sidemenu .tree-alt span.dynatree-folder {
	margin-left: 0;
	padding-left: 0;
}
.panel-sidemenu .tree-alt span.dynatree-folder + ul .dynatree-node {
	padding: 3px 3px 3px 6px;
}

/* Demonstration Styles - Colored Folders */
.tree-alt-bg span.dynatree-folder {
	@include gradient("");
}
.tree-alt-bg span.dynatree-folder a.dynatree-title {
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.40);
}

.tree-alt-bg.tree-color1 span.dynatree-folder {	background-color: $primary-alt-color; }
.tree-alt-bg.tree-color2 span.dynatree-folder {	background-color: $success-alt-color; }
.tree-alt-bg.tree-color3 span.dynatree-folder {	background-color: $info-alt-color; }
.tree-alt-bg.tree-color4 span.dynatree-folder {	background-color: $warning-alt-color; }
.tree-alt-bg.tree-color5 span.dynatree-folder {	background-color: $danger-alt-color; }
.tree-alt-bg.tree-color6 span.dynatree-folder {	background-color: $alert-alt-color; }

/* Demonstration Styles - Tab Tree Content */ 
.tree-content-example .tab-pane {
	display: none;
}
.tree-content-example .tab-pane img {
	float: left;
	width: 47%;
	max-width: 47%;
	margin: 1.5%;
	padding: 2px;
	border: 3px solid #CCC;
}

/* DRAG AND DROP SUPPORT */
/* Helper object */
div.dynatree-drag-helper { }
div.dynatree-drag-helper a {
	border: 1px solid gray;
	background-color: white;
	padding-left: 5px;
	padding-right: 5px;
	opacity: 0.8;
}
span.dynatree-drag-helper-img {
/*	position: relative;
	left: -16px;	*/
}
div.dynatree-drag-helper /*.dynatree-drop-accept*/ {
/*  border-color: green;
	background-color: red; */
}
div.dynatree-drop-accept span.dynatree-drag-helper-img {
	background-position: -32px -112px;
}
div.dynatree-drag-helper.dynatree-drop-reject {
	border-color: red;
}
div.dynatree-drop-reject span.dynatree-drag-helper-img {
	background-position: -16px -112px;
}

/* Drop marker icon */
#dynatree-drop-marker {
	width: 24px;
	position: absolute;
	background-position: 0 -128px;
	margin: 0;
}
#dynatree-drop-marker.dynatree-drop-after,
#dynatree-drop-marker.dynatree-drop-before {
	width:64px;
	background-position: 0 -144px;
}
#dynatree-drop-marker.dynatree-drop-copy {
	background-position: -64px -128px;
}
#dynatree-drop-marker.dynatree-drop-move {
	background-position: -64px -128px;
}

/* Source node while dragging */
span.dynatree-drag-source {
	/* border: 1px dotted gray; */
	background-color: #e0e0e0;
}
span.dynatree-drag-source a {
	color: gray;
}

/* Target node while dragging cursor is over it */
span.dynatree-drop-target {
	/*border: 1px solid gray;*/
}
span.dynatree-drop-target a { }
span.dynatree-drop-target.dynatree-drop-accept a {
	/*border: 1px solid green;*/
	background-color: #3169C6 !important;
	color: white !important; /* @ IE6 */
	text-decoration: none;
}
span.dynatree-drop-target.dynatree-drop-reject {
	/*border: 1px solid red;*/
}
span.dynatree-drop-target.dynatree-drop-after a {}

/*===============================================
  P. Nestable
================================================= */ 
.dd { position: relative; display: block; margin: 10px 0; padding: 0; list-style: none; font-size: 13px; line-height: 20px; }
.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }
.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }

/* Default Color */
.dd-handle { display: block; height: 30px; margin: 5px 0; padding: 5px 10px; color: #FFF; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
	cursor: pointer;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
	@include gradient("");
}
.dd-handle:hover { @include gradient-hover; }

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
	background: #888;
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

/* Nestable Extras */
.nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }
#nestable-menu { padding: 0; margin: 20px 0; }
#nestable-output,
#nestable2-output { width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }

/* Alternate Colors */
.nestable-white .dd-handle {
    color: #666;
	@include light-gradient($light2-color);
}
.nestable-white .dd-handle:hover { color: #666; }
.nestable-grey .dd-handle {
	background-color: $dark4-color;
}
.nestable-grey .dd-item > button:before { color: #fff; }

.nestable-blue .dd-handle {	background-color: #0066ad; }
.nestable-blue .dd-item > button:before { color: #fff; }

.nestable-green .dd-handle { background-color: #5cb85c; }
.nestable-green .dd-item > button:before { color: #fff; }

.dd-hover > .dd-handle { background: #2ea8e5 !important; }

/* Nestable Draggable Handles */
.dd3-content { display: block; height: 30px; margin: 5px 0; padding: 5px 10px 5px 40px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
	@include light-gradient($light2-color);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd3-content:hover { color: #2ea8e5; background: #fff; }
.dd-dragel > .dd3-item > .dd3-content { margin: 0; }
.dd3-item > button { margin-left: 30px; }
.dd3-handle { position: absolute; margin: 0; left: 0; top: 0; cursor: pointer; width: 30px; text-indent: 100%; white-space: nowrap; overflow: hidden;
	@include gradient($dark4-color);
    border: 1px solid #aaa;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dd3-handle:before { content: '≡'; display: block; position: absolute; left: 0; top: 3px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 20px; font-weight: normal; }
.dd3-handle:hover { background: #ddd; }

/*===============================================
  Q. Uniform
================================================= */ 
/* General settings */
div.selector span {
    display: block;
    display: block;
    width: 100%;
    height: 26px;
    padding-right: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-position: right 0;
    line-height: 26px;
    cursor: pointer;
}
div.selector, div.selector span, div.checker span, div.radio span, div.uploader, div.uploader span.action, div.button, div.button span {
    background-image: url("../img/form/sprite.png");
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
}
div.uploader span.filename {
    display: block;
    float: left;
    width: 85px;
    height: 24px;
    margin: 2px 0 2px 2px;
    padding: 0 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: default;
    line-height: 24px;
}
div.uploader span.filename {
    color: #777;
    border-right: solid 1px #bbbbbb;
    font-size: 11px;
}
div.uploader span.action {
    display: inline;
    float: left;
    width: 82px;
    height: 28px;
    text-align: center;
    background-position: right -409px;
    line-height: 28px;
    overflow: hidden;
    cursor: pointer;
}
div.uploader span.action {
    background-color: #fff;
    font-size: 11px;
    font-weight: bold;
    text-shadow: white 0px 1px 0px;
}
div.selector select {
    font-size: 12px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
div.selector select {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 100%;
    height: 22px;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
}
div.uploader input {
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    cursor: default;
}
div.selector:focus, div.checker:focus, div.button:focus, div.radio:focus, div.uploader:focus { outline: 0 }
div.selector span {
    color: #666;
    text-shadow: 0 1px 0 white;
}
div.button span {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
div.button span {
    display: -moz-inline-box;
    display: inline-block;
    height: 22px;
    margin-left: 13px;
    padding: 8px 15px 0 2px;
    text-align: center;
    *display: inline;
    zoom: 1;
    line-height: 22px;
    background-position: right -521px;
}
div.selector, div.selector *, div.radio, div.radio *, div.checker, div.checker *, div.uploader, div.uploader *, div.button, div.button * {
    margin: 0;
    padding: 0;
}
div.button a, div.button button, div.button input {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.01;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
}
div.selector, div.checker, div.button, div.radio, div.uploader {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    /* Keeping this as: focus to remove browser styles */
}
div.checker span.checked { background-position: -76px -260px }
div.radio span.checked { background-position: -72px -279px }
div.checker input {
    display: -moz-inline-box;
    display: inline-block;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    *display: inline;
    zoom: 1;
}
div.checker, div.checker span, div.checker input {
    width: 19px;
    height: 19px;
}
div.checker span {
    display: -moz-inline-box;
    display: inline-block;
    text-align: center;
    *display: inline;
    zoom: 1;
    background-position: 0 -260px;
}
div.radio input {
    display: -moz-inline-box;
    display: inline-block;
    text-align: center;
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    *display: inline;
    zoom: 1;
}
div.radio span {
    display: -moz-inline-box;
    display: inline-block;
    text-align: center;
    *display: inline;
    zoom: 1;
    background-position: 0 -279px;
}
div.radio, div.radio span, div.radio input {
    width: 18px;
    height: 18px;
}
.highContrastDetect {
    width: 0px;
    height: 0px;
    background: url("../img/form/bg-input.png") repeat-x 0 0;
}
/* Input & Textarea */
input.uniform-input, select.uniform-multiselect, textarea.uniform {
    padding: 3px;
    background: url("../img/form/bg-input.png") repeat-x 0 0;
    outline: 0;
}
input.uniform-input, input.uniform-input:focus { background-color: #fff }
input.uniform-input.active, select.uniform-multiselect.active, textarea.uniform.active { background: url("../img/form/bg-input-focus.png") repeat-x 0 0 }
/* Remove default webkit and possible mozilla .search styles.
 * Keeping this as :active to remove browser styles */
/* Select */
div.checker input, input[type="search"], input[type="search"]:active {
    -moz-appearance: none;
    -webkit-appearance: none;
}
div.selector {
    position: relative;
    height: 26px;
    padding: 0 0 0 10px;
    background-position: 0 -130px;
    line-height: 26px;
    overflow: hidden;
}
div.selector.fixedWidth { width: 190px }
div.selector.fixedWidth span { width: 155px }
div.selector.active { background-position: 0 -156px }
div.selector.active span { background-position: right -26px }
div.selector.hover, div.selector.focus { background-position: 0 -182px }
div.selector.hover span, div.selector.focus span { background-position: right -52px }
div.selector.hover.active, div.selector.focus.active { background-position: 0 -208px }
div.selector.hover.active span, div.selector.focus.active span { background-position: right -78px }
div.selector.disabled, div.selector.disabled.active { background-position: 0 -234px }
div.selector.disabled span, div.selector.disabled.active span { background-position: right -104px }
div.selector.disabled span, div.selector.disabled.active span { color: #bbb }
/* Checkbox */
div.checker { position: relative }
div.checker.active span { background-position: -19px -260px }
div.checker.active span.checked { background-position: -95px -260px }
div.checker.hover span, div.checker.focus span { background-position: -38px -260px }
div.checker.hover span.checked, div.checker.focus span.checked { background-position: -114px -260px }
div.checker.hover.active span, div.checker.focus.active span { background-position: -57px -260px }
div.checker.hover.active span.checked, div.checker.focus.active span.checked { background-position: -133px -260px }
div.checker.disabled, div.checker.disabled.active { background-position: -152px -260px }
div.checker.disabled span.checked, div.checker.disabled.active span.checked { background-position: -171px -260px }
/* Radio */
div.radio { position: relative }
div.radio.active span { background-position: -18px -18px -279px }
div.radio.active span.checked { background-position: -90px -279px }
div.radio.hover span, div.radio.focus span { background-position: -36px -36px -279px }
div.radio.hover span.checked, div.radio.focus span.checked { background-position: -108px -279px }
div.radio.hover.active span, div.radio.focus.active span { background-position: -54px -279px }
div.radio.hover.active span.checked, div.radio.focus.active span.checked { background-position: -126px -279px }
div.radio.disabled span, div.radio.disabled.active span { background-position: -144px -279px }
div.radio.disabled span.checked, div.radio.disabled.active span.checked { background-position: -162px -279px }
/* Uploader */
div.uploader {
    position: relative;
    width: 190px;
    height: 28px;
    background-position: 0 -297px;
    cursor: pointer;
    overflow: hidden;
}
div.uploader.active span.action { background-position: right -465px }
div.uploader.hover, div.uploader.focus { background-position: 0 -353px }
div.uploader.hover span.action, div.uploader.focus span.action { background-position: right -437px }
div.uploader.hover.active span.action, div.uploader.focus.active span.action { background-position: right -493px }
div.uploader.disabled, div.uploader.disabled.active { background-position: 0 -325px }
div.uploader.disabled span.filename, div.uploader.disabled.active span.filename {
    color: #aaa;
    border-color: #ddd;
}
div.uploader.disabled span.action, div.uploader.disabled.active span.action { color: #aaa }
div.uploader.disabled span.action, div.uploader.disabled.active span.action { background-position: right -381px }
/* Buttons */
div.button {
    position: relative;
    height: 30px;
    background-position: 0 -641px;
    cursor: pointer;
    /* Keep buttons barely visible so they can get focus */
}
div.button.active { background-position: 0 -671px }
div.button.active span {
    background-position: right -551px;
    cursor: default;
}
div.button.hover, div.button.focus { background-position: 0 -701px }
div.button.hover span, div.button.focus span { background-position: right -581px }
div.button.hover span, div.button.focus span { color: #555 }
div.button.disabled, div.button.disabled.active { background-position: 0 -731px }
div.button.disabled span, div.button.disabled.active span { color: #bbb }
div.button.disabled span, div.button.disabled.active span {
    background-position: right -611px;
    cursor: default;
}
/* INPUT & TEXTAREA */
input.uniform-input, select.uniform-multiselect, textarea.uniform {
    color: #777;
    border-top: solid 1px #aaaaaa;
    border-right: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    border-left: solid 1px #aaaaaa;
    font-size: 12px;
    font-weight: normal;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
input.uniform-input.hover, input.uniform-input.focus, select.uniform-multiselect.hover, select.uniform-multiselect.focus, textarea.uniform.hover, textarea.uniform.focus {
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border-color: #999;
}
/* PRESENTATION */
/* Buttons */
/* Select */
div.selector { font-size: 12px }
/* Checker */
div.checker { margin-right: 5px }
/* Radio */
div.radio { margin-right: 3px }
/* Uploader */

