{% load staticfiles %}

<div class="modal-header">
	<h3>Deploy</h3>
</div>
<div class="modal-body">
	<form class="cmxform" id="deployer_modal_form" method="post" data-cluster="{{ clusterid }}" action="{% url 'modal_deploy_tm' %}" > {% csrf_token %}
		<div class="form-group">
			<label for="platform_type">Platform Type</label>
			<select  name="platform_type"  class="form-control" required="">
				<option value="release">Release</option>
				<option value="snapshot">Snapshot</option>
			</select>
		</div>		
		<div class="form-group">
			<label for="platform_version">Platform version</label>
			<select  name="platform_version"  class="form-control" required="">
				{% for version in snapshots %}				
					<option value="{{ version }}">{{ version }}</option>
				{% endfor %}
				{% for version in releases %}				
					<option value="{{ version }}">{{ version }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="form-group">
			<input type="hidden" name="cluster_id" value="{{ clusterid }}" >
		</div>
		<div class="form-group text-center">
          <button id="submit_deploy_platform" type="submit" class="btn btn-success btn-gradient margin-right-sm submit_deploy_platform" ><i class="fa fa-check"></i> Deploy</button>
          <button  type="button" class="btn btn-danger btn-gradient" data-dismiss="modal"><i class="fa fa-warning"></i> No nevermind</button>
        </div>
				
	</form>
</div>

