{% load staticfiles %}

<div class="modal-header">
	<h3 style="text-align: center;">JVM Extra Options </h3>
</div>
<div class="modal-body">
	<form class="cmxform form-horizontal" id="jvmoptions_modal_form" method="post"  action="{% url 'modal_jvmoptions_tm' %}" > {% csrf_token %}

		<div class="form-group">
			<input type="text" id="jvmoptions" name="jvmExtraOptions" class="form-control" value="{{ options }}" >
		</div>		
		
		<div class="form-group">
			<input type="hidden" name="cluster_id" value="{{ clusterid }}" >
		</div>
		<div class="form-group">
			<input type="hidden" name="service" value="{{ service }}" >
		</div>
		<div class="form-group text-center">		
			<button id="submit_jvmoptions" type="submit" class="btn  btn-success btn-gradient margin-right-sm submit_jvmoptions" ><i class="fa fa-check"></i> Update</button>
			<button  type="button" class="btn btn-danger btn-gradient" data-dismiss="modal"><i class="fa fa-warning"></i> Nevermind</button>
		</div>
	</form>
</div>
