{% load staticfiles %}

<div class="modal-header">
	<h3 style="text-align: center;">Logger Levels for {{ service }} </h3>
</div>
<div class="modal-body" style="margin: 25px 25px 25px 25px;">
	<form class="cmxform form-horizontal" id="loggerlevels_modal_form" method="post"  action="{% url 'modal_loggerlevels_tm' %}" > {% csrf_token %}
		{% for k,v in levels.items %}
		<div class="form-group">
			<label for="{{k}}">{{k}}</label>			
			<input id="{{k}}" type="text"  name="{{k}}" class="form-control" value="{{ v }}" >
		</div>		
		{% endfor %}
		
		<div class="form-group">
			<input type="hidden" name="cluster_id" value="{{ clusterid }}" >
		</div>
		<div class="form-group">
			<input type="hidden" name="service" value="{{ service }}" >
		</div>
		<div class="form-group text-center">		
			<button id="submit_loggerlevels" type="submit" class="btn  btn-success btn-gradient margin-right-sm submit_loggerlevels" ><i class="fa fa-check"></i> Update</button>
			<button  type="button" class="btn btn-danger btn-gradient" data-dismiss="modal"><i class="fa fa-warning"></i> Nevermind</button>
		</div>
	</form>
</div>
