/* Author: Lecole Cole, Sandeep
	* Website: Tidemark.com
	* Last Updated: 06/01/14 
	* Copyright 2014 Tidemark Inc.
=================================================
	* This file is reserved for changes made by 
	* the user. It's often times a good idea to 
	* seperate your changes from the themes core.
	* It makes modifications, and future theme
	* updates much easier to apply.
================================================= */
/* These styles have been placed here for as 
	* they have a high chance of needing to be
	* changed if one decides to modify the header
-----------------------------------------------*/
/* Navbar bottom border disabled by default */
.navbar {
	border-bottom: 1px solid transparent; }

/* Header button states - text colors */
.header-btns > div > button:focus {
	color: #666; }

.header-btns > div > button:hover {
	color: #0094d2; }

/* Sidebar menu item states - background colors */
/* top level*/
/* Submenu item level */
/* Place your custom styles or styles which 
	* have been generated with the customization 
	* tool below this line. 
-----------------------------------------------*/
.navbar-brand {
	font-size: 15px;
	line-height: 30px;
	width: 200px;
	font-family: Impact,Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	color: #686868;
	margin-left: 0px;
}
.navbar-logo {
	padding-top: -1px;
	font-size: 17px;

}
.tidemark-logo {
	margin: auto;  
	display: block;
	max-width: 145px;
	float: left;
	margin-right: 0px;

}

.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 8px;
}

.tenant-well {
    background-color: #4585c5;
    color: #c6e2ff;
}

.active-row {
    border-left: thick solid #4585c5;
}

.table-tiny > tbody > tr > td {
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}

.table-tiny > thead > tr > th {
	text-align: center;
}

.gray-gradient-bg {
	background-color: #f0f0f0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.1) 100%);
}

.gritter-title {
    font-size: 10px;
}

.gritter-item {
    font-size: 13px;
}

.scroolled-nav {
	max-height: 300px !important;
    overflow-y:scroll !important;
}

.cur-pointer {
	cursor: pointer;
}

.cluster_view .panel .panel-heading
{
  overflow: visible;
}

.tm-small-loader {
			display: block;
			background-image: url("/site_media/static/img/loader-small.gif");
			height: 28px;
			width: 28px;
			padding: 2px;
			background-position: center center;
            background-repeat: no-repeat;
			/*loader hidden by default, show when needed*/
			visibility: hidden;
		}


.console-btn .console-icon {
  height: 50px;
}

.tenant-logo-img{
  max-width: 100%;
  max-height:100%;
}

.tenant-logo-md-img{
  width: 100px !important;
  height: 95px !important; 
}

.thumbnail > .tenant-logo-md-img{
	border-width: 3px;
	border-style: solid ;
	border-color: #696A6E #569FD2 #D7C302 #696A6E;
	box-shadow: 3px 3px 10px;
}

.tenant-func-button {
 margin: 4px 0px 4px 0px;
 white-space: normal;
 transition: all .3s ease-out;
 }
 
 .tenant-func-button:hover {
 	box-shadow: 0px 5px 1px -3.5px #D7C302;
 }

.console-btn .console-title-center {
    color: #555;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}

.break-words{
    word-break: break-all;
}


.tenant-title-sm {
	font-size:0.7em;
}

.tenant-title-lg {
	color: #696A6E;
	text-shadow: 0px 5px 3px #EEE9E5;
	font-size: 2.7em;
	font-weight: 700;
	text-rendering: optimizelegibility;
	margin-bottom: 10px;
	margin-top: 2.5%;
	padding-bottom: 10px;
}

.logRow{

}

.logSectionSeparator{
    text-align: center;
    font-weight: bold;
}

.logShareSection{
    /*border-top: 1px solid #AFAFAF;*/
    margin: 5px 0;
    padding: 3px 0;
}

.logs-cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(/site_media/static/img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.logs-cd-top.cd-is-visible, .logs-cd-top.cd-fade-out, .no-touch .logs-cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.logs-cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.logs-cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .logs-cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .logs-cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .logs-cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

div.confirmation {
	border-top: 1px solid #ddd; 
	padding-top: 2px;
	margin-top: 10px;
}

.tenant-button {
  width:  210px !important;
  height: 170px !important;
  margin: 25px 25px !important;
  box-shadow: 3px 3px 10px;
  transition: all .2s ease-out; 
   position: relative;
}

.tenant-button:hover {
    border-color: #569FD2;
    border-width: 2px;
    text-shadow: none;
    transform: scale(1.1);
    background-color: #fff;
} 

 
.tenant-button a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: #FFF;
    opacity: 0;
    filter: alpha(opacity=1);
}

.tenant-button div.tenant-button-image {
	margin-top: 10px;
}

.tenant-button div.tenant-button-image img {
	border-bottom: 1px solid #4D97B1; 
	padding: 10px 10px;
}

.tenant-button div.tenant-button-title {
	padding-top: 10px;
}
	
.panel {
	margin-bottom: 10px;
	overflow: visible;
}

.table tbody tr.tm-active td, .table tbody tr.tm-active th {
	background-color: #569FD2;
 	color: #fff;
}

.btns-nav{
  width: 100%;
  padding-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.33);
  background-color: #f0f0f0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.1) 100%);
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
  border-color: #cccccc rgba(0, 0, 0, 0.19) rgba(0, 0, 0, 0.18);
  border-radius: 3px 3px 0 0;
}


.tenant-logo-thumbnail {
	background-color: inherit;
	border: 0px;
	display: block; 
	float: left;
}

.cm2-spinner{
	animation-duration: 1.5s;
	color: #D7C302;
	position: relative;
	top: 35%;
}

.cm2-spinner-md{
	font-size: 2em;
}

.cm2-spinner-lg{
	font-size: 5em;
}

.cm2-spinner-xl{
	font-size: 8em;
}

.spin-container{
	text-align: center; 
	width: 100%; 
	height: 100%; 
}

.tm-blue{
	color: #569FD2;
}

.hidden {
	display: none;
}

hr.small {
	margin: 0px 0px 10px;
}

