{% extends "tenant/base.html" %}
{% load staticfiles %}
{% load c_filters %}

{% block breadcrumb %}
		<ol class="breadcrumb">
			<li><a href="{% url "cm_dashboard" %}"><span class="glyphicon glyphicon-home"></span></a></li>
			<li><a href="{% url "cm_dashboard" %}">Home</a></li>
			<li><a href="{% url "cm_tenants" %}">Tenants</a></li>
			<li class="active">{{tenant.name | capfirst}}</li>
		</ol>
		
{% endblock breadcrumb %}
	
{% block body %}

<div class="row tenant-header" data-tenant-id="{{tenant.id}}">
	<div class="col-xs-12">
		<span class="thumbnail margin-right-lg tenant-logo-thumbnail">
			<img class="tenant-logo-md-img img-circle" src="{% static "img/"|add:tenant.name|add:".jpg"|logo_or_default %}">
		</span>
		<p class="tenant-title-lg">{{tenant.name | capfirst}}</p>
	</div>
</div>


<div class="well well-lg">
 	<div class="row">
 		<div class="col-lg-12">
			<ul class="nav nav-pills ">
				<li><a id="migr-form-show" class="btn btn-gradient btn-light4 tenant-func-button migrate-tenant" type="button" data-url="{% url "cm_migration"%}">Migrate</a></li>
				<li><a id="clone-form-show" class="btn btn-gradient btn-light4 tenant-func-button clone-tenant" type="button" data-url="{% url "cm_clone" %}">Clone</a></li>
				<li><a id="tenant-backup-form-show" class="btn btn-gradient btn-light4  tenant-func-button backup-tenant" type="button" data-url="{% url "cm_tenant_backup" %}" >Backup</a></li>
				<li><a id="tenant-sgs-form-show" class="btn btn-gradient btn-light4 tenant-func-button sgs-tenant" type="button" data-url="{% url "tenant_save_gs" %}">Save Golden State</a></li>
			</ul>
		</div>
		<div class="col-lg-12">
			<hr class="small">
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="row">
				<div class="col-md-12">
					<div class="panel tenant-clusters">
						<div class="panel-heading">
							<div class="panel-title">Clusters</div>
						</div>
						<div class="panel-body">
							<div id="clusters-spinner" class="col-xs-12 spin-container">
								<span class="imoon imoon-spinner5 fa-spin cm2-spinner cm2-spinner-lg "></span>
							</div>
							<table id="tenant-clusters" style="display: none;" class="table table-hover" data-tenant-id="{{tenant.id}}" data-clusters-url="{% url "clusters_ajax" %}" data-tenant-status-url="{% url "data_tenant_status" %}">
								<thead>
									<tr>
										<th>#</th>
										<th>Name</th>
										<th>Version</th>
										<th>Tenant's status</th>
									</tr>
								</thead>
								{% comment %}
								<tbody>
									BODY WILL BE ADDED BY JS
								</tbody>
								{% endcomment %}
							</table>
						</div>
					</div>
				</div>
			</div>
	
			<div class="row">
				<div class="col-md-5 col-sm-12">
					<div class="panel">
						<div class="panel-heading">
							<div class="panel-title">Team</div>
						</div>
						<div class="panel-body">
							<table class="table table-bordered table-striped">
								<tbody>
									<tr>
										<td><b>Owner</b></td>
										<td>{{tenant.attribute.owner}}</td>
									</tr>
									<tr >
										<td><b>CS Owner</b></td>
										<td>{{tenant.attribute.cs_owner}}</td>
									</tr>
									<tr>
										<td><b>CA Owner</b></td>
										<td>{{tenant.attribute.ca_owner}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
				<div class="col-md-7 col-sm-12" >
					<div class="panel" style=" overflow: visible;">
						<div class="panel-heading">
							<div class="panel-title">Golden states</div>
						</div>
						<div class="panel-body" >
							<table id="tenants-golden-states" style="display: none;" class="table table-striped" data-tenant-id="{{tenant.id}}" data-url="{% url "tenant_list_gs" %}">
								<thead>
									<tr>
										<th style="width:20%">Version</th>
										<th>Date</th>
										<th>Created by</th>
										<th></th>
									</tr>
								</thead>
								{% comment %}
								<tbody>
									BODY WILL BE ADDED BY JS
								</tbody>
								{% endcomment %}
							</table>
							<div id="gs-spinner" class="col-xs-12 spin-container">
								<span class="imoon imoon-spinner5 fa-spin cm2-spinner cm2-spinner-lg "></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-6 col-sm-12">
			{% comment %}  Tasks container  {% endcomment %}
			<div class="row">
				<div class="col-md-12">
					<div class="panel tenant-tasks" data-tenant-id="{{tenant.id}}" data-tasks-url="{% url "data_tenant_tasks" %}"  data-update-tasks-url="{% url "data_tenant_tasks_update" %}" data-clustesr-url="{% url "clusters_ajax" %}">
						<div class="panel-heading">
							<div class="panel-title">Tasks</div>
							<ul class="nav panel-tabs">
								{% for cluster in clusters %}
								<li {% if forloop.counter == 1 %}class="active"{% endif %}>
									<a id="cluster-{{cluster.id}}-link-tab" href="#cluster-{{cluster.id}}-tab-content" data-cluster-id={{cluster.id}} data-toggle="tab">{{cluster.name}}</a>
								</li>
								{% endfor %}
							</ul>
						</div>
						<div class="panel-body">
							<div class="tab-content padding-none border-none">
								{% for cluster in clusters %}
								<div id="cluster-{{cluster.id}}-tab-content" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}">
									<div class="col-xs-12 spin-container tasks-spinner">
										<span class="imoon imoon-spinner5 fa-spin cm2-spinner cm2-spinner-lg" ></span>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
			{% comment %}  Backups container  {% endcomment %}
			<div class="row">
				<div class="col-md-12">
					<div class="panel tenant-backups" data-tenant-id="{{tenant.id}}" data-backups-url="{% url "tenant_backups" %}" >
						<div class="panel-heading">
							<div class="panel-title">Backups</div>
							<ul class="nav panel-tabs">
								{% for cluster in clusters %}
								<li {% if forloop.counter == 1 %}class="active"{% endif %}>
									<a id="cluster-backup-{{cluster.id}}-link-tab" href="#cluster-backup-{{cluster.id}}-tab-content" data-cluster-id={{cluster.id}} data-toggle="tab">{{cluster.name}}</a>
								</li>
								{% endfor %}
							</ul>
						</div>
						<div class="panel-body">
							<div class="tab-content padding-none border-none">
								{% for cluster in clusters %}
								<div id="cluster-backup-{{cluster.id}}-tab-content" class="tab-pane {% if forloop.counter == 1 %}active{% endif %}">
									<div class="col-xs-12 spin-container backup-spinner">
										<span class="imoon imoon-spinner5 fa-spin cm2-spinner cm2-spinner-lg" ></span>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% comment %} FORM CONTAINERS {% endcomment %}


<div id="tenant-sgs-form-container" class="modal fade ajax-load ajax-submit" aria-hidden="false"  role="dialog"  data-keyboard="false" tabindex="-1" data-form-uri="{% url "tenant_save_gs" %}" data-context="tenant" data-tenant-id={{tenant.id}}> 
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
				<h4 class="modal-title"><i class="glyphicons glyphicons-pin_flag"></i> Save golden state</h4>
			</div>
			<div class="modal-body">
				
			</div>
		</div>
	</div>
</div>


<div tabindex="-1" class="modal fade" id="spinner-modal">
	<div class="col-xs-12 spin-container tasks-spinner">
		<span class="imoon imoon-spinner5 fa-spin cm2-spinner cm2-spinner-lg"></span>
	</div>
</div>

{% endblock body %}

{% block extra_js %}
<script type="text/javascript" src="{% static "js/tenant_dashboard.js" %}"></script>
<script type="text/javascript" src="{% static "js/moment.js" %}"></script>
{% endblock extra_js %}
