{% extends "tenant/base.html" %}
{% load staticfiles %}
{% load c_filters %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="{% url "cm_dashboard" %}"><span class="glyphicon glyphicon-home"></span></a></li>
		<li><a href="{% url "cm_dashboard" %}">Home</a></li>
		<li class="active">Tenants</li>
	</ol>
{% endblock breadcrumb %}


{% block body %}
<div class="row animate-me-btns">
{% for tenant in tenants %}
	<div id="tenant-button-{{tenant.id}}" class="btn btn-default col-lg-2 col-md-4 col-sm-6 col-xs-12 tenant-button" >
		<a href="{% url "tenant_dashboard" tenant.id %}"></a>	
		<div class="row">
			<div class="col-md-12  tenant-button-image">
				<img class="tenant-logo-md-img" src="{% static "img/"|add:tenant.name|add:".jpg"|logo_or_default %}">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 tenant-button-title">
				<span>{{ tenant.name | capfirst}}</span>
			</div>
		</div>
	</div>
{% endfor %}	
</div>

{% endblock body %}

{% block extra_js %}

{% endblock extra_js %}