{% load staticfiles %}
{% load tz %}
{% load c_filters %}
{% load c_tags %}
{% if backups %} 
	<div class="row">
		<div class="col-md-12">
			<div id="tenant-backup-{{tenant_id}}-{{cluster_id}}" class="panel-group accordion accordion-alt backups-container" data-tenant="{{tenant_id}}" data-cluster="{{cluster_id}}">
				 {% for backup in backups %}
					<div class="panel">
						<div class="panel-heading"> 
							<a class="accordion-toggle collapsed" data-toggle="collapse" href="#backup-{{backup.export_id}}" data-parent="#tenant-backup-{{tenant_id}}-{{cluster_id}}">
								<div class="accordion-toggle-icon"> 
									<i class="fa fa-minus-square-o"></i> 
									<i class="fa fa-plus-square-o"></i> 
								</div>
								<span class="glyphicons glyphicons-hdd text-blue3"></span>
								{{backup.export_id | epoch_to_datetime:"America/Los_Angeles" }}
							</a>
						</div>
	
						<div id="backup-{{backup.export_id}}" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-4">
										<div class="row">
											<div class="col-sm-12">
												<b>User: </b><span>{{backup.user_id | user_name}}</span>
											</div>
											<div class="col-sm-12">
												<b>Software version: </b><span>{{backup.cluster_version}}</span>
											</div>
											<div class="col-sm-12">
												<b>Duration: </b><span>{{backup.duration | sec_to_mhd}}</span>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="row">
											<div class="col-sm-12">
												<b>Start time: </b><span>{{backup.start_timestamp | epoch_to_datetime:"America/Los_Angeles"}}</span>
											</div>
											<div class="col-sm-12">
												<b>End time: </b><span>{{backup.end_timestamp | epoch_to_datetime:"America/Los_Angeles"}}</span>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="row">
											<div class="col-sm-12">
												<button class="btn btn-green3 pull-right restore-tenant" type="button" data-url="{% url "cm_tenant_restore"%}" data-export-id="{{backup.export_id}}" data-tenant-id="{{tenant_id}}">Restore</button>
											</div>
										</div>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-sm-12">
										<table class="table table-hover">
											<thead>
												<tr>
													<th>Storage</th>
													<th>Start time</th>
													<th>End time</th>
													<th>Duration</th>
													<th style="width: 30%">Content</th>
													<th>Tar size</th>
												</tr>
											</thead>
											<tbody>
												{% for storage in backup.meta.storage_info %}
												<tr>
													<td>{{storage.storage_type}}</td>
													<td>{{storage.start_timestamp | epoch_to_datetime:"America/Los_Angeles"}}</td>
													<td>{{storage.end_timestamp | epoch_to_datetime:"America/Los_Angeles"}}</td>
													<td>{{storage.duration | sec_to_mhd}}</td>
													<td>{{storage.exported_data}}</td>
													<td>{{storage.filesize | byte_sizeof_fmt}}</td>
												</tr>
												{% endfor %}
												<tr>
													<td></td>
													<td></td>
													<td></td>
													<td><b>{{backup.summary_duration | sec_to_mhd}}</b></td>
													<td></td>
													<td><b>{{backup.summary_filesize | byte_sizeof_fmt}}</b></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								{% if backup.comment %}
								<div class="row">
									<div class="col-sm-12">
										<p><b>Comment: </b>{{backup.comment}}</p>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<button class="btn btn-blue3 btn-xs coming-soon" type="button">Edit comment</button>
									</div>
								</div>
								{% else %}
									<div class="row">
									<div class="col-sm-12">
										<button class="btn btn-blue3 btn-xs coming-soon" type="button">Add comment</button>
									</div>
								</div>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" style="margin-bottom: 10px;">   
			{% url "tenant_backups" as pgn_url %}
			{% paginate_ajax backups 5 pgn_url%}
		</div>
	</div>
{% else %}
	<span class="text-danger">There are no tenant's backups for that cluster.</span>
{% endif %}
