{% load staticfiles %}
{% load tz %}
{% load c_filters %}
{% load c_tags %}
{% load tenant_filters %}

{% if tasks %}
	<div class="row">
		<div class="col-md-12">
			<div id="{{tenant_id}}-{{cluster_id}}-acc" class="panel-group accordion accordion-alt tasks-container" data-tenant="{{tenant_id}}" data-cluster="{{cluster_id}}" data-url="{% url "data_tenant_tasks_update" %}" >
				 {% for task in tasks %}
					<div class="panel">
					  <div class="panel-heading"> 
						  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#{{tenant_id}}-{{cluster_id}}-acc" href="#task-{{tenant_id}}-{{cluster_id}}-{{task.id}}">
						    <div class="accordion-toggle-icon"> 
					            <i class="fa fa-minus-square-o"></i> 
					            <i class="fa fa-plus-square-o"></i> 
					        </div>
					        <span id="task-ico-cont-{{tenant_id}}-{{cluster_id}}">
							    {% if task.status == 'SU' %}
							    <span id="task-{{tenant_id}}-{{cluster_id}}-{{ task.id }}-stat-ico" class="glyphicons glyphicons-ok text-green"></span>
							    {% elif task.status == 'ST' %}
							    <span id="task-{{tenant_id}}-{{cluster_id}}-{{ task.id }}-stat-ico" class="imoon imoon-spinner5 fa-spin cm2-spinner cm2-spinner tm-blue"></span>
							    {% elif task.status == 'CA' %}
							    <span id="task-{{tenant_id}}-{{cluster_id}}-{{ task.id }}-stat-ico" class="glyphicons glyphicons-ban text-red"></span>
							    {% elif task.status == 'FA' %}
					            <span id="task-{{tenant_id}}-{{cluster_id}}-{{ task.id }}-stat-ico" class="glyphicons glyphicons-remove text-red"></span>
					            {% else%}
					            <span id="task-{{tenant_id}}-{{cluster_id}}-{{ task.id }}-stat-ico" class="glyphicons glyphicons-remove text-red"></span>
							    {% endif %}
						    </span>
						    {{task.description}}
						  </a>  
					   </div>
						<div id="task-{{tenant_id}}-{{cluster_id}}-{{task.id}}" class="panel-collapse collapse">
							<div class="panel-body">
								<b>Owner: </b><span id="task-{{tenant_id}}-{{cluster_id}}-{{task.id}}-owner">{{task.user_id | user_name}}</span><br>
								<b>Status: </b><span id="task-{{tenant_id}}-{{cluster_id}}-{{task.id}}-status">{{task.status | task_status}}</span><br>
								<b>Start time: </b><span id="task-{{tenant_id}}-{{cluster_id}}-{{task.id}}-start-time">{{ task.start_dt | epoch_to_datetime:"America/Los_Angeles" }}</span><br>
								<b>End time: </b><span id="task-{{tenant_id}}-{{cluster_id}}-{{task.id}}-end-time">{{ task.end_dt | epoch_to_datetime:"America/Los_Angeles"}}</span><br><br>
								<table class="table table-hover">
									<thead>
										<tr>
										    <th>Start time</th>
										    <th>End time</th>
										    <th>Status</th>
										    <th>Description</th>
										</tr>
									</thead>
								    <tbody>
									    {% for subtask in task.subtask_set.all %}
									    <tr class="alert-link subtask-info cur-pointer" data-toggle="modal" data-url="{% url "modal_tenant_subtask" %}" data-jid="{{subtask.job_id}}" href="javascript:void(0)">
										    <td id="subtask-{{tenant_id}}-{{cluster_id}}-{{subtask.job_id}}-start-time">{{ subtask.start_dt | epoch_to_datetime:"America/Los_Angeles" }}</td>
										    <td id="subtask-{{tenant_id}}-{{cluster_id}}-{{subtask.job_id}}-end-time">{{ subtask.end_dt | epoch_to_datetime:"America/Los_Angeles" }}</td>
										    <td id="subtask-{{tenant_id}}-{{cluster_id}}-{{subtask.job_id}}-status">{{ subtask.status | task_status }}</td>
										    <td id="subtask-{{tenant_id}}-{{cluster_id}}-{{subtask.job_id}}-description">{{ subtask.description }}</td>
									    </tr>
									    {% endfor %}
								    </tbody>
								</table>
							</div>
					  </div>
					</div>
					{% endfor %}   
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12" style="margin-bottom: 10px;">   
			{% url "data_tenant_tasks" as pgn_url %}
			{% paginate_ajax tasks 5 pgn_url%}
		</div>
	</div>
{% else %}
	<span>There are no tenant's tasks on that cluster.</span>
{% endif %}
