/*----------------------------------------------
 * This file is an alternate theme created using
 * the themes included customization tool. This
 * stylesheet is used only in "skin-demo.html"
 * and is for demonstrative purposes only.
-----------------------------------------------*/
.header-btns > div > button:focus {
	color: #666;
}

/* Place custom styles below this line 
---------------------------------------*/
.navbar{background-color:rgb(245, 99, 51);background-image:none;box-shadow: none;} 
.header-btns button.btn{background-color: rgb(48, 147, 199); background-image:-webkit-linear-gradient(top, rgba(255, 255, 255, 0.15) 35%,rgba(0, 0, 0, 0.12) 100%);background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 35%,rgba(0, 0, 0, 0.12) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#80ffffff",endColorstr="#00ffffff",GradientType=0);background-repeat:repeat-x;border-color:rgb(40, 123, 171);color:rgb(255, 255, 255);text-shadow: none;} 
#sidebar ul.sidebar-nav > li > a{border-color: #c9c9c9;background-color:transparent;background-image:-webkit-linear-gradient(top,#ffffff 0,#f5f5f5 100%); background-image:linear-gradient(to bottom,#ffffff 0,#f5f5f5 100%); background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f5f5f5",GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);}
#sidebar ul.sidebar-nav li ul.sub-nav{background: #fafafa;border-color: #c9c9c9;}
ul.sidebar-nav > li > a .glyphicons{color:rgb(119, 119, 119);} 
ul.sidebar-nav ul.sub-nav li .glyphicons{color:rgb(245, 99, 51);} 
ul.sidebar-nav li.active > a .glyphicons{color:rgb(245, 99, 51);} 
ul.sidebar-nav > li.active > a span.caret{color:rgb(245, 99, 51);} 
#sidebar-search form input.search-bar{background-color:rgb(229, 229, 229);background-image:none;} 
.panel-heading{background-color:rgb(48, 147, 199);background-image:none;} 
.panel{box-shadow: 0 1px 1px rgba(255, 255, 255, 8),0 -1px 1px rgba(255, 255, 255, 0.05);} 
.panel-title .fa{color:rgb(255, 255, 255);font-size:22px;} 
.panel-title{color:rgb(255, 255, 255);text-shadow: none;} 
#topbar{background: url(../img/patterns/5.png) repeat top left;border-bottom-color:rgb(204, 204, 204);} 
.breadcrumb{font-size:14px;} 
.breadcrumb li a{color:rgb(48, 147, 199);} 
