/*----------------------------------------------
 * This file is an alternate theme created using
 * the themes included customization tool. This
 * stylesheet is used only in "skin-demo.html"
 * and is for demonstrative purposes only.
-----------------------------------------------*/
.header-btns > div > button:focus {
	color: #666;
}

/* Place custom styles below this line 
---------------------------------------*/
.navbar{background-color:rgb(40, 123, 171);background-image:none;box-shadow: none;} 
.header-btns button.btn{background-color: rgb(250, 227, 180); background-image:-webkit-linear-gradient(top, rgba(255, 255, 255, 0.15) 35%,rgba(0, 0, 0, 0.12) 100%);background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 35%,rgba(0, 0, 0, 0.12) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#80ffffff",endColorstr="#00ffffff",GradientType=0);background-repeat:repeat-x;border-color:rgb(254, 218, 131);color:rgb(123, 93, 58);} 
#sidebar ul.sidebar-nav > li > a{background: #FFF;border-color: #ddd;}
#sidebar ul.sidebar-nav li ul.sub-nav{background: #f8f8f8;border-color: #ddd;}
ul.sidebar-nav > li > a .glyphicons{color:rgb(40, 123, 171);} 
ul.sidebar-nav li.active > a .glyphicons{color:rgb(123, 93, 58);} 
ul.sidebar-nav ul.sub-nav li .glyphicons{color:rgb(123, 93, 58);} 
ul.sidebar-nav > li.active > a span.caret{color:rgb(48, 147, 199);} 
ul.sidebar-nav > li > a span.caret{color:rgb(123, 93, 58);} 
#topbar{background-color:rgb(240, 240, 240);background-image:none;} 
.panel-heading{background-color:rgb(255, 255, 255);background-image:none;} 
.panel-title .fa{color:rgb(178, 149, 121);font-size:22px;} 
.panel-title{color:rgb(40, 123, 171);} 
.panel{box-shadow: 0 1px 1px rgba(255, 255, 255, 8),0 -1px 1px rgba(255, 255, 255, 0.05);} 