/*----------------------------------------------
 * This file is an alternate theme created using
 * the themes included customization tool. This
 * stylesheet is used only in "skin-demo.html"
 * and is for demonstrative purposes only.
-----------------------------------------------*/
.header-btns > div > button:focus {
	color: #666;
}

/* Place custom styles below this line 
---------------------------------------*/
.navbar{background-color:rgb(50, 50, 50);background-image:none;} 
.header-btns button.btn{background-color: rgb(191, 13, 20); background-image:-webkit-linear-gradient(top, rgba(255, 255, 255, 0.15) 35%,rgba(0, 0, 0, 0.12) 100%);background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 35%,rgba(0, 0, 0, 0.12) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#80ffffff",endColorstr="#00ffffff",GradientType=0);background-repeat:repeat-x;border-color:rgb(147, 11, 31);color:rgb(30, 28, 31);text-shadow: none;} 
#sidebar:before{background: #f2f2f2;}
#sidebar ul.sidebar-nav > li > a{background: #f2f2f2;border-color: #ddd;}
#sidebar ul.sidebar-nav li ul.sub-nav{background: #f8f8f8;border-color: #ddd;}
#sidebar-search{background-color:rgb(255, 255, 255);background-image:none;} 
ul.sidebar-nav ul.sub-nav li .glyphicons{color:rgb(170, 170, 170);} 
ul.sidebar-nav li.active > a .glyphicons{color:rgb(228, 21, 29);} 
ul.sidebar-nav > li > a span.caret{color:rgb(119, 119, 119);} 
ul.sidebar-nav > li.active > a span.caret{color:rgb(228, 21, 29);} 
.sidebar-toggle{color:rgb(187, 187, 187);background-color:rgb(255, 255, 255);background-image:none;} 
#topbar{background-color:rgb(255, 255, 255);background-image:none;} 
.breadcrumb li a i.fa{color:rgb(50, 50, 50);} 
.breadcrumb li a{color:rgb(209, 0, 17);} 
#content:after{background-color:rgb(229, 229, 229);background-image:none;} 
.panel-title{font-size:15px;color:rgb(33, 51, 75);} 
.panel-title .fa{font-size:22px;color:rgb(228, 21, 29);} 
.panel{box-shadow: none;} 
.panel-heading{background-color:rgb(240, 240, 240);background-image:none;} 
