
///////////////////////
// Bootstrap Colors //
//////////////////////
$default-color: #999;
$primary-color: #428bca;
$success-color: #5cb85c;
$info-color: #5bc0de;
$warning-color: #f0ad4e;
$danger-color: #d9534f;
$alert-color: #7857ca;
$inverse-color: #444;

////////////////////////////////
// Bootstrap Gradient Colors //
///////////////////////////////
$default-alt-color: #f0f0f0;
$primary-alt-color: #0088cc;
$success-alt-color: #44ab00;
$info-alt-color: #14abd8;
$warning-alt-color: #f28900;
$danger-alt-color: #d3332e;
$alert-alt-color: #5d3ab5;

///////////////////////////
// Simple Custom Colors //
//////////////////////////
$grey-color: #666;
$teal-color: #4fbdc8;
$maroon-color: #b94fb5;
$pink-color: #ef679d;
$ruby-color: #e33459;
//$dark-color: #363a3e;
//$blue-color: #6395cf;
//$green-color: #7ec35d;
//$purple-color: #7857ca;
//$red-color: #ee4e3c;
//$orange-color: #ff802c;
//$yellow-color: #efcf1d;

/////////////////////////////
// Advanced Custom Colors //
////////////////////////////
$blue-color: #35b5d7;
$blue2-color: #3093c7;
$blue3-color: #4f96b4;
$blue4-color: #287bab;
$blue5-color: #1c5b86;
$blue6-color: #205066;
$blue7-color: #21334b;
$green-color: #6db54b;
$green2-color: #71aa61;
$green3-color: #417447;
$green4-color: #47741A;
$green5-color: #1C4905;
$red-color: #e4151d;
$red2-color: #d10011;
$red3-color: #bf0d14;
$red4-color: #930b1f;
$purple-color: #BB7EA6;
$purple2-color: #7a5067;
$purple3-color: #89264f;
$purple4-color: #462b4c;
$orange-color: #E94216;
$orange2-color: #f56333;
$orange3-color: #fb7e2a;
$orange4-color: #ff802c;
$yellow-color: #f0c92f;
$yellow2-color: #E1BC4A;
$creme-color: #feda83;
$creme2-color: #fae3b4;
$creme3-color: #d3c27b;
$brown-color: #b29579;
$brown2-color: #7b5d3a;
$brown3-color: #563330;
$dark5-color: #1e1c1f;
$dark4-color: #323232;
$dark3-color: #494949;
$dark2-color: #666666;
$dark-color: #777777;
$light7-color: #aaaaaa;
$light6-color: #bbbbbb;
$light5-color: #cccccc;
$light4-color: #dddddd;
$light3-color: #e5e5e5;
$light2-color: #f0f0f0;
$light-color: #ffffff;
$alert-color: #7857ca;

// To create gradients the Stardom theme uses a transparent overlay on 
// top of an existing background color. This causes the color to lighten.
// To prevent this we have created a secondary set of darker color variants
$blue-alt-color: #008aaf;
$blue2-alt-color: #0070ab;
$blue3-alt-color: #066b95;
$blue4-alt-color: #005789;
$blue5-alt-color: #00416d;
$blue6-alt-color: #043a53;
$blue7-alt-color: #09203f;
$green-alt-color: #368d0d;
$green2-alt-color: #33881b;
$green3-alt-color: #00520a;
$green4-alt-color: #274d00;
$green5-alt-color: #0d2f00;
$red-alt-color: #eb050e;
$red2-alt-color: #d10011;
$red3-alt-color: #a6050b;
$red4-alt-color: #930b1f;
$purple-alt-color: #9c457e;
$purple2-alt-color: #6a254b;
$purple3-alt-color: #71002f;
$purple4-alt-color: #36143e;
$orange-alt-color: #f93e0d;
$orange2-alt-color: #fe561f;
$orange3-alt-color: #ff7214;
$yellow-alt-color: #fac908;
$yellow2-alt-color: #e9bb2d;
$brown-alt-color: #99714b;
$brown2-alt-color: #6c4517;
$brown3-alt-color: #4f1a16;
$creme-alt-color: #ffd266;
$creme2-alt-color: #fedd9a;
$creme3-alt-color: #bca339;
$dark5-alt-color: #151416;
$dark4-alt-color: #2c2c2c;
$dark3-alt-color: #333333;
$dark2-alt-color: #444444;
$dark-alt-color: #555555;
