{% extends "site_base.html" %}

{% block main_nav %}
<div id="bg-left">

<div>
<ul class="menu" style="float:left">
    <li style="background-image:url({{ MEDIA_URL }}images/left1.png); background-repeat:no-repeat; width:243px; padding-top:6px; padding-bottom:7px;  ">User Profile
      <ul class="left_menu_items">
	<div id="menu-out" style="margin-left:7px;">
	    <div id="mainnav_security_dept_list" class="clearb" rel="{% url "acct_passwd" %}">
		<div id="header-right-cont3"><img src="{{ MEDIA_URL }}images/list_dept.png" width="16" height="16" /></div>
		<div id="header-right-cont2"><a href="{% url "acct_passwd" %}">Change Password</a></div>
	    </div>
	    <div id="mainnav_security_dept_list" class="clearb" rel="{% url "acct_email" %}">
		<div id="header-right-cont3"><img src="{{ MEDIA_URL }}images/list_dept.png" width="16" height="16" /></div>
		<div id="header-right-cont2"><a href="{% url "acct_email" %}">Account Email</a></div>
	    </div>
	    <div id="mainnav_security_dept_list" class="clearb" rel="{% url "acct_timezone_change" %}">
		<div id="header-right-cont3"><img src="{{ MEDIA_URL }}images/list_dept.png" width="16" height="16" /></div>
		<div id="header-right-cont2"><a href="{% url "acct_timezone_change" %}">Change TimeZone</a></div>
	    </div>
	    <div id="mainnav_security_dept_list" class="clearb" rel="{% url "acct_language_change" %}">
		<div id="header-right-cont3"><img src="{{ MEDIA_URL }}images/list_dept.png" width="16" height="16" /></div>
		<div id="header-right-cont2"><a href="{% url "acct_language_change" %}">Change Language</a></div>
	    </div>
	    <div id="mainnav_authorize_dropbox" class="clearb" rel="{% url "dropbox_client" %}">
		<div id="header-right-cont3"><img src="{{ MEDIA_URL }}images/list_dept.png" width="16" height="16" /></div>
		<div id="header-right-cont2"><a href="{% url "dropbox_client" %}">Authorize Dropbox</a></div>
	    </div>
	</div>
    </ul>
    </li>
    <li style="background-image:url({{ MEDIA_URL }}images/left1.png); background-repeat:no-repeat; width:243px; padding-top:6px; padding-bottom:7px;  ">Company
      <ul class="left_menu_items">
    <li>
    <div id="menu-out">
     <div id="mainnav_security_company_info" class="clearb" rel="{% url "company" %}">
	    <div id="header-right-cont3"><img src="{{ MEDIA_URL }}images/company.png" width="16" height="16" /></div>
	    <div id="header-right-cont2"><a href="{% url "company" %} ">Company</a></div>
    </div>
     <div id="mainnav_security_company_edit" class="clearb" rel="{% url "company_edit" %}">
	    <div id="header-right-cont3"><img src="{{ MEDIA_URL }}images/n2.png" width="19" height="16" /></div>
	    <div id="header-right-cont2"><a href="{% url "company_edit" %} ">Edit Company Info</a> </div>
    </div>
   
    <div id="mainnav_security_company_edit" class="clearb" rel="{% url "company_audit" %}">
	    <div id="header-right-cont3"><img src="{{ MEDIA_URL }}images/n2.png" width="19" height="16" /></div>
	    <div id="header-right-cont2"><a href="{% url "company_audit" %} ">Company Audit List</a> </div>
    </div>
  
{% comment %}
     <div id="mainnav_security_company_subcompany" class="clearb" rel="#">
	    <div id="header-right-cont3"><img src="{{ MEDIA_URL }}images/n2.png" width="19" height="16" /></div>
	    <div id="header-right-cont2"><a href="{% url "company" %} ">Sub-Companies List</a> </div>
    </div>
{% endcomment %}
 {% if request.session.sub_accounts %}
     <div id="mainnav_security_company_subcompany_create" class="clearb" rel="{% url "sub_company_create" %}">
	    <div id="header-right-cont3"><img src="{{ MEDIA_URL }}images/n3.png" width="19" height="19" /></div>
	    <div id="header-right-cont2"><a href="{% url "sub_company_create" %} ">Create Sub-Company Account</a></div>
    </div>
{% endif %}

    </div>
</li>
    </ul>
    </li>
    <li class="left_menu">Billing 
      <ul class="left_menu_items">
    <li>
    <div id="menu-out">
	<div id="mainnav_acc_plan" class="clearb" rel="{% url "plan_detail" %}">
	    <div id="header-right-cont3"><img src="{{ MEDIA_URL }}images/n3.png" width="19" height="19" /></div>
	    <div id="header-right-cont2"><a id="nav_acc_plan" href="{% url "plan_detail" %}">View Account Plan</a> </div>
	</div>
	<div id="mainnav_acc_billing" class="clearb" rel="{% url "billing_address" %}">
	    <div id="header-right-cont3"><img src="{{ MEDIA_URL }}images/images.png" width="16" height="16" /></div>
	    <div id="header-right-cont2"><a id="nav_acc_billing" href="{% url "billing_address" %}">Update Billing Information</a></div>
	</div>
	{% comment %}
	<div id="mainnav_plan_update" class="clearb" rel="{% url "credit_card_processing" %}">
	    <div id="header-right-cont3"><img src="{{ MEDIA_URL }}images/volume_green.png" width="16" height="16" /></div>
	    <div id="header-right-cont2"><a id="nav_plan_update" href="{% url "credit_card_processing" %}">Update Subscription</a></div>
	</div>
	{% endcomment %}
	<div id="mainnav_acc_transactions" class="clearb" rel="{% url "plan_transactions" %}">
	    <div id="header-right-cont3"><img src="{{ MEDIA_URL }}images/volume_green.png" width="16" height="16" /></div>
	    <div id="header-right-cont2"><a id="nav_acc_transactions" href="{% url "plan_transactions" %}">View Payments &amp; Invoices </a></div>
	</div>
	<div id="mainnav_acc_pricing" class="clearb" rel="{% url "pricing" %}">
	    <div id="header-right-cont3"><img src="{{ MEDIA_URL }}images/volume_green.png" width="16" height="16" /></div>
	    <div id="header-right-cont2"><a id="nav_acc_pricing" href="{% url "pricing" %}">View Detailed Pricing </a></div>
	</div>
	{% if user.is_staff %}
	<div id="mainnav_enable_products" class="clearb" rel="{% url "product_enable" %}">
	    <div id="header-right-cont3"><img src="{{ MEDIA_URL }}images/volume_green.png" width="16" height="16" /></div>
	    <div id="header-right-cont2"><a id="nav_enable_products" href="{% url "product_enable" %}">Enable Products</a></div>
	</div>
	{% endif %}
	{% comment %}
	<div id="mainnav_aws_ec2_queues" class="clearb" rel="{% url "sqs" %}">
	    <div id="header-right-cont3"><img src="{{ MEDIA_URL }}images/volume_green.png" width="16" height="16" /></div>
	    <div id="header-right-cont2"><a id="nav_aws_queues" href="{% url "sqs" %}">Cancel Account</a></div>
	</div>
	{% endcomment %}
    </div>
    </li>
    </ul>
        </div>
</div>

{% endblock main_nav %}
