{% extends "sd_admin/base.html" %}

{% load i18n %}
{% load humanize %}

{% block head_title %}{% blocktrans %}Company Audit List{% endblocktrans %}{% endblock %}

{% block nav_title %}Show: Company Audit{% endblock nav_title %}

{% block extra_javascript %}

<link href="{{MEDIA_URL}}css/themes/skydrea/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css" />
<script src="{{MEDIA_URL}}js/i18n/grid.locale-en.js" type="text/javascript"></script> 
<script src="{{MEDIA_URL}}js/jquery.jqGrid.min.js" type="text/javascript"></script> 
<link href="{{MEDIA_URL}}css/ui.jqgrid.css" rel="stylesheet" type="text/css" />
<script src="{{MEDIA_URL}}js/jquery-ui-1.7.2.custom.min.js" type="text/javascript"></script>

<!-- Additional IE/Win specific style sheet (Conditional Comments) -->
<!--[if lte IE 7]>
<link rel="stylesheet" href="{{MEDIA_URL}}css/jquery.tabs-ie.css" type="text/css" media="projection, screen">
<![endif]-->
{% endblock extra_javascript %}



{% block content %}
	<div style="clear:both; padding-top:7px;">
		<table id="list_cadt" class="scroll" cellpadding="0" cellspacing="0"></table>
		<div id="pager_cadt" class="scroll" style="text-align:center;"></div>
		<script src="{{MEDIA_URL}}js/cadt.js" type="text/javascript"> </script>
	</div>
{% endblock content %} 
