{% load uni_form_tags %}
	
	<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/themes/skydrea/jquery-ui-1.7.2.custom.css" />
	<link type="text/css" href="{{ MEDIA_URL }}css/ui.multiselect.css" rel="stylesheet" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/common.css" type="text/css" />
	<!--<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.3.2.min.js"></script>-->
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.7.1.custom.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/plugins/localisation/jquery.localisation-min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/plugins/tmpl/jquery.tmpl.1.1.1.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/plugins/blockUI/jquery.blockUI.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/ui.multiselect.js"></script>
	<script type="text/javascript">		
	$(document).ready(function(){
			$("#id_sub_aws_services").multiselect();
	});
	</script>
	<style type="text/css">
	#id_sub_aws_services{
		width:700px;
	}
	</style>
<form class="uniForm" method="POST" action="{% url "company_edit" %}">{% csrf_token %}
    
<table style="width: 100%">
	
                        {{ form.as_table }}
                        <tr><td>&nbsp;</td></tr>
                        <tr>
	                        <td>
				</td>
			</tr>
</table>
        <div class="form_block">
            <input type="submit" value="Update" /><input type="button" class="button" value="Cancel" onclick="window.location='{% url "company" %}';"/>
        </div>
</form>
