{% load i18n %}

<div id="info_top" style="background-image:url('/site_media/media/images/info_top.jpg'); width: 368px; height: 45px;"> 
 	
 	<div style="margin-left:15px; color: #FFFFFF;"><br />{% trans "Update Company" %}</div>
 
 </div>
 
<div id="info_bg" style="background-image:url('/site_media/media/images/info_bg.jpg'); width: 368px;">


{% include "profiles/company_edit_form.html" %}

</div>

<div id="info_btm" style="background-image:url('/site_media/media/images/info_btm.jpg'); width: 368px; height: 22px;" ></div> 


