{% extends "sd_admin/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% blocktrans %}Update Company{% endblocktrans %}{% endblock %}

{% block nav_title %}Show: Update Company{% endblock nav_title %}


{% block extra_javascript %}
	<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/themes/skydrea/jquery-ui-1.7.2.custom.css" />
	<link type="text/css" href="{{ MEDIA_URL }}css/ui.multiselect.css" rel="stylesheet" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/common.css" type="text/css" />
	<!--<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.3.2.min.js"></script>-->
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.7.1.custom.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/plugins/localisation/jquery.localisation-min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/plugins/tmpl/jquery.tmpl.1.1.1.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/plugins/blockUI/jquery.blockUI.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/ui.multiselect.js"></script>
	<script type="text/javascript">		
	$(document).ready(function(){
			$("#id_sub_aws_services").multiselect();
	});
	</script>
	<style type="text/css">
	
	#id_sub_aws_services{
			width:890px;
			height:500px;
		}
	#id_location{
		height:100px;
		width:300px;
	}
	#company_info fieldset{
		//min-height:320px;
	}
	</style>
{% endblock extra_javascript %}

{% block content %}
<form class="uniForm" method="POST" action="{% url "company_edit" %}" style="width:940px">{% csrf_token %}
	<fieldset id="company_info" style="float:left;width:935px">
		<legend>{% trans "Company Info" %}</legend>
		<div style="width:49%;float:left;">
		<div class="f_i_e">{{ form.name.errors }}</div>
		<div class="f_i_t">{{ form.name.label_tag }}</div>
		<div class="f_i_i">{{ form.name }}</div>
		<div class="f_i_e">{{ form.location.errors }}</div>
		<div class="f_i_t">{{ form.location.label_tag }}</div>
		<div class="f_i_i">{{ form.location }}</div>
		<div class="f_i_e">{{ form.contact_user.errors }}</div>
		<div class="f_i_t">{{ form.contact_user.label_tag }}</div>
		<div class="f_i_i">{{ form.contact_user }}</div>
		
		<div class="f_i_e">{{ form.industry.errors }}</div>
		<div class="f_i_t">{{ form.industry.label_tag }}</div>
		<div class="f_i_i">{{ form.industry }}</div>
		<div class="f_i_e">{{ form.website.errors }}</div>
		<div class="f_i_t">{{ form.website.label_tag }}</div>
		<div class="f_i_i">{{ form.website }}</div>
		</div>
		<div style="width:45%;margin-left:5%;float:left;">
		<fieldset style="width:385px;float:left;">
			<legend style="margin-left:140px;">{% trans "Statistics" %}</legend>
			<div class="f_i_e_2cols">{{ form.employee.errors }}</div>
			<div class="f_i_t_2cols">{{ form.employee.label_tag }}</div>
			<div class="f_i_i_2cols">{{ form.employee }}</div>
			<div class="f_i_e_2cols">{{ form.budget.errors }}</div>
			<div class="f_i_t_2cols">{{ form.budget.label_tag }}</div>
			<div class="f_i_i_2cols">{{ form.budget }}</div>
			<div class="f_i_e_2cols">{{ form.stage.errors }}</div>
			<div class="f_i_t_2cols">{{ form.stage.label_tag }}</div>
			<div class="f_i_i_2cols">{{ form.stage }}</div>
			<div class="f_i_e_2cols">{{ form.main_os.errors }}</div>
			<div class="f_i_t_2cols">{{ form.main_os.label_tag }}</div>
			<div class="f_i_i_2cols">{{ form.main_os }}</div>
		</fieldset>
		</div>
		
		<fieldset id="company_services" style="float:left;width:900px;">
			<legend style="margin-left:385px;">{% trans "Company Services" %}</legend>	
			<div class="f_i_e">{{ form.sub_aws_services.errors }}</div>
			<div class="f_i_t" style="width:100%">{{ form.sub_aws_services.label_tag }}</div>
			<div class="f_i_i" style="width:100%;padding-left:0px;">{{ form.sub_aws_services }}</div>
		</fieldset> 
	</fieldset>  
<table style="width: 100%">
	
                        <tr><td>&nbsp;</td></tr>
                        <tr>
	                        <td>
				</td>
			</tr>
</table>
        <div class="form_block" style="float:right;height:50px;">
            <input type="submit" value="Update" /><input type="button" class="button" value="Cancel" onclick="window.location='{% url "company" %}';"/>
        </div>
</form>

{% endblock %}
