{% extends "sd_admin/base.html" %}

{% load i18n %}

{% block head_title %}{% blocktrans %}{{ company }} Company Info{% endblocktrans %}{% endblock %}

{% block extra_javscript %}
<link href="{{ MEDIA_URL }}dashboard/style.css" rel="stylesheet" type="text/css" />


{% endblock extra_javscript %}

{% block nav_title %}Show: Company Info{% endblock nav_title %}

{% block content %}
  <style type="text/css">
hr{
    width:100%;
    float:left;
    margin-top:-10px;
    color:#2A7684;
}
</style> 
    <!--<h1>{{ company|capfirst }} {% trans "Company Info" %}</h1>-->
		<div style="width:980px">
		<fieldset>
		<legend>{{ company|capfirst }} {% trans "Company Info" %}
		{% if request.user.is_staff %}<a href="{% url "company_edit" %}">Edit</a>{%endif%}</legend>
				<div style="width:400px;float:left;">
					<div class="f_i_t">Name:</div> 
					<div class="f_i_i">{{ company.name }}&nbsp;</div>
					<hr>
					<div class="f_i_t">Location:</div>
					<div class="f_i_i">{{ company.location }}&nbsp;</div>
					<hr/>		
					
					{%comment%}<div class="f_i_t">
					{% if request.user.is_staff %}
						<a href="{% url "company_edit" %}">Edit</a>
					{%else%}&nbsp;
					{%endif%}
					</div>
					{%endcomment%}
				
					<div class="f_i_t ">Contact Info: </div>
					<div class="f_i_i">{{ contact_user.first_name|capfirst }} {{ contact_user.last_name|capfirst }}&nbsp;</div>
					<hr/>
					<div class="f_i_t">Industry: </div>
					<div class="f_i_i">{{ company.industry }}&nbsp;</div>
					<hr/>		
					<div class="f_i_t">Website: </div> 
					<div class="f_i_i">{{ company.website }}&nbsp;</div>
					<hr/>		
					<div class="f_i_t">Buget:</div>
					<div class="f_i_i">{{ company.budget }}&nbsp;</div>	
					<hr/>		
					<div class="f_i_t">Stage: </div>
					<div class="f_i_i">{{ company.stage }}&nbsp;</div>
					<hr/>		
					<div class="f_i_t">Main Cloud: </div>
					<div class="f_i_i">{{ company.cloud }}&nbsp;</div>
					<hr/>		
					<div class="f_i_t">Main OS: </div>
					<div class="f_i_i">{{ company.main_os }}&nbsp;</div>
					<hr/>
					<div class="f_i_t">Chef Org ID: </div>
					<div class="f_i_i">{{ company.org_id }}&nbsp;</div>
					<hr/>
					{% if children %}
					<fieldset style="width: 350px;float:left;">
					<legend style="margin-left:80px;">{{ company }} Partners:</legend>
						<table width="102%">
						<tr>
							
							<td class="titt"></td>
							<td class="titt_right" width="2%"></td>
						</tr>
							<table class="table_text_align_left">
								{% for child in children %}<tr class="{% cycle 'even' 'odd' %}"><td>{{ child.name }} </td></tr>{% endfor %}
							</table>
					</table>
							
					</fieldset>
					{% endif %}
					<fieldset style="width: 350px;float:left;">
					<legend style="margin-left:80px;">Endpoints</legend>
						<table width="102%">
						<tr>
							
							<td class="titt"></td>
							<td class="titt_right" width="2%"></td>
						</tr>
							<table class="table_text_align_left">
								<tr class="even"><td>Collector</td><td>ctr-n1.skydera.com</td></tr>
								<tr class="odd"><td>Collector</td><td>ctr-n2.skydera.com</td></tr>
								<tr class="even"><td>Chef Server</td><td>manage.skydera.com/chef/api/{Org ID}/</td></tr>
								
							</table>
					</table>
					</fieldset>
				</div>
		<fieldset style="width:450px;padding-left:40px;float:left;margin-left:10px;">
		<legend style="margin-left:140px;">Registered Services</legend>
			<table width="100%">
			<tr>
				
				<td class="titt"></td>
				<td class="titt_right" width="2%"></td>
			</tr>
				<table class="table_text_align_left">
				{% for service in services %} <tr class="{% cycle 'even' 'odd' %}"><td>{{ service }} </td></tr>{% endfor %}
				</table>
			</table>
		</fieldset>
	</fieldset>
	</div>
	

{% endblock %}
