{% extends "sd_admin/base.html" %}

{% load i18n %}
{% load humanize %}
{% load uni_form_tags %}


{% block head_title %}{% blocktrans %}Subscription{% endblocktrans %}{% endblock %}

{% block nav_title %}Show: Subscription {% endblock nav_title %}

{% block extra_javascript %}
<link type="text/css" href="{{MEDIA_URL}}css/jquery.contextMenu.css" rel="stylesheet">
{% endblock extra_javascript %}

{% block content %}

         <form class="uniForm" id="freetrial_form" method="post" action="{{ form.action }}">{% csrf_token %}
            <fieldset class="inlineLabels">
                {{ form|as_uni_form }}
                <div  class="form_blick">
                    <input type="submit" value="{% trans "Activate Free Trial&raquo;" %}" />
                </div>
            </fieldset>
        </form>

{% endblock content %} 
