{% block extra_javascript %}


<style type="text/css">

	
#id_department {
	width: 53.5%;
	height: 20px;
}

</style>


{% endblock extra_javascript %}


{% load uni_form_tags %}

<form class="uniForm" method="POST" action="{% url "profile_edit" %}">{% csrf_token %}
    <fieldset>
        {{ profile_form|as_uni_form }}
        <div class="form_block">
            <input type="submit" value="update" /><input type="button" class="button" value="Cancel" onclick="window.location='{% url "users_display" %}';"/>
        </div>
    </fieldset>
</form>
