{% extends "profiles/base.html" %}

{% load i18n %}




{% comment %}
{% load avatar_tags %}
{% load uni_form_tags %}
{% load group_tags %}
{% load microblogging_tags %}
{% load blog_tags %}
{% load tagging_tags %}
{% load threadedcommentstags %}
{% load photo_tags %}
{% endcomment %}




{% block head_title %}{% blocktrans %}Profile for {{ other_user }}{% endblocktrans %}{% endblock %}

{% block nav_title %}Show: Profile {{ other_user|capfirst|slice:":15"}} {% endblock nav_title %}

{% block content %}



			<div class="clear"></div>
			<table width="100%">
			<tbody><tr>
				
				<td class="titt"> User Profile </td>
				<td width="2%" class="titt_right"></td>
			</tr>
			</tbody></table>
	       		<table width="100%">

	       		<tr class="table_header" style="text-align:left"><th colspan="2">Change user settings</th></tr>
	       		<tr>
                  	<td width="39%" height="27" bgcolor="#234256" class="bdr-with-text"><a href="{% url "acct_passwd" %} "><strong>Change Password</strong></a></td>
                 	<td width="61%" height="27" bgcolor="#234256" class="bdr-with-text"></td>
                </tr>

				<tr>
					<td width="39%" height="27" bgcolor="#1B3343" class="bdr-with-text"><a href="{% url "acct_email" %} "><strong>Account Email</strong></a></td>
                	<td width="61%" height="27" bgcolor="#1B3343" class="bdr-with-text"></td>					

				</tr>
				<tr>
					<td width="39%" height="27" bgcolor="#234256" class="bdr-with-text"><a href="{% url "acct_timezone_change" %} "><strong>Account TimeZone</strong></a></td>
                	<td width="61%" height="27" bgcolor="#234256" class="bdr-with-text"></td>					

				</tr>

				 <tr>
                  	<td width="39%" height="27" bgcolor="#1B3343" class="bdr-with-text"><a href="{% url "acct_language_change" %} "><strong>Change Language</strong></a></td>
                  	<td width="61%" height="27" bgcolor="#1B3343" class="bdr-with-text"></td>
                </tr>

				</table> 


    {% comment %}
    <div class="right_panel">
        {% include "profiles/profile_right_panel.html" %}
    </div>
    {% endcomment %}
    
    {% endblock %}

{% block extra_body %}
    <script src="{{ STATIC_URL }}pinax/js/avatar.js" type="text/javascript"></script>
{% endblock %}
