{% extends "chartleaf/base.html" %}

{% block head_title %}Send Invites{% endblock head_title %}

{% block page_title %}<i class="fontello-icon-filter"></i> Send Invites <small> to your whole team</small>{% endblock page_title %}

	    

{% block breadcrumb %}
	<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
	<a href="#" class="current">Live Stream</a>
{% endblock breadcrumb %}


{% block body %}


<div class="page-content" id="page-content">
	<div class="navbar navbar-page">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav pull-left">
					<li id="demo1-tab" class="active"><a data-toggle="tab" href="#TabTop1">Invite Members</a> </li>
					<li id="demo2-tab"><a data-toggle="tab" href="#TabTop2">Invites</a> </li>
				</ul>
			</div>
		</div>
		<!-- /navbar-inner -->
	</div>
	<!-- /navbar -->
	<section>
		<div class="tab-content no-padding-top">
			<div class="tab-pane active" id="TabTop1">
				<section>
					<div class="page-header">
						<h3 aria-hidden="true" data-icon="" class="heading-icon">Invite <small>Members</small></h3>
					</div>
					<div class="row-fluid">
						<div class="span12">
							<!-- // CONTENT HERE -->
							<form class="form-dark" id="ajax_formInviteMemebrs">
																		
								<div class="form-horizontal form-dark well well-nice span7">
									<div class="control-group">
										<label class="control-label" for="inputEmail0">Invite:</label>
										<div class="controls">
											<input type="text" id="inputEmail0" placeholder="Member Email">
											<i id="inputEmail0-check" style='display:none' class="fontello-icon-check"></i>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="inputEmail1">Invite:</label>
										<div class="controls">
											<input type="text" id="inputEmail1" placeholder="Member Email">
											<i id="inputEmail1-check" style='display:none' class="fontello-icon-check"></i>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="inputEmail2">Invite:</label>
										<div class="controls">
											<input type="text" id="inputEmail2" placeholder="Member Email">
											<i id="inputEmail2-check" style='display:none' class="fontello-icon-check"></i>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="inputEmail3">Invite:</label>
										<div class="controls">
											<input type="text" id="inputEmail3" placeholder="Member Email">
											<i id="inputEmail3-check" style='display:none' class="fontello-icon-check"></i>
										</div> 
									</div>
									<div class="control-group">
										<label class="control-label" for="inputEmail4">Invite:</label>
										<div class="controls">
											<input type="text" id="inputEmail4" placeholder="Member Email">
											<i id="inputEmail4-check" style='display:none' class="fontello-icon-check"></i>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label" for="inputEmail5">Invite:</label>
										<div class="controls">
											<input type="text" id="inputEmail5" placeholder="Member Email">
											<i id="inputEmail5-check" style='display:none' class="fontello-icon-check"></i>
										</div>
									</div>
									<button id='form_submit_btn' type="submit"  class="btn btn-red pull-right">Submit Invites</button>
								</div>
								</form>									
							</div>
						</div>
						<!-- // Example row -->

					</section>
				</div>
				<div class="tab-pane" id="TabTop2">
					<section>
						<div class="page-header">
							<h3 aria-hidden="true" data-icon="" class="heading-icon">Check if Members recived your invite.</h3>
						</div>
						<div class="row-fluid">
							<div class="span12">
								
								<table class="table table-striped table-bordered boo-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Member Email</th>
                                            <th scope="col">Opened</th>
                                            <th scope="col">Opened Date</th>
                                            <th scope="col">registered</th>
                                            <th scope="col">Project</th>
                                        </tr>
                                    </thead>
                                    <tbody>
										{% for x in invites %}
											<tr>
												<td>{{x.member_email}}</td>
												<td>{{x.opened}}</td>
												<td>{{x.opened_date}}</td>
												<td>{{x.registered}}</td>
												<td>{{x.project_id}}</td>
											</tr>
										{% endfor %}
                                    </tbody>
                                </table>
								
								

							</div>
						</div>
						<!-- // Example row -->

					</section>
				</div>
			</div>
			<!-- // page content -->
		</section>
	</div>
	
</div>
		

{% endblock body %}


{% block extra_js %}
<script language="JavaScript">
    $(document).ready(function() {
        $('#ajax_formInviteMemebrs').submit(function() { // catch the form's submit event
			var x = new Object();

			for (i=0; i<=5; i++) {
				var e = document.getElementById("inputEmail"+i);
				x["inputEmail"+i] = e.value;
			}
		

			x['csrfmiddlewaretoken'] = '{{csrf_token}}'
				
            $.ajax({ 
                data: x, // get the form data
                type: 'POST',
                url: 'http://127.0.0.1/profiles/send/invites/form/',
				dataType: 'json',
				aysync: true,
                success: function(response) { // on success..
					$.each(response , function(k,v){
						$('#'+v+'-check').show()
						
					});
			

			
                }
            });
            return false;
        });
    });
</script>


{% endblock extra_js %}
