{% extends "sd_admin/base.html" %}

{% load i18n %}
{% load humanize %}
{% load pagination_tags %}

{% block head_title %}{% blocktrans %}Application Settings{% endblocktrans %}{% endblock %}

{% block nav_title %}Show: App Settings {% endblock nav_title %}

{% block select_cloud %}
{% endblock select_cloud %}


{% block content %}
<form action="." method="POST">{% csrf_token %}
  <table>
    <tr>
      <td valign="top" bgcolor="#142632" style="padding-left:25px; width: 820px;">
      	<div id="container-1">
	
            <ul style="display:none">
                <li><a href="#tab-1"></a></li>
                <li><a href="#tab-2"></a></li>
                <li><a href="#tab-3"></a></li>
                {% if form.errors %}<li><a href="#tab-4"></a></li>{% endif %}


            </ul>
        
            <div id="tab-1">
	      <div id="container-2">
            <ul style="">
                <li><a href="#tab-1_tab-0"><span>System</span></a></li>
                <li><a href="#tab-1_tab-1"><span>Alerts</span></a></li>
                <li><a href="#tab-1_tab-2"><span>Charts</span></a></li>
                {%comment%}<li><a href="#tab-1_tab-2"><span>Theme</span></a></li>{%endcomment%}
            </ul>
		<div id="tab-1_tab-0">
		<br>
		<div style="max-width:1000px">
		<h1 style="margin-top:-25px">Skydera</h1><br>
		<div class="bdr"></div>
  {{ form.instances_user_max.errors }} <br> 
		<div class="form_item_title">{{ form.instances_user_max.label_tag }}:</div>
		<div class="form_item_input">{{ form.instances_user_max}}</div>
  {{ form.instances_user_hours_max.errors }} 
		<div class="form_item_title">{{ form.instances_user_hours_max.label_tag }}:</div>
		<div class="form_item_input">{{ form.instances_user_hours_max}} Hours </div>
		<h1>Amazon</h1><br>
		<div class="bdr"></div>
  {{ form.instances_cloud_aws_max_select.errors }} <br> 
		<div class="form_item_title">{{ form.instances_cloud_aws_max_select.label_tag }}:</div>
		<div class="form_item_input">{{ form.instances_cloud_aws_max_select}} </div>
  {{ form.instances_cloud_aws_max.errors }} <br> <div class="form_item_title">{{ form.storage_cloud_aws_max.label_tag }}:</div>
		<div class="form_item_input">{{ form.storage_cloud_aws_max}}Gigabytes</div>
		
		<h1>Rackspace</h1><br>
	      <div class="bdr"></div>
  {{ form.instances_cloud_rks_max_select.errors }} <br> 
	      <div class="form_item_title">{{ form.instances_cloud_rks_max_select.label_tag }}:</div>
	      <div class="form_item_input">{{ form.instances_cloud_rks_max_select}}</div>
  {{ form.storage_cloud_rks_max.errors }} <br> <div class="form_item_title">{{ form.storage_cloud_rks_max.label_tag }}:</div>
	      <div class="form_item_input">{{ form.storage_cloud_rks_max}}Gigabytes</div>
	      <!--</div>-->
	      <!--<div id="tab-1_tab-3">-->
	      <h1>GoGrid</h1><br>
	      <div class="bdr"></div>
  {{ form.instances_cloud_gog_max_select.errors }} <br> <div class="form_item_title">{{ form.instances_cloud_gog_max_select.label_tag }}:</div>
	      <div class="form_item_input">{{ form.instances_cloud_gog_max_select}}</div>
  {{ form.storage_cloud_gog_max.errors }} <br> 
	    <div class="form_item_title">{{ form.storage_cloud_gog_max.label_tag }}:</div>
	    <div class="form_item_input">{{ form.storage_cloud_gog_max}}Gigabytes</div>
	    </div>
	    </div>
		<div id="tab-1_tab-1">
	      <h1>Level 1 User</h1><br>
	      <div class="bdr"></div>
  {{ form.alert_enabled_1.errors }} <br>
	    <div class="form_item_title">{{ form.alert_enabled_1.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_enabled_1}}</div>
  {{ form.alert_user_1.error_message.label }} <br>
	    <div class="form_item_title">{{ form.alert_username_1.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_username_1}}</div>
   {{ form.alert_email_1.errors }} <br>
	    <div class="form_item_title">{{ form.alert_email_1.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_email_1}}</div>
  {{ form.alert_sms_1.errors }} <br>
	    <div class="form_item_title">{{ form.alert_sms_1.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_sms_1}}</div>
  {{ form.alert_voice_1.errors }} <br>
	    <div class="form_item_title">{{ form.alert_voice_1.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_voice_1}}</div>
	    
	      <h1>Level 2 User</h1><br>
	      <div class="bdr"></div>
  {{ form.alert_enabled_2.errors }} <br>
	    <div class="form_item_title">{{ form.alert_enabled_2.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_enabled_2}}</div>
  {{ form.alert_username_2.errors }} <br>
	    <div class="form_item_title">{{ form.alert_username_2.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_username_2}}</div>
  {{ form.alert_email_2.errors }} <br>
	    <div class="form_item_title">{{ form.alert_email_2.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_email_2}}</div>
  {{ form.alert_sms_2.errors }} <br>
	    <div class="form_item_title">{{ form.alert_sms_2.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_sms_2}}</div>
  {{ form.alert_voice_2.errors }} <br>
	    <div class="form_item_title">{{ form.alert_voice_2.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_voice_2}}</div>
	    
	      <h1>Level 3 User</h1><br>
	      <div class="bdr"></div>
  {{ form.alert_enabled_3.errors }} <br>
	    <div class="form_item_title">{{ form.alert_enabled_3.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_enabled_3}}</div>
  {{ form.alert_user_3.errors }} <br>
	    <div class="form_item_title">{{ form.alert_username_3.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_username_3}}</div>
  {{ form.alert_email_3.errors }} <br>
	    <div class="form_item_title">{{ form.alert_email_3.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_email_3}}</div>
  {{ form.alert_sms_3.errors }} <br>
	    <div class="form_item_title">{{ form.alert_sms_3.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_sms_3}}</div>
  {{ form.alert_voice_3.errors }} <br>
	    <div class="form_item_title">{{ form.alert_voice_3.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_voice_3}}</div>
	    
	    
	      </div>
		<div id="tab-1_tab-2">
	      <h1>Updating</h1><br>
	      <div class="bdr"></div>
  {{ form.chart_update_interval_select.errors }} <br>
	    <div class="form_item_title">{{ form.chart_update_interval_select.label_tag }}:</div>
	    <div class="form_item_input">{{ form.chart_update_interval_select}}</div>
	      </div>
	      </div>
            </div>
            <div id="tab-2">
		<h1>Billing</h1><br>
	      <div class="bdr"></div>
              <table width="880" border="0" cellspacing="0" cellpadding="0">
  {{ form.billing_monthly_spend.errors }} <br> {{ form.billing_monthly_spend.label_tag }}:{{ form.billing_monthly_spend}}Dollars
  {{ form.billing_monthly_spend_alert_threshold.errors }} <br> {{ form.billing_monthly_spend_alert_threshold.label_tag }}:{{ form.billing_monthly_spend_alert_threshold}}%<br>
              </table>
            </div>
             <div id="tab-3">
              <table width="880" border="0" cellspacing="0" cellpadding="0">
  
              </table>
            </div>
             {% if form.errors %}
	     <div id="tab-4">
              <table width="880" border="0" cellspacing="0" cellpadding="0">
	      {{form.errors}}
              </table>
            </div>
	    {% endif %}
	   

        </div></td>
    </tr>
  </table> <div class="button"><input type="submit" value="Save"></div>
</form>
{% endblock content %} 

