{% extends "site_base_set.html" %}

{% load i18n %}
{% load humanize %}
{% load pagination_tags %}

{% block head_title %}{% blocktrans %}Application Settings{% endblocktrans %}{% endblock %}

{% block nav_title %}Show: App Settings {% endblock nav_title %}

{% block select_cloud %}
{% endblock select_cloud %}


{% block extra_javascript %}
        <script src="{{MEDIA_URL}}js/jquery.tabs.pack.js" type="text/javascript"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/selectToUISlider.jQuery.js"></script>
	<!--<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui-1.7.2.custom.min.js"></script>-->
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui-1.8.13.custom.min.js"></script>
	<link rel="stylesheet" href="{{MEDIA_URL}}css/themes/skydrea/jquery-ui-1.7.2.custom.css" type="text/css" />
	<link rel="Stylesheet" href="{{MEDIA_URL}}css/ui.slider.extras.css" type="text/css" />
        <script type="text/javascript">
            $(function() {

                $('#container-1,#container-2').tabs({ fxSlide: true, fxFade: true, fxSpeed: 'normal' });
        
            });
	    function click_this(num){
	      $('[href=#tab-'+num+']').click();
	      $('.clearb').each(function(){$(this).removeClass('active_item');});
	      switch(num){
		case 1:
		  $("#mainnav_general").addClass('active_item');
		break;
		case 2:
		  $("#mainnav_billing").addClass('active_item');
		break;
		case 3:
		  $("#mainnav_discovery").addClass('active_item');
		break;
		case 4:
		  $("#mainnav_errors").addClass('active_item');
		break;
		default: break;
		  
	      }
	    }
        </script>

        <link rel="stylesheet" href="{{MEDIA_URL}}css/jquery.tabs.css" type="text/css" media="print, projection, screen">
        <!-- Additional IE/Win specific style sheet (Conditional Comments) -->
        <!--[if lte IE 7]>
        <link rel="stylesheet" href="{{MEDIA_URL}}css/jquery.tabs-ie.css" type="text/css" media="projection, screen">
        <![endif]-->
<style type="text/css">
h1{
  text-shadow:1px 2px 1px #000000;
  margin: 10px 0 -25px 0;
}
#container-1 .tabs-container{
  background: none;
  border-top: none;
}
#container-2 .tabs-container{
  background: none;
  border-top: 3px solid #C3F73A;
}
#id_instances_user_max,#id_billing_monthly_spend_alert_threshold{
  width:22px;
}
#id_instances_user_hours_max,#id_billing_monthly_spend{
  width:60px;
}
#id_storage_cloud_aws_max,#id_storage_cloud_rks_max,#id_storage_cloud_gog_max,#id_storage_cloud_ggl_max{
  width:34px;
}
.ui-slider{
  margin-bottom:30px;
  border:1px solid #87FF12;
}
span.ui-widget-content{
  border:1px solid #87FF12;
}
#container-1{
  border:none;
}

.form_item_title{
  float:left;
  width:30%;
  text-align:right;
}
.form_item_input{
  float:left;
  width:65%;
  margin-bottom:10px;
  padding-left:5%;
}

</style>

{% endblock extra_javascript %}
{% block uniform_init %}
	<script type="text/javascript">
	$(document).ready(function(){
	    $("#mainnav_general").addClass('active_item');
		//init_uniform();
	    $("input, textarea, button").uniform();
	    //$('[name*="id_instances_cloud"]').each(function(){ $(this).selectToUISlider(); });
	    $('[name*="_select"]').each(function(){ 
	      var size = $(this).children().size();
	      var div=0;
	      size<25?div=2:div=5;
	      if(size<10)div=1;
	      $(this).selectToUISlider({labels:Math.floor(size/div)});
	      $(this).hide() 
	    });
	    $('.left_menu_items').css('display','block');
	    {% if form.errors %}click_this(4);{% endif %}

	});
	</script>
{% endblock uniform_init %}
{% block content %}
<form action="." method="POST">{% csrf_token %}
  <table>
    <tr>
      <td valign="top" bgcolor="#142632" style="padding-left:25px; width: 820px;">
      	<div id="container-1">
	
            <ul style="display:none">
                <li><a href="#tab-1"></a></li>
                <li><a href="#tab-2"></a></li>
                <li><a href="#tab-3"></a></li>
                {% if form.errors %}<li><a href="#tab-4"></a></li>{% endif %}


            </ul>
        
            <div id="tab-1">
	      <div id="container-2">
            <ul style="">
                <li><a href="#tab-1_tab-0"><span>System</span></a></li>
                <li><a href="#tab-1_tab-1"><span>Alerts</span></a></li>
                <li><a href="#tab-1_tab-2"><span>Charts</span></a></li>
                {%comment%}<li><a href="#tab-1_tab-2"><span>Theme</span></a></li>{%endcomment%}
            </ul>
		<div id="tab-1_tab-0">
		<br>
		<div style="max-width:1000px">
		<h1 style="margin-top:-25px">Skydera</h1><br>
		<div class="bdr"></div>
  {{ form.instances_user_max.errors }} <br> 
		<div class="form_item_title">{{ form.instances_user_max.label_tag }}:</div>
		<div class="form_item_input">{{ form.instances_user_max}}</div>
  {{ form.instances_user_hours_max.errors }} 
		<div class="form_item_title">{{ form.instances_user_hours_max.label_tag }}:</div>
		<div class="form_item_input">{{ form.instances_user_hours_max}} Hours </div>
		<h1>Amazon</h1><br>
		<div class="bdr"></div>
  {{ form.instances_cloud_aws_max_select.errors }} <br> 
		<div class="form_item_title">{{ form.instances_cloud_aws_max_select.label_tag }}:</div>
		<div class="form_item_input">{{ form.instances_cloud_aws_max_select}} </div>
  {{ form.instances_cloud_aws_max.errors }} <br> <div class="form_item_title">{{ form.storage_cloud_aws_max.label_tag }}:</div>
		<div class="form_item_input">{{ form.storage_cloud_aws_max}}Gigabytes</div>
		
		<h1>Rackspace</h1><br>
	      <div class="bdr"></div>
  {{ form.instances_cloud_rks_max_select.errors }} <br> 
	      <div class="form_item_title">{{ form.instances_cloud_rks_max_select.label_tag }}:</div>
	      <div class="form_item_input">{{ form.instances_cloud_rks_max_select}}</div>
  {{ form.storage_cloud_rks_max.errors }} <br> <div class="form_item_title">{{ form.storage_cloud_rks_max.label_tag }}:</div>
	      <div class="form_item_input">{{ form.storage_cloud_rks_max}}Gigabytes</div>
	      <!--</div>-->
	      <!--<div id="tab-1_tab-3">-->
	      <h1>GoGrid</h1><br>
	      <div class="bdr"></div>
  {{ form.instances_cloud_gog_max_select.errors }} <br> <div class="form_item_title">{{ form.instances_cloud_gog_max_select.label_tag }}:</div>
	      <div class="form_item_input">{{ form.instances_cloud_gog_max_select}}</div>
  {{ form.storage_cloud_gog_max.errors }} <br> 
	    <div class="form_item_title">{{ form.storage_cloud_gog_max.label_tag }}:</div>
	    <div class="form_item_input">{{ form.storage_cloud_gog_max}}Gigabytes</div>
	    </div>
	    </div>
		<div id="tab-1_tab-1">
	      <h1>Level 1 User</h1><br>
	      <div class="bdr"></div>
  {{ form.alert_enabled_1.errors }} <br>
	    <div class="form_item_title">{{ form.alert_enabled_1.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_enabled_1}}</div>
  {{ form.alert_user_1.error_message.label }} <br>
	    <div class="form_item_title">{{ form.alert_username_1.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_username_1}}</div>
   {{ form.alert_email_1.errors }} <br>
	    <div class="form_item_title">{{ form.alert_email_1.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_email_1}}</div>
  {{ form.alert_sms_1.errors }} <br>
	    <div class="form_item_title">{{ form.alert_sms_1.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_sms_1}}</div>
  {{ form.alert_voice_1.errors }} <br>
	    <div class="form_item_title">{{ form.alert_voice_1.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_voice_1}}</div>
	    
	      <h1>Level 2 User</h1><br>
	      <div class="bdr"></div>
  {{ form.alert_enabled_2.errors }} <br>
	    <div class="form_item_title">{{ form.alert_enabled_2.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_enabled_2}}</div>
  {{ form.alert_username_2.errors }} <br>
	    <div class="form_item_title">{{ form.alert_username_2.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_username_2}}</div>
  {{ form.alert_email_2.errors }} <br>
	    <div class="form_item_title">{{ form.alert_email_2.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_email_2}}</div>
  {{ form.alert_sms_2.errors }} <br>
	    <div class="form_item_title">{{ form.alert_sms_2.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_sms_2}}</div>
  {{ form.alert_voice_2.errors }} <br>
	    <div class="form_item_title">{{ form.alert_voice_2.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_voice_2}}</div>
	    
	      <h1>Level 3 User</h1><br>
	      <div class="bdr"></div>
  {{ form.alert_enabled_3.errors }} <br>
	    <div class="form_item_title">{{ form.alert_enabled_3.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_enabled_3}}</div>
  {{ form.alert_user_3.errors }} <br>
	    <div class="form_item_title">{{ form.alert_username_3.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_username_3}}</div>
  {{ form.alert_email_3.errors }} <br>
	    <div class="form_item_title">{{ form.alert_email_3.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_email_3}}</div>
  {{ form.alert_sms_3.errors }} <br>
	    <div class="form_item_title">{{ form.alert_sms_3.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_sms_3}}</div>
  {{ form.alert_voice_3.errors }} <br>
	    <div class="form_item_title">{{ form.alert_voice_3.label_tag }}:</div>
	    <div class="form_item_input">{{ form.alert_voice_3}}</div>
	    
	    
	      </div>
		<div id="tab-1_tab-2">
	      <h1>Updating</h1><br>
	      <div class="bdr"></div>
  {{ form.chart_update_interval_select.errors }} <br>
	    <div class="form_item_title">{{ form.chart_update_interval_select.label_tag }}:</div>
	    <div class="form_item_input">{{ form.chart_update_interval_select}}</div>
	      </div>
	      </div>
            </div>
            <div id="tab-2">
		<h1>Billing</h1><br>
	      <div class="bdr"></div>
              <table width="880" border="0" cellspacing="0" cellpadding="0">
  {{ form.billing_monthly_spend.errors }} <br> {{ form.billing_monthly_spend.label_tag }}:{{ form.billing_monthly_spend}}Dollars
  {{ form.billing_monthly_spend_alert_threshold.errors }} <br> {{ form.billing_monthly_spend_alert_threshold.label_tag }}:{{ form.billing_monthly_spend_alert_threshold}}%<br>
              </table>
            </div>
             <div id="tab-3">
              <table width="880" border="0" cellspacing="0" cellpadding="0">
  
              </table>
            </div>
             {% if form.errors %}
	     <div id="tab-4">
              <table width="880" border="0" cellspacing="0" cellpadding="0">
	      {{form.errors}}
              </table>
            </div>
	    {% endif %}
	   

        </div></td>
    </tr>
  </table> <div class="button"><input type="submit" value="Save"></div>
</form>
{% endblock content %} 

{% block main_nav %}
<div id="bg-left">
<div>
<ul class="menu" style="float:left">
    <li class="left_menu">Configuration
      <ul class="left_menu_items">
    <li>
    <div id="menu-out">
	<div id="mainnav_general" class="clearb">
	    <div id="header-right-cont3"><img src="{{ MEDIA_URL }}images/icons/cloud.png" width="16" height="16" /></div>
	    <div id="header-right-cont2"><a href="javascript:void(0);" onclick="click_this(1)">General</a></div>
	</div>
	<div id="mainnav_billing" class="clearb">
	    <div id="header-right-cont3"><img src="{{ MEDIA_URL }}images/icons/money.png" width="16" height="16" /></div>
	    <div id="header-right-cont2"><a href="javascript:void(0);" onclick="click_this(2)">Financial</a></div>
	</div>
	<div id="mainnav_discovery" class="clearb">
	    <div id="header-right-cont3"><img src="{{ MEDIA_URL }}images/icons/lightbulb.png" width="16" height="16" /></div>
	    <div id="header-right-cont2"><a href="javascript:void(0);" onclick="click_this(3)">Discovery</a></div>
	</div>
	{% if form.errors %}
	<div id="mainnav_errors" class="clearb">
	    <div id="header-right-cont3"><img src="{{ MEDIA_URL }}images/icons/lightbulb.png" width="16" height="16" /></div>
	    <div id="header-right-cont2"><a href="javascript:void(0);" onclick="click_this(4)">Errors</a></div>
	</div>
	{% endif %}
    </div>
  </li>
</ul>
</li>
</div>
</div>
{% endblock main_nav %}
