{% extends "sd_admin/base.html" %}

{% load i18n %}
{% load humanize %}


{% block head_title %}{% blocktrans %}Account Subscription{% endblocktrans %}{% endblock %}

{% block nav_title %}Show: Subscription {% endblock nav_title %}

{% block extra_javascript %}

<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.jeditable.js" charset="utf-8"></script> 

<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.contextMenu.js"></script>
<link type="text/css" href="{{MEDIA_URL}}css/jquery.contextMenu.css" rel="stylesheet">

 
 <script type="text/javascript">
jQuery(document).ready(function(){

  $( '#spinner' ).hide();
  
    			$("#show_term").toggle( function () {
        			$( '#term_instances' ).show();
      			},
      			function () {
       				$( '#term_instances' ).hide();
      			});

	
				
			});
			
$( document ).ajaxStart( function() {
	$( '#spinner' ).show();

}).ajaxStop( function() {
	$( '#spinner' ).hide();
});

           
        </script>


{% endblock extra_javascript %}

{% block content %}

<div>

 <table width="100%" border="0" cellspacing="0" cellpadding="0">
 <tr>
    <td class="titt" colspan="2">Subscription Information</td>
</tr>

    <tr>
      <td width="39%" height="27" align="left" valign="middle" bgcolor="#0E1A21" class="bdr-with-text"><strong><span class="cat"></span></strong></td>
      <td width="61%" height="27" align="left" valign="middle" bgcolor="#0E1A21" class="bdr-with-text"></td>
    </tr>
    <tr>
    
      <td width="39%" height="27" bgcolor="#1B3343" class="bdr-with-text"><strong>Subscription ID</strong></td>
      <td width="61%" height="27" bgcolor="#1B3343" class="bdr-with-text">{{ subscription.id }}</td>
    </tr>
    <tr>
      <td width="39%" height="27" bgcolor="#234256" class="bdr-with-text"><strong>Billing Day of the Month</strong></td>
      <td width="61%" height="27" bgcolor="#234256" class="bdr-with-text">{{subscription.billing_day_of_month}}</td>
    </tr>
    <tr>
      <td width="39%" height="27" bgcolor="#1B3343" class="bdr-with-text"><strong>First Billing Day</strong></td>
      <td width="61%" height="27" bgcolor="#1B3343" class="bdr-with-text">{{ subscription.first_billing_date }}</td>
    </tr>
    <tr>
      <td height="27" bgcolor="#234256" class="bdr-with-text"><strong>Never Expires</strong></td>
      <td height="27" bgcolor="#234256" class="bdr-with-text">{{ subscription.never_expires }}</td>
    </tr>
    <tr>
      <td height="27" bgcolor="#1B3343" class="bdr-with-text"><strong>Next Billing Data</strong></td>
      <td height="27" bgcolor="#1B3343" class="bdr-with-text">{{ subscription.next_billing_date}}</td>
    </tr>
    <tr>
      <td height="27" bgcolor="#234256" class="bdr-with-text"><strong>Price</strong></td>
      <td height="27" bgcolor="#234256" class="bdr-with-text">{{ subscription.price }}</td>
    </tr>
    <tr>
      <td height="27" bgcolor="#1B3343" class="bdr-with-text"><strong>Status</strong></td>
      <td height="27" bgcolor="#1B3343" class="bdr-with-text">{{ subscription.status }}</td>
    </tr>
    <tr>
      <td height="27" bgcolor="#234256" class="bdr-with-text"><strong>Trial Duration</strong></td>
      <td height="27" bgcolor="#234256" class="bdr-with-text">{{ subscription.trial_duration }} {{ subscription.trial_duration_unit|capfirst }}</td>
    </tr>
    <tr>
      <td height="27" bgcolor="#1B3343" class="bdr-with-text"><strong>Trial Active</strong></td>
      <td height="27" bgcolor="#1B3343" class="bdr-with-text">{{ subscription.trial_period }}</td>
    </tr>
  </table>
	
</div>

{% endblock content %} 
