{% extends "sd_admin/base.html" %}

{% load i18n %}
{% load humanize %}


{% block head_title %}{% blocktrans %}Account Transactions{% endblocktrans %}{% endblock %}

{% block nav_title %}Show: Transactions {% endblock nav_title %}

{% block extra_javascript %}

<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.jeditable.js" charset="utf-8"></script> 

<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.contextMenu.js"></script>
<link type="text/css" href="{{MEDIA_URL}}css/jquery.contextMenu.css" rel="stylesheet">


 
 <script type="text/javascript">
jQuery(document).ready(function(){



  $( '#spinner' ).hide();
  
    			$("#show_term").toggle( function () {
        			$( '#term_instances' ).show();
      			},
      			function () {
       				$( '#term_instances' ).hide();
      			});

	
				
			});
			
$( document ).ajaxStart( function() {
	$( '#spinner' ).show();

}).ajaxStop( function() {
	$( '#spinner' ).hide();
});


        </script>


{% endblock extra_javascript %}

{% block content %}

<div>
	       		<table width="100%">
	       		<tr>
        			<td class="titt" colspan="10">Account Transactions: ({{ transactions.maximum_size }})</td>
      			</tr>

	       		<tr class="table_header"><th>Transaction ID</th><th style="text-align:left">Amount</th><th>Subscription</th><th>Type</th><th>Status</th><th>Response</th><th>Currency</th><th>Date</th></tr>
					{% if transactions %}
							{% for tt in transactions.items %}
								<tr class="{% cycle 'even' 'odd' %}">
									<td>{{ tt.id }}</td>
									<td>{{ tt.amount }}</td>
									<td>{{ tt.subscription_id }}</td>
									<td>{{ tt.type|capfirst }}</td>
									<td>{{ tt.status|capfirst }}</td>
									<td>{{ tt.processor_response_text }}</td>
									<td>{{ tt.currency_iso_code }}</td>
									<td>{{ tt.created_at }}</td>	
								</tr>
							{% endfor %}
					{% else %}
								<tr class="even">					
									<td colspan="10">No Transactions have been processed for this account.</td>
								</tr>
					{% endif %}
					

				</table> 
			
</div>



{% endblock content %} 
