{% extends "theme_base.html" %}

{% load url from future %}
{% load i18n %}

{% block body_class %}account{% endblock %}

{% block subnav %}
    <ul class="nav nav-list">
        <li class="nav-header">{% trans "Account" %}</li>
        <li><a href="{% url "account_settings" %}">{% trans "Settings" %}</a></li>
        <li><a href="{% url "account_password" %}">{% trans "Change password" %}</a></li>
        <li><a href="{% url "account_delete" %}">{% trans "Delete account" %}</a></li>
    </ul>
{% endblock %}
