{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Email confirmed" %}{% endblock %}

{% block body %}
    <h1>{% trans "Email confirmed" %}</h1>
    <p>{% blocktrans with email=confirmation.email_address.email %}You have confirmed <b>{{ email }}</b>{% endblocktrans %}</p>
{% endblock %}
