{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Login" %}
{% endblock %}


{% block extra_js %}

    <script type="text/javascript">
      jQuery(document).ready(function() {
          // hide spinner
          $('#page-loader').css("display", "none");
    });
    </script>


{% endblock extra_js %}


{% block body_class %}login-page{% endblock body_class %}

{% block main_container %}
 <div id="main">
  <div class="container">
    <div class="row">
      <div id="page-logo"> Welcome to Cloud Manager v2.0</div>
    </div>
    <div class="row">
      <div class="panel">
        <div class="panel-heading">
          <div class="panel-title"> <span class="glyphicon glyphicon-lock"></span> Login </div>
          <!--<span class="panel-title-sm pull-right padding-right-sm">Not <b>Cynthia Blue?</b></span> -->
        </div>
        <form class="cmxform" id="altForm" method="post" action="{% url 'account_login' %}"> {% csrf_token %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
          <div class="panel-body">
            <!--<div class="login-avatar"> <img src="img/avatars/login.png" width="150" height="112" alt="avatar"> </div>-->
            <div class="form-group">
              <div class="input-group"> <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span> </span>
                <input id="id_username" name="username" type="text" class="form-control phone" autocomplete="off" placeholder="User Email">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group"> <span class="input-group-addon"><span class="glyphicon glyphicon-link"></span> </span>
                <input id="id_password" name="password" type="password" class="form-control product" autocomplete="off" placeholder="Password">
              </div>
            </div>
            <!--<div class="alert alert-warning login-alert">Please read our <b>Terms of Use</b> before logging in.</div>-->
          </div>
          <div class="panel-footer"> <span class="panel-title-sm pull-left" style="padding-top: 7px;"><a> Forgotten Password?</a></span>
            <div class="form-group margin-bottom-none">
              <input class="btn btn-primary pull-right" type="submit" value="Login" />
              <div class="clearfix"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock main_container %}
    
