{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Log out" %}{% endblock %}

{% block body %}

        <div class="span10">
            <form method="POST" action="{% url "account_logout" %}" class="form-horizontal">
                <legend>{% trans "Log out" %}</legend>
                <fieldset>
                    {% csrf_token %}
                    <p>{% trans "Are you sure you want to log out?" %}</p>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">{% trans "Log out" %}</button>
                    </div>
                </fieldset>
            </form>
        </div>

{% endblock %}
