{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Set your new password" %}{% endblock %}

{% block body %}
    <form method="POST" action="{% url "account_password_reset_token" uidb36=uidb36 token=token %}">
        <legend>{% trans "Set your new password" %}</legend>
        <fieldset>
            {% csrf_token %}
            {{ form|as_bootstrap }}
            <div class="form-actions">
                 <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
