{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Login" %}
{% endblock %}

{% block nav_top %}
    <div class="container"> </div>
{% endblock nav_top %}

{% block extra_js %}

    <!-- Custom styles -->
    <style type="text/css">
        .signin-content {
            max-width: 360px;
            margin: 60px auto 20px;
        }
    </style>
{% endblock extra_js %}


{% block header_drawer %}{% endblock header_drawer %}

{% block body_class %}
    signin signin-vertical
{% endblock %}

{% block main_container %}
        <div id="main-content" class="main-content container">
            <div class="signin-content">
                <h1 class="welcome text-center" style="line-height: 0.8;"><span style="margin-left: -45px;">Welcome to</span><br />
                    Chartleaf<small>Analytics</small></h1>
                <div class="well well-black well-impressed">
                    <div class="tab-content overflow">
                       
                        <div class="tab-pane fade in active" id="register">
                            <h3 class="no-margin-top"><i class="fontello-icon-users"></i> New User Registration</h3>
                            <form class="form-tied margin-00" method="post" action="{% url "payments_signup" %}" autocapitalize="off" name="login_form">{% csrf_token %}
                                   <input id="idPlan" type="hidden" name="plan" value="">
                                   <input id="id_project" type="hidden" name="project" value="">
                                   <input id="id_invite" type="hidden" name="invite" value=""> 
                                <fieldset>
                                    <legend class="two"><span>Account information</span></legend>
                                    <ul>
                                        <li>
                                            
                                            <input id="idLogin" class="input-block-level" type="text" name="id_name" placeholder="first and last name">
                                        </li>
                                        <li>
                                            <input id="idLogin" class="input-block-level" type="text" name="email" id="id_email" placeholder="email address">
                                        </li>
                                    </ul>
                                </fieldset>
                                <fieldset>
                                    <legend class="two"><span>Password</span></legend>
                                    <ul>
                                        <li>
                                            <input id="id_password" class="input-block-level" type="password" name="password" placeholder="password">
                                        </li>
                                        <li>
                                            <input id="id_password_confirm" class="input-block-level" type="password" name="password_confirm"  placeholder="confirm password">
                                        </li>
                                    </ul>
                                    <a href="#register_cont" class="btn btn-green btn-block btn-large" data-toggle="tab">Continue</a>
                                    <hr class="margin-xm">
                                    <p><a href="#login" class="pull-right link" data-toggle="tab">Try to log in.</a></p>
                                </fieldset>
                            
                            <!-- // form --> 
                            
                        </div>
                        <!-- // Tab Forgot --> 
                        <div class="tab-pane fade form-tied" id="register_cont">
                            <h3 class="no-margin-top"><i class="fontello-icon-users"></i> New User Registration</h3>
                                <fieldset>
                                    <legend class="two"><span>Company</span></legend>
                                    <ul>
                                        <li>
                                            <input id="idCompany" class="input-block-level" type="text" name="id_company">
                                        </li>
                                    </ul>
                                </fieldset>
                                <fieldset>
                                    <legend class="two"><span>Phone Number</span></legend>
                                    <ul>
                                        <li>
                                            <input id="idPhoneN" class="input-block-level" type="text" name="phonenymber" placeholder="phone number">
                                        </li>
                                    </ul>
                                    <button type="submit" class="btn btn-green btn-block btn-large">REGISTER TO CHARTLEAF</button>
                                    <hr class="margin-xm">
                                    <p><a href="#login" class="pull-right link" data-toggle="tab">Try to log in.</a></p>
                                </fieldset>
                            </form>
                            <!-- // form --> 
                            
                        </div>
                        <!-- // Tab Forgot --> 
                        
                    </div>
                </div>
                <!-- // Well-Black --> 
   
                <div class="web-description">
                    <h5>Copyright Skydera Inc. &copy; 2009-2014 chartleaf.com</h5>
                        All rights reserved.</p>
                </div>
                
               
            </div>
            <!-- // sign-content -->

        </div>
        <!-- // main-content --> 
        
    </div>
    <!-- // main-container  --> 
    
{% endblock main_container %}
    
